[2018-03-15 19:40] Adiqq opened #3260 "Kubernetes dashboard - stops working after some time"
## What you expected to happen?
Kubernetes dashboard work correctly
## What happened?
After some time, kubernetes dashboard stops to work, it displays error:
Gateway Timeout (504)
the server was unable to return a response in the time allotted, but may still be processing the request (get configmaps)

It worked correctly with Calico 2.6.x , but something is wrong on weave net, it might be specific

[2018-03-15 23:08] vivek-jain commented on #3256
@bboreham would you mind advising based on the stacktrace I had attached above?

[2018-03-16 10:10] bboreham commented on #3256
Are you sure that trace is from a time it got killed due to liveness probe?

[2018-03-16 10:14] bboreham commented on #3256
If it is, then the `weave --local status` output ([instructions](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#troubleshooting)) would be useful.  Again, obtained in the 30 seconds between startup and getting killed.  Or you could increase that value.

[2018-03-19 07:05] mrdima commented on #2924
Ok, more than a month later I updated my gist. It now uses the ip ranges instead of (sometimes impossible to match) cidr ranges equal to the ones weave has. (-m iprange --dst-range).

[2018-03-19 11:14] caarlos0 commented on #2797
Still having this issue in a new kubernetes 1.8.8 cluster (launched with kops 1.8) on a pre-existing VPC.

The cluster was still small (went from 3 nodes to 2 nodes - plus master, so, 4 to 3 in total) - maybe that is the reason (not enough instances to the quorum)?

[2018-03-19 11:22] bboreham commented on #2797
@caarlos0 please can you open a new issue detailing what you are seeing.  There is no minimum number of nodes, but note the cleanup in #3149 only runs when a `weave` container starts.

[2018-03-19 11:24] caarlos0 commented on #2797
ohh, so that's it, a node go down, the cleanup doesn't run until a new node is up... OK then, no issue 👍

thanks

[2018-03-19 16:13] zetaab commented on #3259
I am trying to do clean installation using same commands. The result is

[code]

Now I am trying to different version.

[2018-03-19 16:17] carlosedp commented on #3259
@zetaab I had similar problems while deploying Kubernetes where I needed to reset it all between installs.
I made a GIST with the commands to reset it all:
https://gist.github.com/carlosedp/5040f4a1b2c97c1fa260a3409b5f14f9

Start from line 10 for resetting Weave.

[2018-03-19 16:21] zetaab commented on #3259
this has worked like one year, but now the ansible configuration is broken :(

[2018-03-19 16:51] stuartz-VernonCo opened #3261 "Run Weave natively on Windows 10 with WSL"
## This IS a FEATURE REQUEST
## What are the benefits?
Able to run weave natively on Windows for development
## Brief summary of issue and solution
I have been able to get weave commands working on Windows 10 WSL including weave attach.  However, WSL doesn't have unix sockets so I am not able to start containers running on the weave net. Have Weave net check for unix socket availiblity and if not

[2018-03-19 17:33] bboreham commented on #3261
I think we have the basic request already at #976, though it's interesting to have extra data about WSL.

Weave Net is built on lots of Linux facilities like the VXLAN kernel module, netfilter, network namespaces, etc.; all of the code using them will need to be replaced with the equivalent for Windows.

[2018-03-19 18:37] stuartz-VernonCo commented on #3261
While #976 has to do with Windows containers rather than Linux containers on docker for windows,  it appears that weave generally works on WSL for linux containers.  I am able to attach to a container and communicate with other containers on the network from different hosts.  Only issue was AF_UNIX error.  It may be that WSL has some of the requirements since I'm able to attach and use the contain

[2018-03-20 07:48] rade commented on #2944
We've fixed some issues with iptable rules not being installed correctly in some cases. Given the age of this issue, it's a reasonable assumption that these have fixed the problem.

[2018-03-20 07:48] #2944 closed

[2018-03-20 07:50] #3068 closed

[2018-03-20 07:51] rade commented on #3073
We seem to have reached a dead end in the investigation here. -> closing

[2018-03-20 07:51] #3073 closed

[2018-03-20 07:53] rade commented on #3075
We've not had further reports of this, so it's a fair guess that the kernel fix has propagated sufficiently far and is doing its job. -> closing.

[2018-03-20 07:53] #3075 closed

[2018-03-20 08:04] rade commented on #3118
Seems like we've reached a dead end here in the investigation. -> closing.

[2018-03-20 08:04] #3118 closed

[2018-03-20 08:07] rade commented on #3120
It seems like we've reached a dead end in the investigation here. -> closing

[2018-03-20 08:07] #3120 closed

[2018-03-20 08:09] #3126 closed

[2018-03-20 08:15] rade commented on #3165
Seems like we've reached a dead end in the investigation here. -> closing

[2018-03-20 08:15] #3165 closed

[2018-03-20 08:16] #3182 closed

[2018-03-20 08:24] rade commented on #3207
Just applying the new config should usually work. If that fails, I'd delete the daemonset first.

[2018-03-20 08:24] #3207 closed

[2018-03-20 08:25] rade commented on #3220
It seems like we've reached a dead end in the investigation here. -> closing

[2018-03-20 08:25] #3220 closed

[2018-03-20 08:36] #3150 closed

[2018-03-20 08:36] rade commented on #3221
That seems like a fair guess. I wonder whether the plugin in the store is missing an arm image.

[2018-03-20 10:48] bboreham commented on #3257
The fix is rolled out to cloud.weave.works now.

[2018-03-20 10:48] #3257 closed

[2018-03-20 14:58] dostoevskoy opened #3262 "No internet connection from any pod"
Hello,

I'm using weave network for building my Kubernetes cluster. I've created 1 master 1 worker cluster and met an issue with connecting to any internet resource or any ip except the ip of host, when pod is running. pods communicate between each other well, but ican't reache any another ip (e.g external dns)
Could you please assist with it?

## Versions:

[code]

## Logs:
No any errors in weave

[2018-03-20 15:06] brb commented on #3260
Thanks for the report.

Have you checked kube-apiserver logs to see maybe timing out requests fail there?

Also, noting that there are plenty of 503/504 bug reports (https://github.com/kubernetes/dashboard/issues?q=503 and https://github.com/kubernetes/dashboard/issues?q=503) at the project Github page.

[2018-03-20 15:25] brb commented on #3259
@carlosedp Thanks for the issue.

The error `FATA: 2018/03/15 15:38:37.870839 Existing bridge type "bridge" is different than requested "bridged_fastdp". Please do 'weave reset' and try again` indicates that before the update you were running Weave with fastdp disabled. Did you do it by intention? If not, do you have logs of weave-kube before the update?

It's expected that existing connections to

[2018-03-20 15:25] brb commented on #3259
@zetaab Could you please open a separate issue?

[2018-03-20 15:40] brb commented on #3262
Thanks for the issue.

1. Does `ip route` run on any of pods which cannot reach internet has a default route?
2. If you run `tcpdump -i weave` from the worker node and try connecting to internet from the pod, do you see packets in tcpdump?
3. Could you run `iptables-save -c` from the worker node, save the output, then try to reach internet from the pod, and run `iptables-save -c` again?

[2018-03-20 17:30] dostoevskoy commented on #3262
1. `ip route` on master and worker respectively :
master - `10.32.0.0/12 dev weave  proto kernel  scope link  src 10.32.0.1`
worker - `10.32.0.0/12 dev weave  proto kernel  scope link  src 10.46.0.0`
2. I've tried to run a command `curl http://example.com` and got the next in tcpdump output:
[code]
172.18.4.9 and 172.18.4.10 are dns servers inherited from the worker host but kubedns can't connect

[2018-03-20 18:00] Adiqq commented on #3260
I didn't check kube-apiserver logs this time, but this issue is specific to [kubespray](https://github.com/kubernetes-incubator/kubespray) with weave (or weave itself). I use combination of kubernetes dashboard, dex, oauth2_proxy and from what I remember, I could see also problem in dex logs, https://github.com/coreos/dex/issues/992 , there were similiar errors.
I went back to Calico and it works

[2018-03-20 18:02] brb commented on #3262
Thanks, but can you please attach to the pod and run `ip route` from there?

[2018-03-20 18:03] dostoevskoy commented on #3262
ip route from the pod:
[code]

[2018-03-20 18:24] brb commented on #3262
Seems to be alright. Can you reach example.com from the worker or the master node (not from the pod)? If yes, what happens when you `ping 8.8.8.8` from the pod?

[2018-03-20 18:38] dostoevskoy commented on #3262
@brb , yes, I can reach example.com and other else url from worker or master host.
But I can't reach anything from pod.
- try to ping 8.8.8.8 from the pod:
[code]
- try to reach master host ip:
[code]

I can reach only host ip (where pod is placed):
[code]

[2018-03-21 07:34] mrdima commented on #2624
We also need egress badly. The lack of this in weave will force us to move to calico (or cilium, but that still seems a bit young) in a couple of months, we don't have time to extend weave ourselves. So to confirm, at this moment nobody is working on this and there is no priority from weaveworks or other devs?

[2018-03-21 08:30] brb commented on #3262
@dostoevskoy Is this comment https://github.com/weaveworks/weave/issues/3239#issuecomment-367728619 related to your current setup / observations?

[2018-03-21 08:42] dostoevskoy commented on #3262
@brb already not. I've upgraded OS and with a new kernel services and deployments are working fine. Kubedns also running, but just can't connect to upstream dns servers.

[2018-03-21 10:49] brb commented on #3262
OK. Could you run tcpdump on the worker node again, but this time `tcpdump -i weave -w weave.pcap` and `tcpdump -i eth0 -w eth0.pcap` at the same time and provide the PCAPs?

[2018-03-21 10:55] brb commented on #2624
@mrdima We're considering to add this to the next milestone. I will update once a decision has been made.

[2018-03-21 14:45] carlosedp commented on #3259
@brb, I haven't disabled fastdp, just deployed using the default manifests. They are connecting in sleeve mode by default:

[code]

Maybe any missing parameter on my Kernel? I'm running on ARM64 platform:

[code]

[2018-03-21 16:00] dostoevskoy commented on #3262
From console:
[code]
weave.pcap and eth0.pcap in the tcpdump.zip archive:
[tcpdump.zip](https://github.com/weaveworks/weave/files/1834063/tcpdump.zip)

[2018-03-21 20:43] carlosedp commented on #3259
I found that my Kernel does not have OVS modules compiled. Will build them and try again to see if fastdp gets enabled.

[2018-03-22 10:00] dostoevskoy commented on #3262
@brb it seems I've resolved the issue. I went trough all configs and found, that ip_forwarding for interface eth0 has been set to 0. So, after applying  `net.ipv4.conf.eth0.forwarding = 1` the issue has been resolved.
Now external services and all internet services are available from pods in a weave network.

[2018-03-22 19:41] carlosedp commented on #3259
Just updated the kernel on my nodes to one that contains the openvswitch module and now the weave nodes connect on fastdp mode:

[code]

I will follow up if the problem happens again. Will close the issue.

[2018-03-22 19:41] #3259 closed

[2018-03-24 11:06] brb commented on #3262
Thanks for the update @dostoevskoy

[2018-03-24 11:06] #3262 closed

[2018-03-24 11:33] brb commented on #3259
@carlosedp Thanks for the update.

I find it strange that previously weave has created the bridge of the `bridged_fastdp` type even if your machine didn't have the required OVS modules.

[2018-03-26 10:28] bboreham commented on #1787
Fixed in #2713

[2018-03-26 10:28] #1787 closed

[2018-03-26 17:56] wakawaka54 opened #3264 "Cannot Ping Node IP After Node Reset [Kubernetes]"
## What you expected to happen?
I expected that I would be able to ping other node IPs from nodes within my cluster.

## What happened?
Node 1 -> Node 2 (ping) fails
Node 1 -> Master (ping) suceeds
Node 2 -> Master (ping) suceeds
Node 2 -> Node 1 (ping) fails
Node 1 -> (Pod) Node 2 (ping) suceeds

I can actually ping pods that are running on Node 2 from Node 1, however if I ping the actual physica

[2018-03-28 11:53] brb commented on #3264
@wakawaka54 Thanks for the issue.

Were you able to ping Node2 from Node1 before running Weave Net?
Do you run any firewall between Nodes?

[2018-03-29 09:20] neith00 opened #3267 "Containers started directly started on k8s hosts cant reach outside docker0"
## What you expected to happen?
Containers directly started on a k8s hosts should be able to communicate with the 'outside world'.
On the other side, containers started by k8s are working perfectly.

## What happened?
Currently containers started on k8s hosts are not able to reach internet.
Seems like network requests are going out but no responses are received.

## How to reproduce it?
Deployed k

[2018-03-29 10:00] bboreham commented on #3267
This says the packet reached your external interface:

[code]

However it has the Docker IP address, so most likely your network doesn't know how to route the reply.  It's traditional to "masquerade" that IP address to the host address via NAT.

In Docker this is controlled by the `--ip-masq` setting, however Kubernetes installations sometimes use other components such as `ip-masq-agent`.  I don't

[2018-03-29 11:45] neith00 commented on #3267
--ip-masq is set to true (its the default but I also added it explicitly)

[2018-03-29 11:59] bboreham commented on #3267
ah, how about `--iptabels` ?

[2018-03-29 12:03] neith00 commented on #3267
bingo --iptables was set to false!

[2018-03-29 12:03] #3267 closed

[2018-04-05 04:05] skymir74 commented on #2689
In my company, dev team are making a PaaS solution working on the Kubernetest
and they chose weave net as cni to support multicast traffic.

Now my team have met with some difficulties as following:

1. Can drop(deny) multicast from other kubernetes service using kubernetes network policy?

   My PaaS team want to transper a software solution, called M-CACHE, using multicast from old legacy system

[2018-04-05 06:56] bboreham commented on #2689
Please don’t comment on an old, closed, issue. Open your own issues so the thread of conversation is clear.

1. I think you are saying you want to allow some multicast conversations but not others, where the IP addresses used are always the same. To do this would need a very different implementation to the current Weave-npc.

2. Not going to answer here because it’s not even vaguely related to thi

[2018-04-06 03:32] skymir74 opened #3272 "Weave Multicasting Policy Issue"
Hi.

In my company, dev team are making a PaaS solution working on the Kubernetest
and they chose weave net as cni to support multicast traffic.

Now my team have met with some difficulties as following:

1. Can drop(deny) multicast from other kubernetes service using kubernetes network policy?

   My PaaS team want to transper a software solution, called M-CACHE, using multicast from old legacy s

[2018-04-06 10:03] adampl commented on #3242
I also thought that Weave Net would work in this scenario ie. support IGMP and forward multicast into the container. It should be mentioned somewhere in the docs.

BTW isn't it a duplicate of #1863 ?

[2018-04-06 10:49] bboreham commented on #3242
I agree that a solution to this question might also solve #1863; happy for them to stand separately since they present different pre-conditions.

[2018-04-06 14:37] bboreham commented on #3272
1. Weave-NPC can be set to allow all or block all multicast traffic.  It does not currently implement rules to allow some traffic and block other multicast traffic.  Since the current Weave-NPC implementation works on sets of IP address, it would be a substantial change to do different things for the same IP address.

2. Weave Net does not get involved in the selection of addresses for Kubernetes

[2018-04-07 18:52] wakawaka54 commented on #3264
Uhh I should have been. We can go ahead and close this I just went ahead and move all the way to GKE.

This cluster was a hybrid cluster where the master nodes were in AWS and the worker nodes were bare metal. However, due to all these networking issues and the simplicity of using GKE, I just went ahead and move the entire cluster to GKE.

[2018-04-07 18:52] #3264 closed

[2018-04-09 04:39] skymir74 commented on #3272
Thanks Bboreham.

I understood Weave-NPC can be set to allow all or block all multicast traffic.
But I can't understand the meaning  exactly for following sentence - "the current Weave-NPC implementation works on sets of IP address".
Can you explain more details about that sentence?

[2018-04-09 08:53] bboreham commented on #3272
The implementation is based on a Linux kernel feature called an "IP set" which we use from another Linux feature, "iptables", which lets us build rules to block and allow traffic. The kernel knows nothing about pods, so we map pods to IP addresses and work in that domain.  The design is described at https://github.com/weaveworks/weave/blob/master/docs/weavenpc-design.md

The relevance is that you

[2018-04-09 11:07] Lawouach opened #3274 "Expose a public API to support networking chaos engineering scenarios"
Hi all,

The idea of fault injection or resiliency testing is becoming quite useful to find out how your system handles adverse conditions. This is often packaged under the phrase Chaos Engineering.

On my Kubernetes cluster, I have been interested in learning from degraded conditions to help me confirm/infirm hunches of bad behavior impacts on my system availability.

As a Weave user, I am intere

[2018-04-09 13:24] brb commented on #3258
Indeed, the kernel returns `EXFULL` (="exchange full") err when creating a bridge port if the limit of ports has been reached: https://github.com/torvalds/linux/blob/v4.16/net/bridge/br_if.c#L342

However, it seems that the limit is hard.

[2018-04-09 17:08] Cryptophobia opened #3275 "weave-net pods restarting on kubernetes"
This has been happening for a long time and we have no idea what is going on. weave-net pods are restarting with the following error: `Warning SandboxChanged Pod sandbox has changed, containers will be killed and recreated`.

Below is how the weave-net restarts look in kubectl:
[code]

## What you expected to happen?
No restarts on weave-net pods. We are seeing over 500 restarts on some weave-net

[2018-04-09 17:13] bboreham commented on #3275
Can you get the `kubelet` log too, for one of the hosts where it is restarting?

[2018-04-09 17:32] Cryptophobia commented on #3275
The file is huge but here is a sample of the weave errors. Lots of socket errors and "`CNI failed to retrieve connection namespace path.`"

[kubelet.log](https://github.com/weaveworks/weave/files/1891023/kubelet.log)

Would you like me to upload the whole journactl output somewhere?

[2018-04-09 19:26] bboreham commented on #3275
The errors you show are caused by the Weave Net container being restarted, in other words that is a symptom not the cause.  We need to know more about why kubelet has restarted the Weave Net container.

Generally it's a waste of time to try to cut the file down to just what is needed, because neither of us knows which bits are relevant.

[2018-04-09 19:38] bboreham commented on #3275
Doing some searching, it seems this can be caused by the docker daemon restarting.  Please could you have a look at its logs too?

If there's nothing in the docker logs, check that the `docker-healthcheck` script installed by kops is not killing it.  I've seen that before.

[2018-04-09 19:41] bboreham commented on #3256
@vivek-jain we will need a bit more detail on what was happening when it got killed in order to move this forward.

[2018-04-09 19:42] remonlam opened #3276 "No ARM image for the Weave Net 2.3.0 release"
Hi all,

I'm trying to build a Kubernetes 1.10 environment on 4 Raspberry Pi's, running the latest release of Raspbian Stretch.

However it seems that the latest Docker images on the Docker Hub (weaveworks/weave-kube:2.3.0) does not have a ARM(HF) image.

## What you expected to happen?
An ARM based image for the 2.3.0 release of Weave Net.

## What happened?
During the deployment of the weave-net

[2018-04-10 00:05] sstarcher commented on #2797
I have seen this same issue with weave 2.2.0, kops 1.9.0-beta-2, k8s 1.9.3

[2018-04-10 00:06] sstarcher commented on #3275
I'm seeing this same issue on kubernetes 1.9.3, weave 2.2.0, kops 1.9.0-beta-2.  When it happens again I'll try and capture logging information.  It has happened twice in 2 weeks.

[2018-04-10 03:55] remonlam commented on #3276
Thanks @bboreham on Docker I don't see any errors, will test K8S tonight

[2018-04-10 08:37] bboreham commented on #3275
To be clear, "sandbox has changed" is Kubelet reacting to what it sees as a change, and "sandbox" is how it refers to the underlying container. For example, Docker restarting, causing all containers to restart, would be one way to cause this.  If you have an issue on your node(s) that causes Docker to restart, then everything will be impacted, including Weave Net.

[2018-04-10 19:52] Cryptophobia commented on #3275
So we knew about the issue that dockerd was restarting but not sure why that was happening. We made slight changes last night. One of the changes was clearly define memory and cpu limits for most pods in our k8s cluster. The other change was to provision more IOPS to the nodes and masters. We have since seen significantly less restarts, almost none.

[2018-04-10 19:54] bboreham commented on #3275
Good to hear - do you think it was the healthcheck job that was killing it?

[2018-04-10 21:33] remonlam commented on #3276
Thanks! it's working now, will close this issue.

[2018-04-11 19:15] Cryptophobia commented on #3275
@bboreham Yes, exactly! The `docker-healthcheck` script was restarting docker since this line `if timeout 10 docker ps > /dev/null` must have been taking longer than the allowed timeout because of low IOPS on the nodes...

[2018-04-11 19:17] Cryptophobia commented on #3275
Hope this helps other people out there. I will open an issue with kops. Maybe there should be another healthcheck service running benchmarking iops on the server or the docker-healthcheck script can be refactored as it turns into a single point of failure when the servers are under high load and with low IOPS?

[2018-04-11 19:34] Cryptophobia commented on #3275
@sstarcher : I discussed with my team again to check if there was anything we changed that was not related to IOPS. The only other thing we noticed is that it could be resource limits based. We noticed when we did not have strict resource limits on some services they would hog cpu and memory from the nodes. In our case it was a logging service that was not buffering the logs correctly and therefor

[2018-04-11 20:25] sstarcher commented on #3275
It looks like by default kops is setting weave up as
[code]

[2018-04-12 00:57] Cryptophobia commented on #3275
@sstarcher : it's not that weave-net is getting evicted. it's that other pods that do not have memory/cpu limits and requests could be crashing docker service on the nodes. weave-net restarting is the symptom of that problem.

[2018-04-12 01:01] sstarcher commented on #3275
The docker service itself should also have a higher adjust score so it should be pretty unlikely.  Again all guessing until I can reproduce it and debug the issue fully.

[2018-04-12 08:50] bboreham commented on #3275
Great, @Cryptophobia I'm going to close this issue since you found the source of the restarts.
@sstarcher when you get some details please open a new issue so we can keep the conversation threads clear.

[2018-04-12 08:50] #3275 closed

[2018-04-12 09:19] Lawouach commented on #3274
Just a a FYI, this is quite neat https://github.com/weaveworks-plugins/scope-traffic-control

[2018-04-12 14:27] hkrasnod commented on #3242
Is there a plan to implement this?

[2018-04-15 16:57] arussellsaw commented on #3276
i'm having this issue too. k8s 1.10 on raspberry pi

[2018-04-15 17:12] bboreham commented on #3276
Different processor?  Please run `uname -a`

[2018-04-16 08:50] arussellsaw commented on #3276
i removed the old weave images yeah. it's at home now so i'll check that later, but one thought, the first node is a Raspberry Pi 3 B, the second one is the newer Pi 3 B+

[2018-04-16 11:30] brb commented on #3274
@Lawouach Thanks for the issue!

As mentioned on Slack, indeed, we'd be interested in defining and developing such API.

To begin with, do you have any existing API consumer (aka chaos monkey) in mind?

[2018-04-16 18:27] brb commented on #2924
@mrdima Have you considered removing `MASQUERADE all -- !10.32.0.0/12 10.32.0.0/12` instead of adding `RETURN all -- !10.32.0.0/12 10.40.0.0/18`?

[2018-04-18 16:32] dlespiau opened #3279 "Failed to list *v1.NetworkPolicy error message in weave-npc (missing RBAC verb?)"
A user reported this error message, I don't have much information at this point, but opening a bug to track the issue:

![logs-networkpolicy](https://user-images.githubusercontent.com/7986/38945393-5186d182-432e-11e8-89f6-9cfc702cd321.png)

What would be interesting to know:
- how was weave-net installed?
- k8s version

[2018-04-19 10:51] marccarre commented on #3279
OP:

[2018-04-19 13:36] brb commented on #3279
Thanks for the info.

Indeed, https://git.io/weave-kube-1.6 (https://github.com/weaveworks/weave/releases/download/latest_release/weave-daemonset-k8s-1.6.yaml) misses RBAC for the `'networking.k8s.io'` apiGroup, thus the error.

Could you meanwhile suggest the user to follow the official installation method: https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#install ?

We need to updat

[2018-04-21 09:41] bboreham opened #3280 "Deal better with IP forwarding being disabled"
A colleague was puzzled when their Kubernetes cluster did not work, and the root cause was `sysctl net.ipv4.ip_forward` set to 0.

I don't think we should universally turn it on, since IP forwarding is a security concern. But the current model of Kubernetes+Weave Net definitely requires it, so at least a warning or exit with error when it is found turned off in the kernel.

[2018-04-23 05:55] aditya-kumbhar opened #3281 "NotReady state of worker node: No networks found in /etc/cni/net.d"
## What you expected to happen?
Worker node should be initialised with the weave plugin after using kubeadm join.
## What happened?

After joining worker node, it is constantly in NotReady state.

[root@k8s-master etc]# kubectl get nodes
[code]
2 pods stuck in containter creating state
[code]
Describing the hung-up pods:
[code]

[code]
kubelet journal on master node:
[code]
On manually creating th

[2018-04-23 07:53] bboreham commented on #2797
Please don’t comment on old, closed issues. Open a new issue and provide the details which will allow your issue to be debugged.

[2018-04-24 05:45] #3281 closed

[2018-04-24 08:33] Lawouach commented on #3274
Hi @brb, apologies for the delay.

In regards to an API, there are two (non competitive) ways of seeing it:

* a simple API that says start running adversial conditions in my system (such as Azure Service Fabric https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-controlled-chaos). In this case, the platform makes the decision about the chaos it runs more or less
* an API that put

[2018-04-24 12:44] brb opened #3285 "In some cases k8s NetworkPolicy is not enforced when accessing a Service"
In some cases a packet sent to a k8s Service won't enter the `filter/FORWARD/WEAVE-NPC` chain which means that a NetworkPolicy can be bypassed. Such cases are listed in the table found at https://github.com/weaveworks/weave/pull/3284.

One way to fix this is to create the rule `-t filter -A OUTPUT -o weave -j WEAVE-NPC`. However, this would make the k8s health checks to enter the WEAVE-NPC chain.

[2018-04-24 13:05] bboreham commented on #3285
I think the behaviour is deliberate because the rules for NetworkPolicy used to explicitly state that anything from the host was allowed.  However when I last checked I couldn't find that text.

What mark are you thinking of?

[2018-04-24 13:32] brb commented on #3285
I was thinking about the one set in KUBE-MARK-MASQ, but from further inspection it's not applicable in all cases.

[2018-04-25 15:00] bboreham commented on #3077
Please open a new issue with the requested logs.

[2018-04-26 08:16] fbarl opened #3286 "Older blog post has a broken weave-kube-1.6 link"
An Intercom user recently ended up reading https://www.weave.works/blog/weave-net-kubernetes-integration/ for setting up Weave Net on their K8s cluster (instead of our newer docs).

When trying to run the first command...

[code]

... he found that the link https://git.io/weave-kube-1.6 gives:

[code]

cc @bboreham

[2018-04-26 10:36] bboreham commented on #3286
This is a GitHub short URL; there is no API to remove them so I don't know what happened.

I think I'll recreate it pointing at the 1.7 (and above) file as Kubernetes 1.6 is ancient now.

[2018-04-26 10:37] bboreham commented on #3286
We should probably update the blog post to point at the cloud.weave.works endpoint which allows more flexibility

[2018-04-26 10:47] bboreham commented on #3286
Oddly, it wouldn't let me make it point at the 1.7 file.
It's now back pointing at the 1.6 file.

[2018-04-26 21:24] dcowden opened #3287 "Feature Request: Set NF_NAT_RANGE_PROTO_RANDOM_FULLY flag on masquerading rules"
## What happened?
We are experiencing random 5 second DNS timeouts in our kubernetes cluster.

## How to reproduce it?
It is reproducible by requesting just about any in-cluster service, and observing that periodically ( in our case, 1 out of 50 or 100 times), we get a 5 second delay. It always happens in DNS lookup.

## Anything else we need to know?
We believe this is a result of a kernel level

[2018-04-27 00:13] dcowden commented on #3287
@bboreham my kernel networking Fu is weak, so I'm not even able to suggest any work arounds.  I'm hoping others here have stronger Fu... Challenge proposed!

naysayers frequently make scary, handwavey stability arguments against container stacks. Usually I laugh in the face of danger, but this appears to be the first ever case I've seen in which a little known kernel level gotcha actually does cre

[2018-04-27 00:49] dcowden commented on #3287
@btalbot one workaround you might try is to set this option in resolv.conf:

options single-request-reopen

It is a workaround that will basically make glibc retry the lookup, which will work most of the time.

Another bandaid that helps is to change ndots from 5 (the default) to 3, which will generate far fewer requests to your dns servers ,and lessen the frequency.

The problem is that it's kind

[2018-04-27 00:51] dcowden commented on #3287
@bboreham it does appear that the patched iptables is available. Can weave use a patched iptables?

[2018-04-27 06:45] bboreham commented on #3287
The easiest thing is to use an iptables from a released Apline package. From there

[2018-04-27 06:51] bboreham commented on #3287
BTW my top tip to reduce DNS requests is to put a dot at the end when you know the full address.  Eg instead of `example.com` put `example.com.`. This means it will not go through the search path, reducing lookups by 5x in a typical Kubernetes install.

For an in-cluster address if you know the namespace you can construct the fqdn, e.g. `servicename.namespacename.svc.cluster.local.`

[2018-04-27 08:32] deshui123 opened #3288 "Failed to set MTU size >1500 for weave on Red Hat 3.10.0-693.17.1.el7.x86_64"
My project use network-plugin CNI (calico and weave) for kubernetes cluster.
For calico, i can set MTU size >1500
But for weave, the maximum size is 1464.
 if size >1464, all weave status will be sleeve, and mtu size checked by `weave status connections` always 1464
------------------------
How to reproduce:
1) set WEAVE_MTU in /etc/systemd/system/weave.service
`cat /etc/systemd/system/weave.servi

[2018-04-27 08:53] bboreham commented on #3288
Can you clarify how you are starting the Weave daemon?  The `WEAVE_MTU` environment variable is consulted at launch time.

Also it would be useful to provide logs from the `weave` container.

[2018-04-27 10:50] dcowden commented on #3287
@bboreham great tip, I didn't know that one!  Thanks

[2018-04-27 12:18] dcowden commented on #3287
I did a little investigation on netfilter.org.
it appears that the iptables [patch](https://git.netfilter.org/iptables/commit/?id=8b0da2130b8af3890ef20afb2305f11224bb39ec) that adds --random-fully is in iptables v 1.6.2, released on 2/22/2018.

alpine:latest packages v 1.6.1, however alpine:edge packages v 1.6.2

[2018-04-27 12:50] brb commented on #3286
I've asked the GH support to update the redirect to 1.7. Instead, they deleted it, so that we could re-create it.

Anyway, the redirect is still pointing to 1.6. I've just pinged the support again.

[2018-04-27 13:14] neubi4 opened #3289 "Weave NPC ipset failed: ipset v6.32: The set is full, more elements cannot be added"
## What you expected to happen?
I have the following kubernetes network policy:
[code]

I also have 10 (and more in the future) namespaces wich will match in this policy.
I expected this to work.

It worked as i reduced the number of namespaces to under 8. 8 is the default size of a ipset list, and the ipset here has `Header: size 8` set `ipset list`.

I think weave does not set a size for the ips

[2018-04-27 13:38] brb commented on #3289
Thanks for the issue.

Indeed, the default size of an ipset of the list:set type is 8. We can change it by passing "size N" when creating the ipset.

[2018-04-27 17:06] phagunbaya opened #3290 "Kube-dns not happy (kubernetes v1.10)"
Using kubeadm-1.10.0-0 to install kubernetes.

Kube-dns not able to talk to apiserver.

[code]

weave-net/weave logs
[code]

$ docker version
[code]

$ uname -a

[code]

$ kubectl version 1.10.0

## Network:

$ ip route
[code]

$ ip -4 -o addr
[code]
$ sudo iptables-save
[code]

[2018-04-27 18:53] phagunbaya commented on #3290
kubeadm just warning about `crictl` missing. Otherwise, there is no warning for IP overlaps.

[2018-04-27 19:45] dcowden commented on #3287
in our testing, we have found that only the options  single-request-reopen change actually addresses this issue. Its a band-aid-- but dns lookups are fast, so we get aberrations of like 100ms, not 5 seconds,w hich is acceptable for us.

Now we're trying to figure out how to inject that into resolv.conf on all the pods. Anyone know how to do that?

[2018-04-27 20:01] dcowden commented on #3287
@btalbot thanks for posting that. That would definitely work in a pinch!

we use kops for our cluster, and the [this](https://godoc.org/k8s.io/kops/pkg/apis/kops#KubeletConfigSpec) seems promising. But i'm still learning how it works

[2018-04-27 22:39] james-powis commented on #3276
I will create another issue if needed, but have a Pi 3 B+ which is having the same issues as expressed in this issue with 2.2.1 and 2.3.0

pi@raspberrypi:~ $ uname -a
Linux raspberrypi 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l GNU/Linux

[2018-04-29 07:29] bboreham commented on #3290
Please give the logs from the `Weave` container.

[2018-04-29 12:57] derit commented on #3221
same issue, on raspberry pi

[2018-04-29 13:06] brb commented on #3165
@wendorf Can you please provide logs of the following weave containers:

- The one from which you got the weave status ^^.
- Identified by `02:09:c4:42:ee:96` (you should be able to get the host of it by grepping the weave status).
- Identified by `c6:31:94:28:68:8a`.

[2018-04-30 01:48] phagunbaya commented on #3290
`kube-dns` pod goes under ContainerCrashing state. IP forwarding is ON. Kestrel is 3.10 and it is RHeL 7.4. Another thing I noticed is that flannel cni plugin works fine for this case.

[2018-04-30 09:16] bboreham commented on #3290
Cannot help you further if you do not provide the requested logs.

[2018-04-30 14:49] james-powis commented on #3276
even using manifest-tool v0.7.0 same story even on the  weshigbee/manifest-tool on the 3b and 3b+

[2018-05-01 03:03] Quentin-M commented on #3287
Experiencing the same issue here. 5s delays on every, single, DNS lookup, 100% of the time.
Similarly, `insert_failed` does increase for each DNS query.
The AAAA query, that happens a few cycles after the A query, gets dropped systematically.

https://hastebin.com/banulayire.swift

[2018-05-01 10:47] brb commented on #3276
Sorry, my bad - the weshigbee/manifest-tool image exists only for amd64.

[2018-05-01 10:48] dcowden commented on #3287
@quentin-m what k8s version are you using? I'm curious why it's 100% repeatable for some but intermittent for others.

Another method to inject resolve.conf change s would be a deployment initializer. I've been trying to avoid creating one, but it's beginning to seem inevitable that in an Enterprise environment you need a way to enforce various things on every launched workload in a central way.

[2018-05-01 11:06] brb commented on #3287
Has anyone tried installing and running iptables-1.6.2 from the alpine packages for edge on Alpine 3.7?

[2018-05-01 14:41] brb commented on #3287
Just installed it with `apk add iptables --update-cache --repository http://dl-3.alpinelinux.org/alpine/edge/main/`. However, I cannot guarantee that we don't miss anything with iptables from edge on 3.7.

Yes, you are right.

I've just created the weave-kube image with the fix for amd64 arch only and kernel >= 3.13 (https://github.com/weaveworks/weave/tree/issues/3287-iptables-random-fully). To u

[2018-05-01 15:30] dcowden commented on #3287
@brb  Score! that's awesome! we'll try this out asap!
We're currently using image  `weaveworks/weave-kube:2.2.0`, via a kops cluster.  Would this image interoperate ok with those?

[2018-05-01 15:39] brb commented on #3287
I can't think of anything which would prevent it from working.

Please let us know whether it works, thanks!

[2018-05-01 16:07] Quentin-M commented on #3287
@dcowden Kubernetes 1.10.1, Container Linux 1688.5.3-1758.0.0, AWS VPCs, Weave 2.3.0, kube-proxy IPVS. My guess is that it depends how fast/stable your network is?

[2018-05-01 16:09] Quentin-M commented on #3287
@dcowden

I have tried the other day, while it changed the resolv.conf of my static pods, all the other pods (with default dnsPolicy) were still based on what [dns.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/dns/dns.go) constructs. Note that the DNS options are written as a constant there. No possibility to get `single-request-reopen` without running your own compi

[2018-05-01 16:12] Quentin-M commented on #3287
@brb Thanks! I haven't realized yesterday that the patched iptables was already in an Alpine release. I will try that in ~2 hours.

[2018-05-01 18:45] Quentin-M commented on #3287
@brb Thanks! I haven't realized yesterday that the patched iptables was already in an Alpine release. My issue is surely still present and both `insert_failed` and `drop` are still increasing. I note however that there are two other MASQUERADE rules in place, that do not have `--random-fully`, so that might be why? I am no network expert by any means unfortunately.

[code]

As far as I know and as

[2018-05-01 20:34] dcowden commented on #3287
@brb, i tried this out. I was able to upgrade successfully, but it didnt help my problems.

I think maybe i don't have it installed correctly, because my iptables rules do not show the fully-random flag anywhere.

Here's my daemonset ( annotations and stuff after the image omitted ):
[code]

The daemonset was updated ok.  Here's the iptables rules i see on a host. I dont see --random-fully anywher

[2018-05-01 20:43] Quentin-M commented on #3287
@dcowden You need to make sure you are calling iptables 1.6.2, otherwise you will not see the flag. One solution is to run iptables from within the weave container. As for you, it did not help my issue, the first AAAA query still appears to be dropped. I am compiling kube-proxy/kubelet to add the fully-random flag there as well, but this is going to take a while.

[2018-05-02 00:02] dcowden commented on #3287
@Quentin-M ah, ok right.  I'll try that.

I have the same behavior-- i most commonly see the dropped packet on the first request, which is really odd.

[2018-05-02 00:06] dcowden commented on #3287
@Quentin-M since you are using 1.10, it appears you could use dnsPolicy None and then provide the values, since you're using k8s 1.10. Are you trying to avoid that?

We're still using 1.8, so that's not an option for us.

[2018-05-02 08:05] xiaoxubeii commented on #3287
@Quentin-M You can also custom DNS settings by:
[code]

[2018-05-02 13:38] buptliuwei commented on #3191
@bboreham hi,  my iptables-save shows that kube-proxy did not set up a rule for 10.96.0.1, and i checked the logs for kube-proxy . The output is:
kubectl logs kube-proxy-arm-bzrvg -n=kube-system
I0502 13:19:00.679884       1 feature_gate.go:226] feature gates: &{{} map[]}
W0502 13:19:00.699625       1 server_others.go:290] Can't use ipvs proxier, trying iptables proxier
I0502 13:19:00.702634

[2018-05-02 13:42] brb commented on #3287
@Quentim-M @dcowden

I'm not aware of this rule, and based on grepping it seems that Docker inserts it.

As there are quite a few iptables rules, I need to understand your packet flow. Could you answer to the following questions:

1. Does the problem occur when you try to request kube-dns from a pod via ClusterIP of the kube-dns Service?
2. Could you run `sudo iptables-save -c` before requesting k

[2018-05-02 15:39] dcowden commented on #3287
@brb  I'm sorry to be needing more help, but I'm still unable to see the --random-fully on my rules.

I ran iptables from within the weave container, and confirmed that i do have iptables v 1.6.2:
[code]

[code]

My best guess is that the rules may not have been re-built when i updated the daemonset.  I made sure the new image is running on all nodes, but all i did was to update the ds and watch i

[2018-05-02 17:39] Quentin-M commented on #3287
@xiaoxubeii Yes, thanks for the hint, but I would like not to expect all the users to add this, to fix an infrastructure bug. I'd prefer to use https://github.com/kubernetes/kubernetes/pull/62764 or use the fixed weave+kubelet+kube-proxy.

[2018-05-02 17:41] dcowden commented on #3287
@Quentin-M absolutely, workarounds are not idea.  Please report back when you've proven whether your kubelet fixes work-- i think you're actually working on a key, core k8s issue that most people probably experience but don't even know it.

[2018-05-02 18:17] #3286 closed

[2018-05-02 18:37] dcowden commented on #3287
@brb thank you.
I ran those commands, and I can verify that the --random-fully options are indeed on the weave rules:

[code]

But, as @Quentin-M i still have the problem, and i have about a trillion other iptables rules that dont have --random-fully from kubelet.

[2018-05-02 19:43] brb commented on #3287
@dcowden Could you answer to my questions posted above? That would help me to identify the exact rules which need the flag.

[2018-05-03 01:45] dcowden commented on #3287
@brb, sorry, forgot about those. I'll get you those answers  tomorrow. Thanks for the continued help!

[2018-05-03 13:07] dcowden commented on #3287
hey @brb i'm going to do these tests for you today.

Do you mean just performing any dns lookup, for example `nslookup kubernetes`

[2018-05-03 14:05] brb commented on #3287
Any DNS lookup which would trigger the problem.

[2018-05-03 17:15] dcowden commented on #3287
hi @brb, ok i have some findings, but not all of your questions answered.

Yes. In our cluster, the only nameserver available is the kube-dns.  IE, on my test pod, resolv.conf looks like this:

[code]

Ok this is interesting. Before, my test uses curl to test an -incluster, url, and this creates failures about 1% of the time.  For this test, i switched to running this instead:

`time -p bash -c "f

[2018-05-03 17:33] Quentin-M commented on #3287
It surely depends on the client used - some clients do not experience the
problem. On all latest Container Linux (Stable/Alpha) + Kubernetes 1.10 +
Weave, I could reproduce the 5s latency 95% of the time with simple
commands like wget -O /dev/null google.com.

On May 3, 2018 at 10:16:03 AM, Dave Cowden (notifications@github.com) wrote:

hi @brb <https://github.com/brb>, ok i have some findings, bu

[2018-05-03 18:13] dcowden commented on #3287
@brb  ok, I did #3.

In the packet capture where i caught it, the pod is looping doing a curl on a remote url ( which of course does a lookup).

The pod IP is 100.98.0.4.  The two kube dns pods are 100.103.128 .12 and 100.98.0.7

We have a timeout at packet # 198562 ( t=55.332202 in the capture).

We are back to the normal query loop around frame 198945.

[code]

[2018-05-04 14:06] brb commented on #3287
Thanks, but I still need the two iptables-save outputs. Also, can you please attach the foo.pcap file.

Does the client pod run on the same host as the target DNS server?

[2018-05-04 14:11] dcowden commented on #3287
@brb will do.  Those iptables save outputs are from within the weave container on the host running the client pod, correct?

[2018-05-04 16:35] Quentin-M commented on #3287
In my case, it did not matter whether the DNS server was running on the same host or not. Both situations had the issue.

[2018-05-04 20:36] dcowden commented on #3287
@brb Phew! ok that's a hard test to coordinate. Fortunately, the pcap is small, the very first lookup timed out.

Test conditions: on a pod with a dns pod on the same test, ran iptables-save -c before and after, and got a pcap during the test.

the test was a curl request that looked like this:

`curl -o /dev/null -s -w "#%{time_total}" "http://ptplace-bff.default.svc.cluster.local/ptpr/api/labels

[2018-05-05 19:03] brb commented on #3287
@dcowden Many thanks for the traces!

In your case, DNAT rules installed by kube-proxy are to blame, and the --random-fully flag won't help.

I'm still trying to understand some behavior of the kernel when UDP is combined with iptables-based LB. Going to post more later.

[2018-05-05 22:02] dcowden commented on #3287
@brb thanks for looking! For now, we resorted to just putting options single-request-retry into our pods. it works, but i'm sure things are way less than optimal with things as they are.

That said, I think this is a problem lots of people have-- it just can be caused by so many things most people assume its not packet loss.

I want to provide a couple of other details about our configuration that

[2018-05-06 07:52] wirr00 opened #3292 "weave releases: provide signed checksums"
**Feature request**
Cannot find any checksums for weave releases. Where are those located?
If they don't exist please provide a pgp signed checksums file for all releases and fingerprints for the signing key. If possible include checksums for https://cloud.weave.works/k8s/net?k8s-version=$kubeversion as well.

[2018-05-07 14:06] buptliuwei commented on #3191
I have solved the problem by recompiling the kernel.

[2018-05-07 19:33] dcowden commented on #3287
Well ok i have more findings.

I thought that options single_request_reopen fixes the problem, but actually  it just makes it less likely.

I also found out( i think), why we see this perhaps more often than most. Our application uses nodejs frontend and java/api backend.  In our flow, the frontend makes 3 separate api requests to the backend, and nodejs runs these in parallel. The result is that

[2018-05-07 19:35] brb commented on #3287
@dcowden

Based on the provided traces (https://github.com/weaveworks/weave/files/1975806/foo.pcap.gz), the following is happening:

1. The glibc resolver uses the same UDP socket for parallel queries (A and AAA). As UDP is a connectionless protocol, calling [connect(2)](https://linux.die.net/man/2/connect) does not send any packet => no entry is created in the conntrack hash table.
2. The kube-dn

[2018-05-07 19:39] brb commented on #3287
@dcowden

Could you verify this by checking `insert_failed` counter value with `conntrack -S`?

[2018-05-07 19:44] brb commented on #3292
Sorry, but we currently don't sign any release artifacts.

[2018-05-07 21:36] dcowden commented on #3287
@brb Will do, but i will not be able to do it until later this week.  That said, I can't imagine that your analysis is wrong-- what do you think is the fix? and/or can you suggest workarounds?

I'm honestly shocked that most of the internet isnt' saying 'well kubernetes is great, but you're going to have packet loss issues'.

We do not use UDP for much other than DNS, so one idea i've been thinkin

[2018-05-08 04:31] deshui123 opened #3293 "MTU size mismatch among "ip a" , "weave status connection" and "docker logs weave""
I start weave in cni plugin.
Although I modify WEAVE_MTU to 1464 and the docker logs also show the MTU changed to 1464, "ip a" or "weave status connections" still show the MTU is 1376.
When I reboot VM, "ip a" and "weave status connections" show the MTU is 1464, but "weave status connections" run on other VM which is not reboot still show the MTU is 1376.
My questions:
1) Change MTU before weave l

[2018-05-08 10:15] bboreham commented on #3287
@brb huge kudos for figuring that out!

@dcowden when I used to do electronic trading for a living I would find that people live with the most egregious network problems and never think "this is really broken".  A tiny minority of people care enough to look at what is really going on.

Also the issue is sensitive to what exact technologies you use - for instance at Weaveworks we write most service

[2018-05-08 10:31] dcowden commented on #3287
We are already using a hack that updates resolv.conf on pod start in our container entry point to add option single_request-reopen we would need to use that in combination with the downward api to inject the host ip. It stinks but it would work maybe?

yeah you're right, there would be no way to assign static ips to the pods to make this work.

[2018-05-08 10:38] bboreham commented on #3293
The MTU is set on the `weave` bridge device - this is why you see it remembered between starts unless you reboot.  You can also run `weave reset` to clear it out before starting.

What you see in the logs are reports from the "sleeve" encapsulation which can negotiate the MTU dynamically along a path.  Most of your `weave status` reports are from the "fastdp" encapsulation which is not dynamic - i

[2018-05-08 13:06] Rishka opened #3294 "Weave overriding AWS Network Load Balancer user IP address"
## What you expected to happen?
The requester's IP to be available to the pod

## What happened?

The IP was from an IP assigned to the cluster's weave IPALLOC setting

## How to reproduce it?

Create a service with the annotation `service.beta.kubernetes.io/aws-load-balancer-type: nlb` pointing to a plain nginx deployment, visit it and note the IP
[code]
[code]

## Anything else we need to know?

[2018-05-08 13:10] bboreham commented on #3294
I think this is basically #2924.  "OnlyLocal" has been renamed to `externalTrafficPolicy: Local`

[2018-05-09 06:58] deshui123 commented on #3293
@bboreham
Thanks for your info.
In my ansible task, I try "weave reset" before starting, but it still not work. I still need to reboot.
And for my first deploy(the first time to start weave after i have changed MTU to 1464 in /etc/systemd/system/weave.service), the MTU is always 1376. Until reboot, the MTU can change to 1464.
Can i change MTU successfully except reboot?
======================
main

[2018-05-09 08:45] deshui123 commented on #3293
When i run weave expose before "/bin/weave reset --force" in main.yml, the MTU will change to 1464 successfully.

- name: expose containers in the default subnet
  become: yes
  shell: "timeout 20 weave expose"
  retries: 42
  tags:
    - weave

- name: reset weave to try delete default MTU
  become: yes
  shell: "/bin/weave reset --force"
  tags:
    - weave

[2018-05-09 14:31] bboreham commented on #3293
I become more puzzled as you add more symptoms.  There is no way that `weave expose` should be able to change the MTU since it is implemented by calling in to the daemon.

Could you fill in some of the basic information requested in the issue template, e.g. Weave Net version, linux version.

To debug this further, can you please recreate the conditions where `weave reset` does not work, then set t

[2018-05-09 15:51] bboreham opened #3295 "Weave Net CNI plugin should not ignore the network name"
The [CNI spec](https://github.com/containernetworking/cni/blob/master/SPEC.md#general-considerations) says:

The Weave Net plugin doesn't even look at the network name, so it isn't doing this.

I don't see a good way that we could use the name - we only have one network really per host - but since I noticed it I felt it should be logged as an issue.

[2018-05-10 07:54] bboreham commented on #3293
That's five months old; there have been three releases since.

If you provide those logs it might be possible to see what is happening.

[2018-05-10 07:59] bboreham opened #3296 "failed: ipset v6.32: Element cannot be deleted from the set: it's not added"
Excerpt from log, focusing on one IP address:

[code]

It looks to me like it only added once and deleted once from that set.

[2018-05-10 08:04] deshui123 commented on #3293
Hi @bboreham ,
Thanks for your patient response. I think i have found the root cause.
Since the weave version is 2.1.3, the para "WEAVE_MTU" is used for docker run.
I change the WEAVE_MTU in /usr/bin/weave instead of /etc/systemd/system/weave.service. At this time, MTU is changed successfully without reboot, even if weave starts for the first time.

[2018-05-10 15:59] brb commented on #3296
This is very strange. NPC tried to delete `10.104.238.41` only once, and its deletion failed. Could it be that someone else has deleted the element from the ipset (e.g. another weave-npc process started by accident)?

Also, from the full log I see that the user hasn't created any NetworkPolicy, so can I assume that they do not use it? If yes, a quick fix could be to disable the weave-npc from star

[2018-05-10 16:16] bboreham commented on #3296
We did not see any evidence of another weave-npc.  We checked a number of nodes, and on every one `weave-npc` had crashed with the same symptom.

Agreed on the quick workaround; the cloud.weave.works launch generator has an [option](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#configuration-options) `disable-npc` to set `EXPECT_NPC=0` and remove the container from the daemonset s

[2018-05-10 16:45] dcowden commented on #3287
@brb yes it appears to be the case. below is the output on the same host on which the tests above ran.

[code]

[2018-05-10 16:48] brb commented on #3296
Is it reproducible? If yes, what is the kernel version (asking, as I can provide a small eBPF program which tracks insertions and deletions to ipset at the kernel level).

[2018-05-10 17:07] brb commented on #3287
@dcowden What is your CentOS and kernel vsn?

[2018-05-10 17:13] Quentin-M commented on #3287
For what’s it’s worth, I use the latest Container Linux, and yes, insert_failed increases systematically by 1 every time I send a DNS request.

[2018-05-10 17:25] dcowden commented on #3287
@brb

[code]

[2018-05-10 21:12] bboreham commented on #3296
Seemed to happen on every node after a few hours.

Kernel:

`Linux kubemaster11 4.4.0-124-generic #148-Ubuntu SMP Wed May 2 13:00:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

[2018-05-10 23:04] paphillon opened #3297 "Weave worker nodes in two different subnets - strange behavior"
** Is this a REQUEST FOR HELP? **
Yes.

In my kubernetes setup, there are two sets of worker nodes, one in 10.51.0.0 subnet and other are in 10.50.0.0 subnet. There is no firewall between these nodes and ping, including weave net ports tcp/udp are checked out to be ok.

Service IP: 172.32.0.0/24
Cluster IP: 172.200.0.0/24

## What happened?

Here is the strange behavior. When I ping a pod running

[2018-05-13 15:32] brb commented on #2624
I'm going to work on this (no ETA at the moment, sorry).

To everyone who raised an interest in the feature: what is your use case? Do you want to filter off-cluster traffic (e.g. deny the internet, but allow github.com) or in-cluster traffic (e.g. allow only podA -> podB)? If the latter, do you plan to use ipBlock (CIDR) selector or pod/namespace label selectors?

[2018-05-13 20:03] Cryptophobia commented on #2624
@brb In our use case we would like to be able to filter in-cluster traffic (podA -> podB). Ideally we would want to be able to do it with pod/namespace label selectors as that would be easiest. Lets say we have third-party applications on our cluster. We would like for them not to be able to discover other apps running inside the cluster. Does that mean ipBlock (CIDR) selectors can be automatic pe

[2018-05-14 04:41] bgruszka commented on #3276
Same here on my RPi3 :(

`HypriotOS/armv7: pirate@alcohol1 in ~
$ docker run --rm weshigbee/manifest-tool inspect weaveworks/weave:2.3.0
Unable to find image 'weshigbee/manifest-tool:latest' locally
latest: Pulling from weshigbee/manifest-tool
10a267c67f42: Pull complete
fb5937da9414: Pull complete
684941781a3a: Pull complete
Digest: sha256:eed06b548a0d4a34c6ec685bbf2bc6b9fcc952d735b9ecb7aea1c1f30

[2018-05-14 12:15] brb commented on #3297
@paphillon Can you please provide weave logs (`kubectl logs -n kube-system weave`)? Or is it empty?

[2018-05-14 13:00] brb commented on #2624
@Cryptophobia

This use-case is already supported by ingress NetworkPolicy:

1. Put the third-party apps in a separate namespace (`ns-foobar`).
2. Create an ingress netpol which selects others pods and allows traffic to them only from listed namespaces minus `ns-foobar`.

Not sure whether I understood your question. ipBlock is specified by user and does not change automatically, see https://kubern

[2018-05-14 14:36] sgmiller opened #3300 "Lost K8S autoscaled nodes contacted indefinitely"
## What you expected to happen?

When a Kubernetes node is removed from our autoscaled cluster, Weave continues trying to contact it until an operator manually rmpeer & forget's the node via the command line.

## What happened?

[code]
... about once a minute

## How to reproduce it?

Remove a Kubernetes node (terminate the instance)

## Anything else we need to know?

Kubernetes 1.9.4, kubeadm cl

[2018-05-14 15:03] bboreham commented on #3300
This is the same as #3021; see particularly https://github.com/weaveworks/weave/issues/3021#issuecomment-349001695

[2018-05-14 15:39] sgmiller commented on #3300
Read that issue.  How often is "eventually restart"?  It seems to be never?

[2018-05-14 15:41] bboreham commented on #3300
I was thinking things like kernel upgrades, power-downs, hardware failures would lead to restarts of the Weave Net pods.

[2018-05-14 15:43] sgmiller commented on #3300
Okay, so its expected that we'll have these errors.  It created some concern for us as our nodes cycle with some frequency based on spot price bidding, so many of the weave pods are logging numerous old node contact attempts constantly.  It feels like it should give up after some, long (configurable?) time.

[2018-05-14 15:46] bboreham commented on #3300
I'm not saying the behaviour is correct, merely noting my comments last time it was raised.

Happy to have an issue open, and/or to receive PRs improving it.

[2018-05-14 15:47] sgmiller commented on #3300
Understood.  My apologies, I thought this was as intended.

[2018-05-14 15:57] Cryptophobia commented on #2624
@brb, Yes, most of the use-case is supported by ingress NetworkPolicy but for egress we would want to block CIDR ranges like specific database ranges (AWS RDS) from discoverability. This is where we would need weave-net to support it.

[2018-05-14 17:58] AlexB138 commented on #3258
I'm seeing this issue on K8s 1.8.7 and Weave 2.2.1.

The problem node i 172-20-109-25, all commands are run against it.

[code]

[code]

  From kubelet on 172-20-109-25: `May 14 13:28:58 ip-172-20-109-25 kubelet[891]: E0514 13:28:58.615230     891 cni.go:301] Error adding network: attaching veth "vethwepl6576d79" to "weave": exchange full`

[code]

[2018-05-15 01:27] paphillon commented on #3297
@brb
Log from 10.51.x.x node --
[code]

[2018-05-15 15:59] brb commented on #3276
Sorry, I haven't had time to look into this issue properly.

What Docker image of Alpine Linux can run on your R-PI?

[2018-05-15 16:01] deitch commented on #3032
Aha! I just stumbled across this problem. Yeah, the pods crash when someone used named ports instead of numbered.

I think it is ok to say, "use numbered ports only for `NetworkPolicy` (although it should be well documented), but the pods crashing probably isn't a good reaction.

The `NetworkPolicy` spec included:

[code]

And the `weave-npc` logs:

[code]

[2018-05-15 23:05] Quentin-M commented on #3287
I would just like to add here that the `single-request(-reopen)` workaround does not work with Alpine-based containers, as musl does not support the option (see below). Unfortunately, Alpine Linux is the base image to 90% of our infrastructure.

[src/network/resolvconf.c](https://git.musl-libc.org/cgit/musl/tree/src/network/resolvconf.c)
[code]

[src/network/lookup.h](https://git.musl-libc.org/cgi

[2018-05-16 16:30] primeroz commented on #3249
Is there any progress on this issue ? At he moment my workaround is to enable the "create route" in the cloud-controller-manager but is ugly at best.

[2018-05-17 01:33] dcowden commented on #3287
@Quentin-M thanks for the report. We'll try this next. For now we're working around but-- annoying to say the least!  Our problem is that calico doesnt support encryption on the cluster overlay. weave does this better than any of the others, so i hope we can keep using weave!

[2018-05-17 02:56] Quentin-M commented on #3287
@dcowden @bboreham @brb @dcowden @xiaoxubeii

Another very interesting note, when FASTDP is **disabled** (but encryption is still on), the issue also disappear. I tested this on 4 clusters, with regular and jumbo MTUs.

[2018-05-17 05:13] ernoaapa opened #3302 "NetworkPolicy blocking traffic"
Hi,
I'm having problems to apply following, quite simple NetworkPolicy:
[code]
## What you expected to happen?
Able to connect from any pod in any namespace to the coredns UDP 53.

## What happened?
In some cases I was able to connect, and in some other cases not.
Tested `nslookup google.com <ip of the coredns pod>` following:
- From same host: YES
- From pod in same host and in same namespace: YE

[2018-05-17 09:46] bboreham commented on #3287
How exactly did you disable fastdp?

[2018-05-17 14:35] brb commented on #3287
My guess is that due to slower nature of the sleeve mode races are less likely to happen, but not completely unavoidable.

[2018-05-17 15:53] Quentin-M commented on #3287
@brb @bboreham

Once, I simply dropped the following in the Weave's manifest, used reset and let Kubernetes do a roll Weave. Later, I did the same thing but also killed all the pods. And another time, I edited the manifest, then killed all the nodes, letting new identical ones come back, with fresh configuration/networking, re-scheduling all the pods. Every time, I verified using `weave --local st

[2018-05-17 16:23] rbehravesh opened #3303 "weave-net 1/2 CrashLoopBackOff"
** Is this a BUG REPORT? **
Yes (I think)

Thank you!
-->

## What you expected to happen?
To have a healthy and running cluster
## What happened?
I have a cluster of 3 raspberry pi3 nodes. I can initialize the cluster; but as soon as I add a node to the cluster weave-net pod goes down.

## Anything else we need to know?

[node.txt](https://github.com/weaveworks/weave/files/2014024/node.txt)
[erro

[2018-05-17 20:20] Quentin-M commented on #3287
When a single pod is used to wget/curl a target, a tc policy that delay every other DNS datagram by, say, 10ms seems to alleviate the issue entirely: `netem gap 2 delay 10ms reorder 100%`. However, this may not work much when multiple pods are making requests as the policy applies to the whole node and therefore may not induce delay between the two parallel A/AAAA datagrans coming out of a single

[2018-05-18 02:50] ernoaapa commented on #3302
@brb sure!
Here's is for example from a different node and the Pod is in a different namespace:
[code]

[2018-05-19 06:29] Quentin-M commented on #3287
Here is the solution we are about to start using: https://github.com/Quentin-M/weave-tc/blob/master/weave-tc.sh, which seem to reduce the likelihood of the race significantly. Using it is as simple as adding the following container to the weave DaemonSet:

[code]

[2018-05-19 12:02] dcowden commented on #3287
@quentin-m holy cow, man we will try that solution out and see if it works for us.  What side affects should we watch out for?

It's been a long time since I have read a shell script that was so far over my head.. that's some highly impressive work!

[2018-05-22 14:26] brb commented on #3302
@ernoaapa Thanks, but I need the _full_ log.

[2018-05-22 14:45] brb commented on #3290
Closing due to missing logs.

[2018-05-22 14:45] #3290 closed

[2018-05-22 14:48] brb commented on #3285
Aye, https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#networkpolicyingressrule-v1-networking-k8s-io : "_Traffic is allowed to a pod <..> if the traffic source is the pod's local node_"

[2018-05-22 14:50] brb commented on #3285
However, we should do something about the 10th case: https://github.com/weaveworks/weave/blob/master/docs/k8s-src-ip.md

[2018-05-22 14:55] #3303 closed, assigned to nobody

[2018-05-22 16:43] Rasoul2669 commented on #3303
@brb I also tried the latest version, but it's the same!

[2018-05-22 17:07] pataha commented on #3303
I have same issue with `raspbian stretch lite`

[2018-05-23 07:49] bboreham commented on #3221
I think we don’t have a process to build the v2 plugin for arm. We cross-compile from Intel for the other builds, but v2 plugin requires a full Docker install of the right arch.

[2018-05-23 23:33] thomaschaaf commented on #3287
@Quentin-M I am getting `No distribution data for pareto (/lib/tc//pareto.dist: No such file or directory)` does the host need to have something installed as well? What should `lib-tc`point to on the host? Maybe you can provide your deployment set yaml for me to compare :)

[2018-05-23 23:46] Quentin-M commented on #3287
@thomaschaaf Absolutely!

I mount `/run/xtables.lock` and `/lib/tc`.
Pareto should already be on the host, it is part of iproute2, which is essentially the same everywhere.

[code]

[2018-05-24 10:07] thomaschaaf commented on #3287
@Quentin-M  For some reason /lib/tc does not exist on my nodes. (Debian Jessie) installed with kops using `k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08`.

[2018-05-24 19:18] Quentin-M commented on #3287
@thomaschaaf According to https://packages.debian.org/jessie/amd64/iproute2/filelist, you would be using `/usr/lib/tc/` instead (and pareto is well in there).

[2018-05-25 12:14] bboreham commented on #3297
Can you show the logs from the `weave` container on the host where that `Cannot bind port 6784` came from?

Also run `ip route` and `weave status connections` at that point.

[2018-05-25 15:26] autumnw opened #3304 "Network policy does not work due to lack of a rolebinding"
## What you expected to happen?
I have k8s 1.10 installed with weave-net 2.2.1, the networkpolicy is not working as expected.
I have the policy like
[code]
kubectl create clusterrolebinding weave-net-cluster-admin \
    --clusterrole cluster-admin \
    --user system:serviceaccount:kube-system:weave-net
[code]

## Logs:
[code]

[2018-05-25 15:47] bboreham commented on #3304
How was Weave Net installed?  All of our installers have a rolebinding granting sufficient permissions, e.g. [here](https://github.com/weaveworks/weave/blob/master/prog/weave-kube/weave-daemonset-k8s-1.7.yaml#L44-L53)

[2018-05-25 16:54] bboreham commented on #3289
I tried this on a 4.13 kernel, and the set size doesn't seem so fixed:

[code]

[2018-05-25 17:57] kcao3 opened #3306 "'weave expose' address does not persist after host rebooted"
I notice currently on a host, the IP address assigned to the weave interface after running 'weave expose' command does not persist after the host rebooted. Is there a simple way to persist this IP address without running the 'weave expose' command every time the host reboots?

[2018-05-25 18:10] paphillon commented on #3297
weave status connections
[code]
ip route
[code]
Weave logs
[code]

[2018-05-25 20:27] bboreham commented on #3306
I think your question is mostly a duplicate of #2144

It’s not a complex change, but no-one has submitted a PR yet.  Probably creating a test is the hard part.

You can force the address, eg `weave expose 9.8.7.6`

[2018-05-26 14:15] bboreham commented on #3249
Nitpick: the precondition isn't quite "on GCE" - we create Kubernetes clusters on GCE for every integration test run - but "when the GCE cloudprovider is in use".

@mikebryant I took your WIP and slapped it into the Go code at #3307

[2018-05-26 16:47] brb commented on #2624
Thanks for the use cases.

Short update from my side: I made some progress and most functionality has been implemented. Going to provide images for testing next week.

[2018-05-28 15:37] autumnw commented on #3304
Hi,
I installed with the following yml file:
[code]

[2018-05-29 09:49] bboreham commented on #3304
If you rolled your own installation and it didn't work, then I don't see that as an issue for this repo.

[2018-05-29 13:00] kcao3 commented on #3306
Thank you for your prompt response. No big deal. I'll just use a systemd service unit for now then.

[2018-05-29 13:00] #3306 closed

[2018-05-30 11:11] dcowden commented on #3287
@bboreham do you have any more insights on this issue? It seems like every day i come across another thread talking about dns timeouts here or there. It feels like a 'dirty little secret' at this point :)

[2018-05-30 11:16] bboreham commented on #3287
No, no particular insight.  I'm trying to cross-fertilise the conversations in the hope someone shows up and says "this is all very clear to me".

[2018-05-30 11:20] dcowden commented on #3287
@bboreham i see, yes, that's the open source slogan right? "given enough eyes, every problem is trivial"
Thanks for your continued work.  Let me know if there's something I can test that would be helpful.

I'll try @Quentin-M 's fix and report back.

[2018-05-30 13:05] jsravn commented on #3287
You can do this already with `--resolv-conf` passed to kubelet. Run a dnsmasq daemonset that proxies all dns queries to kube-dns using host networking, and listening on all interfaces. This reduces the DNS problems substantially.

[2018-05-30 13:33] bboreham commented on #3287
As I understand it, `--resolv-conf` is a single setting for all pods, thus removing the ability to find services in the same namespace as the current pod.

That is what I meant by "requires a Kubernetes change" - to change the DNS server address without giving up any other features.  If you don't need those features it's an option.

[2018-05-30 13:58] klausenbusk commented on #3287
If you just need to change the dns server ip you can use `--cluster-dns`.

[2018-05-30 14:06] jsravn commented on #3287
The generated search domains and options are preserved. `resolv-conf` only parses the nameservers afaik. That's how we set it up.

[2018-05-30 14:16] bboreham commented on #3287
What DNS IP do you use that always resolves to the local host?

[2018-05-30 14:24] jsravn commented on #3287
Address of the docker interface. This is probably setup dependent. I think you could use any interface on the host that is routable from pods (so not the loopback).

[2018-05-30 16:25] dcowden commented on #3287
@jsravn I would like to learn more about your setup. Do you by chance use kops?

I would like to see your dnsmasa daemon set manifest if you are willing to post it.  My understanding is that kops already runs dnsmasq as a container in it's default kube-dns pod, so we would have to figure out how to disable that in a way that doesn't get undone when we use kops to update the cluster.

[2018-05-31 14:07] jsravn commented on #3287
@dcowden You wouldn't touch the kube-dns pod, it still runs dnsmasq. The local dnsmasq caches all local queries on the node - benefits being the cache will be localised, you can bypass kube-dns completely if you want for external queries (we do this), and it's more resilient to outages. I can't give you the exact daemonset at the moment, but it shouldn't be so hard, you need to setup hostNetworkin

[2018-05-31 19:32] dcowden commented on #3287
@jsravn thanks for this tip. I hadn't thought of this approach, but it has a number of benefits-- for example, it makes it much more straightforward to work in a split-dns corporate environment.

[2018-05-31 20:19] arielnh56 opened #3308 "/etc/docker"
## What you expected to happen?

## What happened?

## How to reproduce it?

## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]
or, if using Kubernetes:
[code]

## Network:

[code]

[2018-05-31 20:19] #3308 closed

[2018-06-02 02:57] paulbsch opened #3309 "weave k8s DaemonSet does not support multiple architectures"
## What you expected to happen?
It was expected that the weave k8s DS would "just work" when adding a non-amd64 node to the k8s cluster...as it does when adding an amd64 node to the k8s cluster.

## What happened?

After joining a new ppc64le node to the k8s cluster, the weave DaemonSet fails on the new node as it is pulling an amd64 docker image instead of the ppc64le one.

## How to reproduce it

[2018-06-02 07:48] bboreham commented on #3309
We do use the manifest-tool to create manifests.

Can you do a `Docker pull` of the image on your ppc node and post the result please.

[2018-06-03 19:56] brb commented on #2624
I've published the **test** images: `weaveworks/weave-kube:egress-test` and `weaveworks/weave-npc:egress-test` (amd64 only). To use them, you need to update the weave DaemonSet file.

Please let me know about any bugs you encounter.

[2018-06-04 08:36] brb commented on #3289
From `man 8 ipset`:

[code]

So, we can assume that a set of the list:set type can grow dynamically.

[2018-06-04 10:30] bboreham commented on #3289
OK, so do we have any theories about the problem the OP reported?
I wondered if it is different in Red Hat (inferred from OP reporting kernel `3.10.0`)

[2018-06-04 10:35] brb commented on #3289
I've just checked with CentOS 7 (kernel 3.10), and the problem exists as reported.

[2018-06-05 07:45] brb commented on #3303
Probably a duplicate of https://github.com/weaveworks/weave/issues/3276

[2018-06-05 12:37] zacblazic commented on #3165
We've also been encountering this issue recently.

Our clusters are running the following:
* Kubernetes: 1.8.13
* Weave: 2.3.0
* Kops: 1.9.1

### Over-claimng

It seems that two nodes have (or are attempting to) claim the same IP address range.

The node `ip-10-83-42-111.ec2.internal` claimed the `100.105.68.0` IP range:
[code]

However, the node `ip-10-83-54-199.ec2.internal` is _also_ attempting

[2018-06-05 12:42] bboreham commented on #3165
Please open a new issue, don't comment on old issues that you think to be the same.

Absolutely not.  That issue had a very clear cause, and was fixed.

When you open a new issue, you will be asked for details that will help to trouble-shoot.  Particularly the log files of the `weave` containers.  We need the logs from the first time when it went wrong; without that it is very unlikely we can debu

[2018-06-05 12:51] zacblazic commented on #3165
Will do.

Not sure if this is just a default response, but the logs are in my comment above.

I actually put this in the wrong section of my comment, it should have been under "non-existent peer". However, I think you're right.

[2018-06-05 12:53] bboreham commented on #3165
Ha!  I had no idea the little black triangle would open up to show more.

[2018-06-05 13:00] bboreham commented on #3165
`Existing annotation 46:f4:4b:41:dd:11` suggests there was a peer with that unique ID that crashed mid-reclaim.  As you say, it doesn't exist now.  That is causing an infinite loop.  That isn't related to your reported symptom, but it's worth addressing.

There's nothing in those logs to say what caused the original problem, unfortunately.

[2018-06-05 13:11] brb commented on #3276
@mckern @bgruszka @james-powis @arussellsaw

Could you run the following on your Pi 3 B+ and paste outputs here:

0. `uname -a`
1. `docker inspect weaveworks/weave-kube:2.3.0`
2. `docker run --entrypoint=/bin/sh -ti weaveworks/weave-kube:2.3.0`

[2018-06-05 14:14] bboreham commented on #3165
I added a bit in the docs about the `/var/lib/weave` data https://www.weave.works/docs/net/latest/tasks/ipam/troubleshooting-ipam/#seeded-different-peers

[2018-06-05 15:01] brb commented on #3279
Closing this as the git.io link got updated and thus, the installation method listed in the blogpost https://www.weave.works/blog/weave-net-kubernetes-integration/ becomes valid again.

[2018-06-05 15:01] #3279 closed

[2018-06-06 08:19] brb commented on #3302
I couldn't reproduce the issue myself. One observation - to make the second policy functional, you need to label the `kube-system` namespace by `kubectl label namespace kube-system name=kube-system`.

Closing due to missing logs. Feel free to re-open once you have them.

[2018-06-06 08:19] #3302 closed

[2018-06-06 08:34] brb commented on #2939
Is this still an issue?

[2018-06-06 08:37] brb commented on #3157
Closing due to inactivity.

[2018-06-06 08:37] #3157 closed

[2018-06-06 08:41] brb commented on #2872
Considering the ancient version of Weave Net and inactivity, I'm closing the issue. Please re-open if the issue persists.

[2018-06-06 08:41] #2872 closed

[2018-06-06 08:45] brb commented on #2862
Closing due to inactivity.

[2018-06-06 08:45] #2862 closed

[2018-06-06 08:58] neubi4 commented on #3289
Thanks for your help.

In our case its CentOS Linux release 7.4.1708 (Core) with kernel  3.10.0.

ipset version is
[code]
but `man 8 ipset` only says
[code]

[2018-06-06 11:04] zacblazic opened #3310 "Nodes are attempting to claim same IP range"
## What you expected to happen?

Nodes should claim their own distinct IP ranges.

## What happened?

It seems that two nodes have (or are attempting to) claim the same IP address range.

The node `ip-10-83-42-111.ec2.internal` claimed the `100.105.68.0` IP range:
[code]

However, the node `ip-10-83-54-199.ec2.internal` is _also_ attempting to claim the `100.105.68.0` IP range:
[code]

Restarting

[2018-06-06 11:11] zacblazic commented on #3165
Thanks for the feedback!

Should I create a separate issue for this? We're still seeing it flood our logs of all weave containers.

[2018-06-06 11:13] bboreham commented on #3165
Sure; the infinite loop is at least something we can see the cause of.

[2018-06-06 11:21] zacblazic commented on #3165
I stand corrected, its only happening on 4 of the 15 weave containers.

[2018-06-06 11:23] brb opened #3311 "Support "host-local" IPAM plugin in weave-kube"
Currently, weave-kube relies on Weave IPAM. This introduces some complexities, e.g. reclaiming IP addrs from dead peers.

Instead, we could try to use the [host-local](https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local) IPAM plugin.

As pointed by @bboreham, we would loose some flexibility _in adding non-Kubernetes nodes to a cluster, or cross-cluster networking_. A

[2018-06-06 11:53] brb commented on #3311
Also, https://github.com/weaveworks/weave/pull/3298 would need a re-work.

[2018-06-06 13:09] brb opened #3312 "Support both podSelector and namespaceSelector in NetworkPolicy"
Upcoming Kubernetes release will allow us to select pods in selected namespaces (https://github.com/kubernetes/kubernetes/pull/60452). We should support it in weave-npc.

[2018-06-06 13:31] brb commented on #3124
I've just checked and found that minikube (0.27) is missing the following kernel configuration which prevents weave-kube from starting on it:

[code]

It's possible to workaround the missing openvswitch ones by setting `--no-fastdp` to `EXTRA_ARGS`. Unfortunately, in any case, we try to create a dummy iface which fails due to missing the kernel module.

[2018-06-06 13:51] brb commented on #3124
Submitted PR: https://github.com/kubernetes/minikube/pull/2876

[2018-06-06 18:06] brb commented on #3274
Sorry for the delay.

My perspective is that Weave Net could provide an (fine grained) API to introduce faults (jitter, delay, packet loss), and then a consumer (e.g. the Chaos Toolkit) would perform various chaos tests by using the API.

Internally, from implementation POV, with the help of `tc` and `cgroups` it should be trivial to implement faults. We just need to maintain a mapping between Kub

[2018-06-06 18:26] Lawouach commented on #3274
No problem. There is no rush.

It's good news you're willing ti guve a it a spin.

The toolkit has no weave driver yet as we usually wait for the API to be defined before adding support for it. I will give some thoughts about how it could look this week however.

Would a REST HTTP endpoint be something you'd offer? Or a different protocol? What would be the auth you'd require (if any)? Considering

[2018-06-06 18:35] brb commented on #3274
Nice, looking forward! As a pointer, you might want to check https://kubernetes.io/docs/concepts/services-networking/network-policies/.

Yes - a REST HTTP endpoint, as the existing Weave Net API is implemented as REST over HTTP. E.g. https://github.com/weaveworks/weave/blob/master/ipam/http.go

We do not provide any auth. I think auth is not a crucial part at this stage, and we can discuss it late

[2018-06-07 08:01] brb commented on #3302
Also, if you use `nslookup` from BusyBox, please be aware of this bug https://bugs.busybox.net/show_bug.cgi?id=675

[2018-06-07 11:55] brb commented on #3274
Related: https://github.com/weaveworks/weave/issues/2648

[2018-06-07 12:16] Lawouach commented on #3274
Hey,

Reharding API examples, do you mean to say you expect a Kubernetes extension API? Or an adhoc Weave REST API endpoint?

In that latter case, would something such as this make sense to you?

[code]

To start adding latency to the given target, which could be identified  as a container id/name, pod name/label. The latency would occur only the given device identified by its name, IP or CIDR. Fi

[2018-06-07 13:34] brb commented on #3274
I'd not bother with extending the Kubernetes API at this moment.

IMO, it's too fine grained. As an end-user, you probably don't want to mess with such details as `"device"`. Instead, you want to select pods (e.g. with `namespaceSelector` and `podSelector` as in NetworkPolicy, see my link above) between which a fault should be injected. Does it make sense to you?

That's what I prefer.

[2018-06-07 13:42] Lawouach commented on #3274
Much agreed with using the pod+ns selector indeed!

However, I'd still be interested in tuning the fault itself even if I am happy living with default settings. So for instance, a fairly basic "add Xms latency too all egress of that pod" but also something a little richer. But again, I could live with the former as well as long as it offers some basic tuning.

[2018-06-07 13:46] brb commented on #3274
Please elaborate more!

[2018-06-07 13:53] Lawouach commented on #3274
Right.

In the case of the latency, it can interesting to apply a distribution, not just a static delay. Or some jittering to the delay at least.

But to be honest, I do not have all the use cases in my head so maybe I'm making this more complicated they need to be.

[2018-06-07 13:58] brb commented on #3274
OK, I see. Of course, we could implement it, but I'd like to start with MVP.

[2018-06-11 06:21] 12wrigja opened #3314 "Weave-Net Addon causing kernel panics on RPI 3B+."
## What you expected to happen?
What I expected to happen: upon two weave pods discovering each other, weave to start working.

## What happened?
The weave pod seems to execute some command that causes one of the two nodes connecting to each other to crash with a kernel panic. I'm guessing it's unlikely that weave itself is the root cause here, but I figure here is a good place to start.

Logs fro

[2018-06-11 08:09] brb commented on #3314
@12wrigja Thanks for the issue.

In the provided syslog logs of the oops there are no content of general purpose registers. Could you check whether they are in `dmesg`?

[2018-06-11 08:11] brb commented on #3276
Someone was able to run (regardless the kernel panic) Weave Net 2.3.0 on RPI 3 B+: https://github.com/weaveworks/weave/issues/3314

[2018-06-11 10:33] brb commented on #2624
Any feedback regarding the test images?

The Egress PR is ready for a code review: https://github.com/weaveworks/weave/pull/3313.

[2018-06-11 11:09] bernhara commented on #3276
Yes.

But to solve the problem with the "wrong exec format", I rebuilt my own image from scratch, directly on the PI3 with a Rasbian distrib.
That image was working perfectly, up to latest Raspbian update (or Docker for Raspbian...), where I got the mentioned Kernel Panic (=> PI freeze).

Since I upgrade only parts of my PIs, I have still some units running with that image and one other which cras

[2018-06-11 11:33] brb commented on #3314
Although I don't have evidence, but the kernel version rings a bell: https://github.com/coreos/bugs/issues/2382.

[2018-06-11 12:21] #2924 closed

[2018-06-11 12:22] moonek opened #3315 "Support Static Egress IP"
When the pod communicates with the outside, the Host IP goes to the Source IP.
Because of organizational firewall policies, the Static Egress IP of a particular pod or namespace is required.

For example, to connect a specific pod of a particular namespace to an external DB,  I must open a firewall between all the worker nodes and the external db.
In this case, it is possible to communicate with t

[2018-06-11 13:20] #3249 closed

[2018-06-11 14:11] brb commented on #3314
Just checked, and indeed, the latest raspbian is prone to the kernel bug mentioned in my comment above, as https://github.com/raspberrypi/linux/tree/raspberrypi-kernel_1.20180417-1 misses the fix: https://github.com/torvalds/linux/commit/f15ca723c1ebe6c1a06bc95fda6b62cd87b44559#diff-4f541554c5f8f378effc907c8f0c9115.

To workaround, you can disable `fastdp` by re-deploying your cluster with ` kubec

[2018-06-11 14:12] brb commented on #3276
@bernhara Thanks, _"up to latest Raspbian update"_  made me to realize the cause for the kernel panic: https://github.com/weaveworks/weave/issues/3314#issuecomment-396257270.

[2018-06-11 14:19] brb commented on #3314
@12wrigja OT: Did you compile Weave Net yourself? Many are struggling with running it on RPI 3 B+ due to invalid image arch: https://github.com/weaveworks/weave/issues/3276.

[2018-06-11 14:43] brb commented on #3289
Fixed by #3305

[2018-06-11 14:43] #3289 closed

[2018-06-11 15:50] arnulfojr commented on #3314
I'm also experiencing this issue, I've been actually trying to set it up without any success. Sadly no logs from Kubernetes and most of the times my pi (3B+) reboots.

[code]

[code]

[2018-06-11 15:54] brb commented on #3314
@arnulfojr Have you tried following the workaround suggested above?

[2018-06-11 16:28] carlosedp commented on #3259
@jmreicha I compiled myself the kernel 4.4.114 for Pine64 Rock64 boards from Ayufan's repository (https://github.com/ayufan-rock64/linux-build). Added the modules to the config. It's pretty stable for a while. No hangs, freezes or dumps. Maybe his latest versions are stable like this but I don't want to change what's working :)

[code]

[2018-06-11 16:38] jmreicha commented on #3259
@carlosedp Interesting, what version of Kubernetes are you running?  I was having some stability issues on Kubernetes 1.10.x and newer kernels.

[2018-06-11 16:43] carlosedp commented on #3259
K8s 1.9.7. Tried to update but faced some timeout problems with Kubeadm. I had stability issues and kernel dumps before but since this Kernel it's very stable. Not sure what fixed tho.
In case you want to try, I've uploaded the files to: https://we.tl/ivPbhswOY2

[2018-06-11 16:55] jmreicha commented on #3259
@carlosedp Awesome thanks 🎉

[2018-06-11 17:35] jaredallard commented on #3287
So, as far as I can tell from this thread, there isn't really a solution yet aside from some of these workarounds.

[2018-06-11 17:39] bboreham commented on #3287
Not only is there not a solution, we don't know which of the various theories about the problem is most important in practice.

[2018-06-11 18:07] jaredallard commented on #3287
@bboreham Understandable, we've been migrating to Kubernetes and haven't had really any CNI work for us. Every single one appears to either have high latency or kube-dns issues. Just a bit frustrating since clearly other people are able to make kubernetes work. Hopefully we're able to diagnose which theory is most "important" and/or what has been causing these issues.

[2018-06-11 19:16] dcowden commented on #3287
@jaredallard I agree with your assessment.  For us, using standard network doesnt work because we require encryption between nodes-- which is hard to set up on bare metal, vs weave, that 'just works'.

While technically a workaround, I believe that the dnsmasq solution provided by @jsravn is technically the right answer. In our case, we have split dns and all kinds of weird stuff. At some point, i

[2018-06-11 19:21] pgandhipfpt opened #3318 "Weavenet pod crashes with minikube"
.
** Is this a FEATURE REQUEST? **
yes as its easy to create kubernetes cluster with minikube , so would be really helpful if we can set n/w policies on that cluster with weavenet

## What you expected to happen?
Weavnet pod comes up correctly on minikube after performing
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')" on kubenetes cluster

[2018-06-11 19:38] Quentin-M commented on #3287
@jaredallard My [weave-tc](https://github.com/weaveworks/weave/issues/3287#issuecomment-390383565) work around is simple enough to use and fixes the problem for us entirely.

[2018-06-11 21:51] jaredallard commented on #3287
@Quentin-M Does it solve just latency or issues with kube-dns as well? We've pretty much gotten rid of all issues with latency on calico w/ ip-in-ip, but kubedns doesn't work when it gets a lot of hits.

[2018-06-11 23:11] Quentin-M commented on #3287
This particularly solves the kernel race condition inside conntrack that drops parallel A/AAAA packets, leading to static 5s latency on each DNS query, regardless of coredns/kubedns/powerdns...

[2018-06-12 03:31] 12wrigja commented on #3314
Following up here:
 - using `docker inspect weaveworks:weave-kube:2.3.0`, I get apparently an amd64 image, that seems to run just fine on my rpi 3B+. Is the output from inspect wrong? See https://gist.github.com/12wrigja/19b8074a00a565dc089941a4a28d744f for the results of inspecting.
 - disabling fastdp seems to have fixed my issues. I then noticed that my Pod and Service CIDR's were overlapping,

[2018-06-12 07:16] brb commented on #3318
Thanks for the issue.

Could you run `weave reset --force` and retry?

Also, to make sure that you have required modules, what do `zgrep -i config_openvswitch /proc/config.gz` and `zgrep -i config_dummy /proc/config.gz` return?

[2018-06-12 08:17] brb commented on #3314
@12wrigja Thanks for the follow up.

Interesting. The `Architecture` field is set to amd64 and when I inspect the image with manifest-tool I cannot find the image you inspected among all returned.

[2018-06-12 09:16] brb opened #3321 "Create container for running weave commands via kubectl"
Sometimes weave-kube users need to run weave commands such as `weave reset` or `weave status`. These commands require the weave script to be installed on a host or they can be run in non-trivial way.

Instead, we should provide a container image to run the commands as suggested in https://github.com/weaveworks/weave/pull/3319#issuecomment-396509327.

Bonus points for making the image to work on ho

[2018-06-12 11:34] brb commented on #3310
@zacblazic Thanks for the issue.

Regarding the first issue, do you have by any chance full Weave Net logs from `ip-10-83-42-111.ec2.internal` and `ip-10-83-54-199.ec2.internal` before the restart?

The second issue is going to be fixed in #3317.

[2018-06-12 16:27] brb commented on #3314
@arnulfojr Could you answer to my question above?

[2018-06-12 17:31] bboreham opened #3322 "/etc/hosts not being rewritten when using Weave ECS AMI"
Observed by a user:

(inside a container)
[code]

The issues are it doesn't say `# created by Weave` and the address at the end is the Docker address.

No error message observed; it works when I try it on my laptop.

Weave logs:
[code]

[code]

[2018-06-12 17:36] arnulfojr commented on #3314
@brb So indeed, is the `fastdp`, sorry I started over from scratch and took me a while to flash the SD cards.

So far, deactivating it avoids the kernel panic. I'm using weave as a plugin with Kubernetes and finally they all came to life! for the mean time, it would be cool if you can post officially somewhere about the kernel issue, so people having the issue can easily track it down. Furthermore

[2018-06-12 20:08] pgandhipfpt commented on #3318
zgrep -i config_openvswitch /proc/config.gz
zgrep: /proc/config.gz: No such file or directory

zgrep -i config_dummy /proc/config.gz
zgrep: /proc/config.gz: No such file or directory

As I am using mac Sierra .. I am not sure if this file would be there or not .

[2018-06-13 06:57] brb commented on #3314
@arnulfojr

Thanks.

The non-`fastdp` mode which also known as `sleeve` is slower and consumes more CPU cycles. Please see for more details: https://www.weave.works/blog/weave-docker-networking-performance-fast-data-path/

Agreed. We are going to update our docs to include known issues.

[2018-06-13 07:02] brb commented on #3318
@pgandhipfpt

You need first to ssh to your minikube VM by `minikube ssh`, and then to run the zgreps.

[2018-06-13 07:38] brb opened #3323 "Improve CONTRIBUTORS.md"
TL;DR fix CONTRIBUTORS.md to include a helpful information for external contributors on how to develop Weave Net.

1. Revisit its [current content](https://github.com/weaveworks/weave/blob/master/CONTRIBUTING.md) and remove/update obsolete parts.
2. Add requirements for dev tool chain to compile Weave Net (just Docker).
3. Add information how to test Weave Net locally (bootstrapping VMs, installin

[2018-06-13 07:50] brb opened #3324 "Extend checkpoint to include information about Kubernetes clusters"
Currently, we do not have any coarse grained information about Kubernetes clusters which are powered by Weave Net. The information would be used for prioritizing issues.

1. Kubernetes version.
2. Nodes count.
3. Whether NetworkPolicies are used (and what type - Ingress / Egress).

[2018-06-13 08:40] brb opened #3325 "Improve Weave Net page"
A few suggested changes for https://www.weave.works/oss/net/ and friends:

- The "INSTALL" button should point to a page which describes how to install Weave Net on different clusters (Kubernetes, Docker, AWS ECS).
- Update the tutorial under "INTERACTIVE LAB" to use the non-legacy Kubernetes netpol.
- Does not mention among Features on what platforms Weave Net supports.
- s/Docker/containers/.
 -

[2018-06-13 08:49] brb opened #3326 "Improve Weave Net docs for Kubernetes"
A few suggestions:

- In the installation part mention how to use Weave Net with kops.
- Mention limitations of NPC: no `ipBlock` support in `policyTypeIngress`, cases when traffic is allowed (#3285).
- Mention known problems: minikube, vxlan kernel panic on 4.14 with links to GH issues, etc (check open GH issues).
- Explain how the reclaim mechanism works.

Probably more.

[2018-06-13 08:56] bboreham commented on #3326
Start the troubleshooting part with "is it running at all"
 - CrashLoop -> get the weave container logs
 - ContainerCreating -> get the kubelet logs

[2018-06-13 09:03] brb opened #3327 "Investigate martian packets"
From time to time, in kernel logs we see:

[code]

Some execution paths in the kernel (e.g. https://github.com/torvalds/linux/blob/v4.17/net/ipv4/route.c#L1699) suggest that a martian packet can be dropped after the kernel has logged about it.

Investigate:

1. Why kernel logs about martian packets _only sometimes_.
2. What is impact of martian packets on Weave network stability.

[2018-06-13 09:21] bernhara commented on #3314
I'm still trying to help identifying the source of the problem.
And I'm fighting with the "fastdp" mode:  I understood that a "weave reset --force" is mandatory to make "weavenet" run again, even on X86.

During the tests, I got a kernel crash log on my PI (notice that I have a 32bits kernel running):

For info:

[2018-06-13 09:27] bboreham commented on #3314
I may be missing some context: this command is necessary if Weave Net is not running and you want to tear down all the supporting structures.  For instance if you want to move from fastdp to sleeve.

In many cases a reboot is an easier option, and will make everything go away except the IP allocation data.

[2018-06-13 09:38] bernhara commented on #3314
I don't have a clear understanding of why this is necessary, but the "weave net" container crashed during launch when switching from "fastdp" to "non fastdb" (even on X86 where it also ran without any problem).
I guess that the reset removed the virtual network bridges so that the next launch recreates the with with the correct characteristics.

[2018-06-13 13:55] bboreham commented on #3322
This issue was already reported at #3136 and fixed at #3138.
The issue with the AMI is that it installs Weave Net 2.0.4, and the fix went into 2.0.5.

[2018-06-13 14:15] zacblazic commented on #3310
@brb I'll try get them for you, no guarantees though.

We're seeing this happen more and more often now, seemingly random but cannot confirm the catalyst at this time.

Regarding the second issue, is there a way to manually remove the annotation or clear this state? It's clearly something that persists across the weave cluster as fresh nodes are having the same problem.

[2018-06-13 17:02] bboreham commented on #3322
I've updated the AMIs - see https://github.com/weaveworks/scope/pull/3226

[2018-06-13 20:30] pgandhipfpt commented on #3318
This is before installing weavenet  on minikube cluster

$ zgrep -i config_openvswitch /proc/config.gz
# CONFIG_OPENVSWITCH is not set
$ zgrep -i config_dummy /proc/config.gz
# CONFIG_DUMMY_IRQ is not set
# CONFIG_DUMMY is not set
CONFIG_DUMMY_CONSOLE=y
CONFIG_DUMMY_CONSOLE_COLUMNS=80
CONFIG_DUMMY_CONSOLE_ROWS=25

[2018-06-14 07:44] bernhara commented on #3314
An update about my latest tests.

I launched the weave container with the "fastdp"" disabled:

And the container is now running for about a whole day:

With "fastdp"activated, the container generates the kernel crash we are discussing here after about one minute.

In fact, this is a satisfactory workaround for me.

[2018-06-14 11:36] itskingori commented on #3310
@brb I work with Zac, and our cluster is getting unstable at least once a day. We fix it by finding out the bad weave pod and clearing it's state. This only started happening after upgrading to 2.3.0. We never had this issue with 2.2.0.

This is the result of connection status on all weave pods 👇 ... you can see it's pretty bad (although better than what we've seen recently).

[code]

[2018-06-14 20:22] Cryptophobia commented on #2600
This is a known issue and further debugging can be found here:

https://github.com/weaveworks/weave/issues/3252

[2018-06-14 20:42] Cryptophobia commented on #1737
So basically add a timer to the overlay_switch and re-`chooseBest()` in order to prefer fastdp after a failure until fastdp takes over again as the prefered overlay connection.

The above sounds like a way to do it. But the unknown question is why fastdp is being dropped on almost every single cluster with weave-net I have seen.

[2018-06-14 20:54] bboreham commented on #1737
@Cryptophobia I'd recommend opening your own issue with the specifics

[2018-06-14 21:13] Cryptophobia commented on #1737
@bboreham : There are just too many clusters that have this problem with weave-net. They are all on AWS.  Should I be opening an issue for each cluster. It's not sustainable and will quickly become annoying.

Also the below issues are being closed as duplicates:

Example issue here: https://github.com/weaveworks/weave/issues/3252

[2018-06-14 23:49] itskingori commented on #3310
@bboreham Got it! Will keep you guys posted.

[2018-06-15 07:38] itskingori commented on #3310
@bboreham @brb Another theory, could it be that the infinite loop fixed in https://github.com/weaveworks/weave/pull/3317 is causing the weave pod to use more and more memory? See 30 days usage below:

<img width="1440" alt="screen shot 2018-06-15 at 10 24 32" src="https://user-images.githubusercontent.com/703786/41455594-568fcffa-7086-11e8-922f-867f113241f9.png">

My colleague @tsu-shiuan, thinks

[2018-06-15 12:45] #3322 closed

[2018-06-16 15:44] brb commented on #3124
FYI: the PR got merged and included into the recent [minikube v0.28](https://github.com/kubernetes/minikube/releases/tag/v0.28.0).

To run Weave Net on minikube, after upgrading minikube, you need to overwrite the default CNI config shipped with minikube: `mkdir -p ~/.minikube/files/etc/cni/net.d/ && touch ~/.minikube/files/etc/cni.net.d/k8s.conf` and then to start minikube with CNI enabled: `mini

[2018-06-16 15:44] #3124 closed

[2018-06-16 15:48] brb commented on #3318
@pgandhipfpt This shows that you are using minikube VM w/o https://github.com/kubernetes/minikube/pull/2876 being applied. Please see https://github.com/weaveworks/weave/issues/3124#issuecomment-397820940 for running Weave Net on minikube.

[2018-06-16 15:48] #3318 closed

[2018-06-16 16:53] brb commented on #3252
@Cryptophobia Could be. I guess it's easier to fix the original issue (https://github.com/weaveworks/weave/issues/1737) instead of debugging why it could have happened. I'm going to prioritize fixing it.

[2018-06-16 21:30] psaini79 opened #3329 "Pod creation based on Weave CNI"
I have multiple CNI plugin installed on my k8s master and worker nodes. By default flannel is come as a network for a pod. I am trying to create a pod based on weave, is there a way to force the weave for CNI?

I am using following pod yaml file but it didn't work:
apiVersion: v1
kind: Pod
metadata:
  name: ol76
  labels:
    name: ol76
  annotations:
    cni: "weave"
spec:
  hostname: ol76
  cont

[2018-06-16 21:35] psaini79 opened #3330 "IP range for PODs"
Hi,

Is there a way to specify the range of IPs for a pod? for example, I have weave network configured on following cidr 192.168.16.0./24 but I want pods choose IPs for pod from this range only 192.168.168.100-192.168.168.200 during POD creation. However, rest of the IPs can be up as an IP alias inside the POD.
Eg:

eth1 will have 192.168.16.100 but our application will create an alias of 192.168

[2018-06-17 02:29] notmaxx commented on #1737
thx @brb

[2018-06-17 07:10] brb commented on #3329
@psaini79 You need either to uninstall flannel or to make sure that `/etc/cni/net.d/10-weave.conf` comes first in lexicographical order before flannel's config in the same dir. Please see the "CNI" section in https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#network-plugin-requirements for more details.

Where did you find about the "cni" annotation used in

[2018-06-17 07:10] #3329 closed

[2018-06-17 10:28] brb opened #3331 "Weave IPAM CNI plugin cannot distinguish between empty and nil routes"
Consider the following CNI config:

[code]

When using the config, expected behavior is that the Weave CNI plugin will add a default route as can be seen [here](https://github.com/weaveworks/weave/blob/v2.3.0/plugin/net/cni.go#L145). However, the IPAM plugin [populates](https://github.com/weaveworks/weave/blob/v2.3.0/plugin/ipam/cni.go#L60) the `Routes` field with empty list, so the default route

[2018-06-17 10:36] brb commented on #3330
@psaini79 You could modify the weave CNI config (`/etc/cni/net.d/10-weave.conf`) on each of your nodes to:

[code]
where `$PODS_CIDR` is a CIDR range for Pod IP addrs (in your example, 192.168.16.100-192.168.16.200 cannot be represented as a single CIDR range).

Unfortunately, at the moment this does not work due to the bug: https://github.com/weaveworks/weave/issues/3331. Please follow #3331 for

[2018-06-17 10:36] #3330 closed

[2018-06-17 14:20] Cryptophobia commented on #3252
Thank you Martynas @brb

[2018-06-17 14:37] brb opened #3332 "weave-kube: Cannot patch nodes/status at the cluster scope"
Just spotted on a local cluster:

[code]

Seems that the following is not set in the latest Weave Net DS and launch-generator:

[code]

(Taken from https://github.com/weaveworks/weave/issues/3249#issuecomment-369653750)

[2018-06-17 16:01] brb commented on #3310
@zacblazic @itskingori Thanks for the info.

I doubt that any change from 2.2.0 to 2.3.0 could have triggered the problem (maybe "Build Weave Net with Go 1.10.1 #3273", but let's keep it as a last resort). My guess is that the upgrade restarted Weave Net on each node which triggered the faulty reclaim `DEBU: 2018/06/05 11:20:29.571731 [kube-peers] Preparing to remove disappeared peer {46:f4:4b:41:

[2018-06-17 17:36] psaini79 commented on #3329
I have not looked at it completely but https://github.com/Huawei-PaaS/CNI-Genie claims that assign an IP address to a pod from a particular network solution.

I looked at some of their pod spec files and found annotation:cni but it seems it is the way they have written the CNI.

[2018-06-18 13:58] brb opened #3333 "Detect dir for CNI bins"
A user on Fedora 28 reported that kubelet is not able to locate the `weave-net` CNI bin. The relevant params of the kubelet: `--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/usr/libexec/cni` set by kubeadm v1.10.1 reveals a different location than `weave setup-cni` expects (`/opt/cni/bin`).

It seems that the directory is a distro specific: https://github.com/projectcalico/cni-pl

[2018-06-19 06:57] psaini79 commented on #3330
I tried following conf and it worked. I am getting correct route settings.

{
    "name": "weave",
    "type": "weave-net",
    "hairpinMode": true,
    "ipam": {
        "type": "host-local",
        "subnet": "192.168.16.0/24",
        "rangeStart": "192.168.16.201",
        "rangeEnd": "192.168.16.225",
        "routes": [
            { "dst": "0.0.0.0/0" }
        ]
    }
}

[2018-06-19 06:58] psaini79 commented on #3331
I tried following and it works. Let me know if you see any issue in using weave with following approach:

I tried following conf and it worked. I am getting correct route settings.

{
"name": "weave",
"type": "weave-net",
"hairpinMode": true,
"ipam": {
"type": "host-local",
"subnet": "192.168.16.0/24",
"rangeStart": "192.168.16.201",
"rangeEnd": "192.168.16.225",
"routes": [
{ "dst": "0.0.0.0/0" }

[2018-06-19 06:59] psaini79 commented on #3331
The only part on my every worker node, I have to modify weave conf file manually based on different ranges.

[2018-06-19 08:17] bboreham commented on #3331
I think the net plugin is behaving as designed and the Weave Net ipam shouldn’t populate an empty list.

Is it actually the ipam plugin, or libcni that is adding an empty list?

[2018-06-19 17:20] pgandhipfpt commented on #2624
@brb - I tried these test images to enforce egress policies with weavenet and it did work..
I had to apply n/w policy .

[2018-06-20 10:50] alexellis commented on #3276
@bboreham It's unclear from this thread whether the Docker image is now compatible with ARMHF.

I can confirm that the image `weaveworks/weave-kube:2.3.0` will now run on Raspberry Pi 3B+ without an exec error.

Alex

[2018-06-20 10:50] alexellis commented on #3276
I suggest closing this issue now that the reported issue is resolved.

[2018-06-20 16:41] fkpwolf commented on #3276
Works on my Odroid XU4 with Ubuntu 18.04. Good job.

My master node is amd-64, and I have to change  kube-porxy pod on arm with image url "gcr.io/google_containers/kube-proxy-arm:v1.10.4".

[2018-06-20 17:14] bboreham commented on #3276
Thanks for the note @fkpwolf .  I'll close this since the original point seems addressed, but please do point out anything I've missed and/or open new issues.

[2018-06-21 10:58] bboreham commented on #3333
Current behaviour of `prog/weave-kube/launch.sh` is to try `/opt/cni/bin` then `/home/kubernetes/bin` which is where ContainerOS puts it.

We could inspect the kubelet args.  Or just add a third...

[2018-06-21 14:50] brb commented on #3332
Thanks! I guess we need to fix launch-generator as well.

[2018-06-21 15:35] brb commented on #3330
@psaini79 Currently, we do not support the "host-local" IPAM plugin (see #3311), and it's not safe to use it. One problem is that the weave bridge might end up getting an IP addr from Weave IPAM instead of asking the host-local plugin which leads to various problems, e.g. a host can't reach a pod.

[2018-06-21 15:37] #3332 closed

[2018-06-21 15:42] bboreham commented on #3330
I suspect the case you outline will still work.  The Weave Net CNI plugin sets a route to the gateway address if it's not on the same subnet.

[2018-06-21 16:45] brb commented on #3330
I doubt that it can work if https://github.com/weaveworks/weave/blob/2.3/prog/weave-kube/launch.sh#L145 wins the race against https://github.com/weaveworks/weave/blob/2.3/plugin/net/cni.go#L97:

- No route to a pod network on a host (the weave bridge in different subnet than the pod network).
- The default gw is `192.168.16.1` (haven't checked why though) which is unassigned, so a pod can't reach

[2018-06-21 18:45] redi-vinogradov opened #3335 "Weave with AWS EKS is not working"
## What you expected to happen?
EKS pods are able to interact with each other vi Weave network

## What happened?
Deployed Weave daemonset on a new AWS EKS cluster with updated CIDR range. Pods are able to get proper IP from Weave but cannot interact with each other.

## How to reproduce it?
Create AWS EKS cluster, define `IPALLOC_RANGE` environment variable in your daemonset file to `172.20.0.0/1

[2018-06-22 06:51] brb commented on #3333
Maybe there is a nice way to get the `--cni-bin-dir` value w/o reading `/proc/$KUBELET/cmdline`? Asking, as otherwise `weave setup-cni` would depend on kubelet being up and running.

[2018-06-22 06:54] brb commented on #3274
Related work: https://github.com/worstcase/blockade

[2018-06-22 07:03] Lawouach commented on #3274
Indeed, you have also https://github.com/alexei-led/pumba

[2018-06-24 23:02] Quentin-M commented on #3287
Just posted a little write-up about our journey troubleshooting this issue there: https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/, including our workaround.

[2018-06-25 10:14] bboreham commented on #3335
Thanks for this report, @redi-vinogradov .

Could you add a little more detail to "cannot interact with each other" ?  What did you try?

One thing I'm aware of is that pods on the Weave network cannot talk to the Kubernetes api-server, because it is on an EKS-specific network. And since kube-dns is in that set, it cannot resolve any service addresses, which will break lots of things.

Happy to re

[2018-06-26 11:53] zeeZ commented on #2624
After rolling out the egress-test images over 2.3.0 I'm seeing a lot of the following:

[code]

For what seems like new pods.

Rolling back to 2.3.0 causes NPC to fail on all nodes with
[code]

Kubernetes 1.9.8
CoreOS 1745.7.0
CNI Plugins 0.7.0

No debug logs available right now as I don't have the time.

[2018-06-27 04:35] hongxima opened #3336 "Connection reset after transmission for several successful packets"
Dear gurus,

We just hit a terrible network issue in a new setup for a key customer.
Two days sent on troubleshooting and not resolved.

Symptom
Pod communication to outside host was reset after transmission for several successful packets, and BLOCKing messages were logged in weave-npc.

The outside host is an SVN server. Inside the pod, curl server:port was able to get a short HTML response, but

[2018-06-27 09:21] bboreham commented on #3336
I can't think of any mechanism in Weave Net that sends a RST.  Maybe duplicate IP address would lead to it, if the other side was getting confusing messages.

When using the default CNI config, communication to the outside world goes container -> veth -> bridge -> host -> world: those packets don't traverse the Weave Network.

About the blocking messages: did the IP addresses correspond to the con

[2018-06-27 16:32] hongxima commented on #3336
Bryan,
Thanks for the reply!
Just update to you ,we were able to reproduce the issue (need promisc to be on, and connection always reset)  in another setup, the issue gone after upgrade to RHEL 7.5

So we'll take this as our resolution.

Thanks!

[2018-06-28 12:53] brb commented on #2624
@zeeZ

Without the logs I can't help much.

After rolling back to 2.3.0 you need either to restart each machine or to manually remove iptables rules which involve `weave-local-pods` ipset.

[2018-06-28 13:09] brb commented on #3314
According to https://github.com/raspberrypi/linux/issues/2580#issuecomment-400258418, the issue is going to be fixed in the next Raspbian release or it has been already fixed in `raspberrypi-kernel` package.

Could someone try updating the package and running Weave Net with fastdp? Thanks.

[2018-06-28 17:35] brb commented on #3336
@hongxima May I ask on which interface you have set promiscuous mode on?

[2018-06-28 17:38] redi-vinogradov commented on #3335
A few examples:
Service status:
[code]

Pod is trying to connect to kubernetes-dashboard service via port 443:
[code]

Pod is trying to connect to kubernetes-dashboard directly (via pod's IP):
[code]

Not sure why EKS-specific network should be an issue since you have to define it first (before EKS cluster creation) and in our case worker nodes are on the same network as EKS master nodes.

[2018-06-29 04:08] 12wrigja commented on #3314
Martynas,

I updated my raspberry pi's to use the latest kernel provided by running `rpi-update` (4.14.52-v7+ in my case), adjusted my weave daemonset to re-enable fastdp, and restarted all my nodes and everything works fine - weave-kube reports it's using bridged_fastdp and none of my nodes crash.

[2018-06-29 08:29] bboreham commented on #3314
Thanks @12wrigja; I'll close this issue based on your report.

[2018-06-29 08:29] #3314 closed

[2018-06-29 15:05] zeeZ commented on #2624
I found a little bit of time to try again.

It's not a global problem and seems to be limited to a few of my nodes. They should all be identical from the kubelet configuration all the way down to the hypervisor, and only differ in the work put on them.

There's no difference in weave (kube and npc) debug logs between working and failing nodes. I still have a few ideas where I can poke them to see

[2018-06-30 11:00] hongxima commented on #3336
@brb  the weave bridge itself.
But this only happens to RHEL 7.2 ,  you don't need it for RHEL7.4+

[2018-07-02 10:06] stevenjohnstone opened #3337 "upgrade_cni_plugin upgrades symlinks which are already in the correct form"
## What you expected to happen?

## What happened?
The weave script function "upgrade_cni_plugin" will attempt to upgrade symlinks even if they exist already in the correct form due to buggy use of readlink: https://github.com/weaveworks/weave/blob/master/weave#L710 and https://github.com/weaveworks/weave/blob/master/weave#L713.

The comparison should probably be something like

[code]
because rea

[2018-07-02 11:56] dholbach opened #3338 "Update ECS references"
[site/install/installing-weave.md](https://github.com/weaveworks/weave/blame/master/site/install/installing-weave.md#L53) contains these bits currently:

[code]

The former link should be https://www.weave.works/docs/scope/latest/ami/ (or https://github.com/weaveworks/scope/blob/master/site/ami.md) instead.

The latter is part of `old-guides` which are unfortunately very much out of date. Is the t

[2018-07-02 15:18] mmerrill3 opened #3339 "weave prometheus metrics gatherer reports false blocked connections"
## What you expected to happen?
We are running cronjobs in kubernetes, which spin up quickly and access existing services in our kubernetes cluster.
We have network policies enabled, where we allow access from the client pods (the jobs) to the services in the same namespace.
We expect the clients to be able to use the services correctly, and to see no blocked connections from weave.

## What happe

[2018-07-02 15:28] mmerrill3 commented on #3339
The initial workaround right now is to have an init container in our cronjob that sleeps for a few seconds, before running the main container for the cron job.

[2018-07-02 16:17] mmerrill3 commented on #3339
Hi @bboreham, thanks for the quick response.  I only say false since from the client pod's (the job) perspective, everything works OK when talking to the service.  Something does get blocked though, I agree (the initial SYN).  So, the alert is working.  But, if you are just interested in whether your applications are being affected, you would consider this a false alarm.  From a network perspecitv

[2018-07-02 16:58] bboreham commented on #3339
Right, as you say, the SYN is retransmitted until it gets through.

Are you suggesting we match up block reports to subsequent successful connections and remove the blocked ones from the count? That's an interesting idea, albeit quite hard to implement. All the TCP connection stuff, and the packet filtering, is happening inside the kernel.

Another approach would be to delay the return from CNI AD

[2018-07-02 18:11] mmerrill3 commented on #3339
Thanks @bboreham , I just double checked, and realized that as packets are entering ulogd, they are being consumed by the go routing in metrics.go.  So, there metrics check is not parsing from the beginning of the ulogd pcap file each time.  Yeah, that would be painful to implement, and resource intensive.  Thanks for your suggestions.  Its plain to see that having the pod wait until the network p

[2018-07-04 10:36] kuznero commented on #3310
I can see exactly same kind of error `Received update for IP range I own` but simply when I try to add another node to a cluster. The strange thing is that it does not happen always.

[2018-07-04 10:44] bboreham commented on #3310
@kuznero please open your own issue and supply logs.

[2018-07-04 10:46] bboreham commented on #3310
@brb it can merge consistent data of any age.  The problem here is that the data is inconsistent with what someone else has.

Issue #2084 covers the case where the inconsistency doesn't actually matter.

[2018-07-04 13:00] bboreham commented on #3310
OK, I didn't read the whole question, sorry.

Something like this sequence?
 * `a` donates IP range `r` to `b`
 * `a` dies and restarts, loads previous state
 * both `a` and `b` think they own `r`

To avoid this, we persist to disk before sending the message from `a` to `b`, and that goes through to a `fsync` syscall.

I guess it's possible there is a bug in the above.  Or it's something else.

[2018-07-05 15:06] yogiverma007 opened #3341 "Http rest api forwarding to incorrect pod from another pod"
**### BUG REPORT**
We have one pod with one container allocation. We have Java Spring boot application.
**Use Case**: A request which came on Kubernetes service is forwarded on one pod and a thread is created. This thread will do some work, after completing its work and this pod have to notify some other pod. So in our case we are notifying using http rest api. So my application is hitting HTTP Re

[2018-07-06 11:08] tj13 commented on #3287
@Quentin-M
can it run on non-Weave network?  our environment is ovs + openshift.

[2018-07-06 15:11] bernhara commented on #3314
One more confirmation: I upgrade my Raspbian with a standard "apt upgrade" which upgraded my kernel.
Everything works now as expected.

[2018-07-06 16:40] mikebryant commented on #3032
I'm adding the security label here, having a policy stop npc in the entire cluster and then leave things fail-open is bad.

(We have namespaces which are expected to be in default deny where this wasn't applied due to the npc crashing)

[2018-07-06 17:05] bboreham commented on #3032
It's supposed to fail closed, i.e. if there isn't a rule allowing the connection then it will be blocked. Do you know the sequence of events under which it fails open?

[2018-07-06 17:51] Quentin-M commented on #3287
Can do, the network interface in the script must be set appropriately. It
can’t work on a network interface where traffic is already encrypted, it
has to be set above that layer (e.g. eth0 is not OK for Weave, but the
weave0 interface is OK).

[2018-07-08 16:35] tmedford opened #3342 "Cant Set logLevel for kubernetes Deployment"
I may be missing something but I cant see anyway to set the log level of weave-npc or weave via ENV vars for kuberentes deployment.

[2018-07-08 20:46] bboreham commented on #3342
It’s a command-line argument `—log-level`

Please can you provide more context why you specifically need an environment variable.

[2018-07-09 07:49] brb commented on #3314
@bernhara Thanks for letting us know.

[2018-07-09 08:13] brb commented on #3032
Probably `-A WEAVE-NPC -m set ! --match-set weave-local-pods dst -j ACCEPT` installed by crashing weave-npc allows the traffic. The `weave-local-pods` ipset is maintained by weave-npc, so in your case it might stay empty.

[2018-07-09 08:25] brb opened #3344 "Replace weave-local-pods ipset with physdev iptables rule"
We can get rid of the `weave-local-pods` ipset used by the weave-npc ingress rule `-A WEAVE-NPC -m set ! --match-set weave-local-pods dst -j ACCEPT` with `-A WEAVE-NPC -m physdev --physdev-out=vethwe-bridge -j ACCEPT`.

The former rule is insecure, as it might allow ingress traffic if the ipset is not properly maintained (e.g. due to crashing weave-npc as in https://github.com/weaveworks/weave/iss

[2018-07-09 08:30] brb commented on #3342
We do not document how to change the log levels at https://www.weave.works/docs/net/latest/kubernetes/kube-addon/.

For `weave`, you can pass `--log-level=...` via the `EXTRA_ARGS` env arg.

[2018-07-09 08:32] brb commented on #3336
@hongxima Thanks. Any idea which change (probably in the kernel) between RHEL7.2 and RHEL7.4 has fixed the issue?

[2018-07-09 08:35] brb commented on #3335
@errordeveloper Any idea how to access the api-server?

[2018-07-09 09:19] brb commented on #3337
@stevenjohnstone Thanks for the detailed issue! Mind creating a PR?

[2018-07-09 09:44] brb commented on #3341
@yogiverma007 Thanks for the issue.

Does the thread doing the work call the HTTP Rest API via Kubernetes Service IP addr?

[2018-07-09 10:01] georgesimms commented on #3032
The documentation for the port field of NetworkPolicyPort (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#networkpolicyport-v1beta1-extensions) says

And even if it were only accepting numerical ports, ideally it should be rejected at the point of running `kubectl apply` so proper validation can be done, and not crash the whole networkpolicy controller.

[2018-07-09 10:08] bboreham commented on #3032
Sadly that is extremely asynchronous from the Weave Net NPC code.

[2018-07-09 10:17] #3337 closed

[2018-07-09 14:33] brb commented on #3310
@zacblazic @itskingori @kuznero What file system (with options) is of the
 `/var/lib/weave` host dir? `mount` can show this information.

@kuznero Can you easily reproduce the issue?

[2018-07-09 15:50] hongxima commented on #3336
@brb We didn't have time to find the root cause, so far RHEL7.5 has been working pretty well.

[2018-07-12 07:10] murali-reddy opened #3347 "Network policy: ingress traffic is allowed when no namespaceSelector/podSelector is specified"
## What you expected to happen?

An user reported this issues in the slack
https://weave-community.slack.com/archives/C2ND76PAA/p1531355773000036

When an ingress network policy applies to a pod, ingress traffic to the pod is blocked by default. Traffic that should be white-listed in specified through `namespaceSelector`, `podSelector` or `ipBlock`. Weave currently does not support `ipBlock` yet,

[2018-07-12 07:23] rade commented on #3347
See also #3344 for a similar "fail open" issue.

[2018-07-12 08:40] bboreham commented on #2826
Sorry this is sitting here unanswered for so long.

I'll go through the points one at a time.  I assume users have found https://www.weave.works/docs/net/latest/kubernetes/kube-addon/ which is our main documentation page for using Weave Net with Kubernetes.  We don't seek to explain everything about installing Kubernetes itself: (a) it's far too complicated and (b) we created `kubeadm` so you woul

[2018-07-12 21:48] #2826 closed

[2018-07-13 17:07] lukaskorte commented on #2624
For me weave-npc does not even start up with the provided test image. It fails creating an already existing ipset:

[code]

The rollback to 2.3.0 worked after restarting the node.

[2018-07-13 23:10] dtshepherd commented on #3016
@bboreham I see you tagged "help wanted" on here.  Do you have any thoughts how you would solve this?  I'm using `kops` to spin up our cluster, but we need `portmap`.  It seems the way Calico solved this with `kops` was to package the `portmap` binary with their docker image and then copy it onto the host through the /opt/cni/bin mount.

I'm wondering if this needs to be a combined fix between `ko

[2018-07-15 08:59] brb commented on #2624
@lukaskorte Thanks for testing and proving logs. I've fixed your issue and published new images: `weaveworks/weave-kube:egress-test-v2` and `weaveworks/weave-npc:egress-test-v2`.

[2018-07-15 21:48] lubars commented on #3009
@marccarre: we've been using option 2 successfully for some time now, but are switching to option 1 because of the startup order/weavemesh issue (can't use option 3 because we're not using Docker Swarm).

Because  we're running everything remotely (via `docker --host=tcp://<ip address>:2376`), I assume doing an `eval $(weave env)` in the local environment has no effect; instead, we're putting the

[2018-07-16 08:36] murali-reddy commented on #3335
@redi-vinogradov Wondering how do you bypass the use of [amazon-vpc-cni-k8s](https://github.com/aws/amazon-vpc-cni-k8s) as CNI for EKS, Could not find a way in the guides.

[2018-07-16 08:37] bboreham commented on #3016
Not really. Probably the whole thing needs taking apart and doing again.

The current implementation is a bit minamalist and simplest-thing-that-works. If I remember correctly, at the time nobody was installing add-ons purely by running a daemonset; the state of the art was to modify the Kubernetes in-tree saltstack.

The inside of a DameonSet is a terrible place to make decisions about what is in

[2018-07-16 08:48] deitch commented on #3016
The problem with places outside is that they are, well, outside. There is something great about it all just being in a single `yml` you can `kubectl apply`, and keeping it clean.

FWIW, the last installation I did was a mix of the `cloud-init` downloading the standard CNI distro and installing it, and a modified `yml` for the `DaemonSet` with an init container that installs an overriding config fi

[2018-07-16 10:44] hswong3i commented on #2924
Could we have a new stable release for this issue, e.g. v2.3.1? According to my understanding, roadmap issues for v2.3.1 are all merged (https://github.com/weaveworks/weave/milestone/72)?

The support of `externalTrafficPolicy: Local` is very useful for ingress-nginx implementation with Deploy + Service + `type: LoadBalancer`.

Thank you for your kindly consideration.

[2018-07-16 10:49] brb commented on #3311
Also to consider: https://github.com/kubernetes/kubernetes/issues/57130 (via @murali-reddy )

[2018-07-16 12:18] brb commented on #2924
@hswong3i Unfortunately, this is not a bugfix, so we cannot include it in the minor v2.3.1 release.

While waiting for v2.4.0 and if you want to test the feature, you can use the `weaveworks/weave-kube:egress-test-v2` and `weaveworks/weave-npc:egress-test-v2` images. To enable the feature, you need to set the `NO_MASQ_LOCAL` env var of `weave-net` to 1 in the DaemonSet definition file.

[2018-07-16 12:20] brb commented on #3335
Related https://github.com/weaveworks/eksctl/issues/109

[2018-07-16 12:33] redi-vinogradov commented on #3335
@murali-reddy Not sure if that was a correct way of doing this but basically `kubectl delete ds --namespace=kube-system aws-node`

[2018-07-16 14:07] dtshepherd commented on #3016
@murali-reddy Yes, it is a one-liner change in that file but we also need to update the weave install template for kops (https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/networking.weave/k8s-1.6.yaml.template).  However, it would be nice for weave to support generating the `conflist` rather than the `conf` in `/etc/cni/net.d/`.  I guess for now, we could use the

[2018-07-16 14:13] bboreham commented on #3016
configmap fine as long as it's optional.

It was so long ago when I did it, optional configmaps didn't exist in Kubernetes...

[2018-07-16 14:29] dtshepherd commented on #3016
Yeah the optional configmaps are nice.   So maybe implement the logic "if cni configmap exists, use it... otherwise, default to the hardcoded 10-weave.conf.

[2018-07-16 17:05] taemon1337 commented on #3327
I am seeing this issue as well

[2018-07-17 08:08] errordeveloper commented on #3335
@redi-vinogradov @murali-reddy yes, deleting `kube-system:DaemonSet/aws-node` is the only way to go, but you also must make sure you recycle all the existing pods (as described in weaveworks/eksctl#109).

[2018-07-17 08:13] brb commented on #3327
@taemon1337 Do you observe any packet loss?

[2018-07-17 08:16] errordeveloper commented on #3335
@brb @bboreham so from my most recent findings (weaveworks/eksctl#109), that doesn't seem an issue any more.   Although, I only did limited testing, so there may exist conditions under which the API server become inaccessible (we should be able to clarify it by talking to the AWS team).

As you can see from weaveworks/eksctl#109, what is certainly broken is the DNS, so I suggest we should get to t

[2018-07-17 09:42] murali-reddy commented on #3335
+1

While deleting the DS will result in the deletion of  `amazon-vpc-cni-k8s` pods, it does not necessarily mean things will work after you install new CNI daemon-set. Usually switching CNI's is trail and error. My guess is `amazon-vpc-cni-k8s` will leave [iptables rules and PBR](https://github.com/aws/amazon-vpc-cni-k8s/blob/01c0390992135c2c44ae0c34fa40ca75ed9ea547/docs/cni-proposal.md) that may

[2018-07-17 10:11] taemon1337 commented on #3327
We see lots of martian packets from the kernel and retransmits with iperf.  We are running baremetal on Centos7.  Our avg throughput using iperf on each node-pair is < 1Gbps, where localhost is 10 Gbps

[2018-07-17 10:12] brb commented on #3327
Could you paste martian packet logs from `dmesg`?

[2018-07-18 06:59] huyqut commented on #3287
@Quentin-M
Hi, I have the same problem as @thomaschaaf :
[code]
However, I'm using CentOS 7 and there's no `iproute2` package. What should I do in this case?

[2018-07-18 15:11] Quentin-M commented on #3287
Hi,

On CentOS, pareto.dist is in /usr/lib64/tc and provided by the iproute
package. The mount needs to be adapted accordingly.
Ref:
https://centos.pkgs.org/7/centos-x86_64/iproute-4.11.0-14.el7.x86_64.rpm.html

[2018-07-18 20:30] brycesteinhoff commented on #3287
We're experiencing this same issue, with failed inserts into the conntrack table increasing.

@Quentin-M, I've tried deploying your Docker container in our Weave pods, but the issue remains.

[2018-07-18 20:46] Quentin-M commented on #3287
Have you adapted the solution to the relevant ports / interfaces?

[2018-07-18 21:51] brycesteinhoff commented on #3287
@Quentin-M Thanks for the quick reply! I just noticed after I posted that your shell script was marking traffic destined for 5353. I've changed that to 53 as we're seeing problems with standard DNS, and will continue to monitor. Our interface is called "weave" also, so I left that the same.

[2018-07-19 11:02] #3206 closed

[2018-07-19 12:36] bklau opened #3350 "weaveworks/net-plugin:latest_release peer discovery not working with Docker Swarm Standalone"
I have  Docker Swarm Standalone v.1.2.9(https://github.com/docker/swarm) and Docker  CE v.18.03.1-ce (2018-04-26).
After the Swarm cluster is formed, I installed weaveworks/net-plugin:latest_release via
`docker plugin install weaveworks/net-plugin:latest_release` for all the Swarm nodes.
Then I do `weave report`  on each swarm node and see that there is only one peer(itself). That is its only awar

[2018-07-19 12:43] bklau commented on #3166
The IPAM driver in used effectively is Docker's default IPAM driver,  the Weave IPAM driver is not in used at all.

[2018-07-19 12:45] bboreham commented on #3166
@bklau you seem to be re-stating this from the description at the top:

[2018-07-19 13:00] murali-reddy commented on #3333
Accessing kubelet cmd line arguments also mean `hostPID: true` (though its already set).

I can not think of any elegant solution. Let me know if you are fine with adding `/usr/libexec/cni` as third directory that launch.sh will check.

Alternatively launch.sh can check if an environment variable CNI_CONF_DIR for e.g. exist and use it to install the CNI.

[2018-07-19 13:37] bboreham commented on #3333
I think it's ok to add a third option, and to add an environment variable.  Note we are talking about the bin dir not the conf dir.

What is also a problem is we need access to each directory: we already have this in the DaemonSet:

[code]

if we carry on with `/usr/libexec` it starts to get silly.

[2018-07-19 19:31] bamb00 commented on #3191
@buptliuwei Can you be more specific how you solved the problem by recompiling the kernel? I upgrade the kernel from 3.10.0-514.2.2.el7.x86_64 to 3.10.0-862.9.1.el7.x86_64 but it did not help with the weave pod crashing.

[2018-07-19 20:15] bamb00 commented on #3191
Hi @bboreham

This is from the kube-proxy logs,

	# kubectl logs kube-proxy-9pgwq -n kube-system
	I0719 19:26:42.583788       1 feature_gate.go:190] feature gates: map[]
	time="2018-07-19T19:26:42Z" level=warning msg="Running modprobe ip_vs failed with message: `modprobe: ERROR: could not insert 'ip_vs': Exec format error\ninsmod /lib/modules/3.10.0-862.9.1.el7.x86_64/kernel/net/netfilter/ipvs/ip_

[2018-07-19 21:46] bboreham commented on #3191
Ok, looks like you have found your problem.

[2018-07-19 22:38] bamb00 commented on #3191
Is there a workaround or fix? I'm running k8s v1.9.5 + docker 17.03.2-ce

[2018-07-19 22:50] murali-reddy commented on #3191
@bamb00  there is no work around. You need to fix why kube-proxy got connection refusted in reaching API server. kube-proxy logs

[code]
and

[code]
indicate kube-proxy can not reach API server 172.22.87.243

[2018-07-20 06:58] frittentheke commented on #2557
@brb  @bboreham I am unsure whether I am supposed to open a new issue. This one is quite old and seems to be "resolved" mostly?

Anyways: At KubeCon 2018 in Kopenhagen we spoke briefly about the automatic cleanup (rmpeer) of peers when running inside Kubernetes on nodes that are part of an AWS ASG. It would be very nice if you could add a metric / count of the number of peers which were removed du

[2018-07-20 15:10] bamb00 commented on #3191
Thanks for pointing that out.

[2018-07-20 19:35] louismunro opened #3351 "Race condition on xtables.lock with kube-proxy"
## What you expected to happen?
I expected weave to start.

## What happened?

Weave started but exited immediately with a FATAL error because it can't connect to the API.
It turns out that kube-proxy did not start, therefore not creating the iptables rules to NAT traffic to one of the k8s masters.

Further digging into the issue showed that kube-proxy and weave are in a race condition for the /ru

[2018-07-21 15:33] brb commented on #3347
Probably this issue can be closed after #3168 has been fixed (I'm planning to do it after the Egress NPC PR has been merged).

[2018-07-22 00:46] bklau commented on #3350
Currently, BOTH Docker Swarm Standalone and Docker Swarm mode  works out of the box with the  default "overlay" driver that is shipped with Docker CE. So I don't see why `weaveworks/net-plugin:latest_release` , in a similar way, can't be made to work with both Docker Swarm Standalone and Docker Swarm mode.

[2018-07-22 12:43] brb commented on #3351
@louismunro Thanks for the investigation! Indeed, the issue exists as you described. We are waiting for your PR.

[2018-07-22 17:20] Jaskaranbir opened #3352 "Cannot distribute IP addresses: [allocator]: Delete: no addresses for ...."
## What you expected to happen?

Weave successfully distributes IP addresses to PODs and runs them.

## What happened?

Every POD gets deleted with: `[allocator]: Delete: no addresses for ....` (kube-dns, dashboard, heapster, etc.)

## How to reproduce it?

Add Weave CNI.

## Anything else we need to know?

Its a local setup running on Vagrant, CoreOS 1745.7.0, and manually setup components (no ku

[2018-07-23 10:47] bboreham commented on #2557
@frittentheke generally it's best to open a new issue; it's easier to deal with accidental duplicates than the other way round.

Since this particular issue is a random set of "stuff" I think that's an even better reason to open a new one.

[2018-07-23 12:06] bboreham commented on #3350
Docker compile their driver into the Docker daemon.  It isn't really comparable at all.

The "legacy" and "v2" plugin models are different: they install differently, run differently, etc.

From the sound of your experiment the Weave plugin is not finding the information it expects about peers.  Maybe if you posted the log file this would be clearer.

[2018-07-23 12:35] #3351 closed

[2018-07-23 13:17] redi-vinogradov commented on #3335
Thank you, gents. I had to reset iptables rules and reboot worker nodes. Now I can confirm that pods are able to communicate successfully. Is that confirms that Weave is officially working with EKS?

[2018-07-24 08:55] brb opened #3354 "Refactor 840 and 870 smoke tests"
They both share many duplicates. We should extract common functions and move to separate files. Some work has been done in #3218 , so we should probably bring the PR back to life.

[2018-07-24 09:17] #2624 closed

[2018-07-24 12:52] brb commented on #3341
Closing due to inactivity.

[2018-07-24 15:21] cpressland opened #3355 "Intermittent packet loss between pods"
After seeking advice on Slack, @brb advised that I log this as an issue.

We're seeing a small amount of intermittent packet loss on our Production environment, @backwardspy wrote a small rust application which pretends to speak http in order to further troubleshoot the issue.

[code]

Running the above locally allows us to make approximately 800 connections per second using a Python client so it'

[2018-07-25 03:34] murali-reddy commented on #3355
Just to narrow down the issue (taking out kube-proxy in the data path), would you mind trying the same tests directly from pod to pod i.e. without accessing the service `my360-jeff` and directly accessing the pod IP

[2018-07-25 08:04] cpressland commented on #3355
Thanks @murali-reddy - unfortunately we see the same thing:

[code]

Sorry, you may need to scroll a bit to see the `curl: (56) Recv failure: Connection reset by peer`

[2018-07-25 09:11] brb commented on #3355
It's worth checking whether the number of the `Captured <..>` errors is equal to `TX-DRP` (as we drop a packet in the case of error) and whether the errors are logged due to https://github.com/weaveworks/weave/issues/2877.

[2018-07-25 10:24] frittentheke commented on #3300
@bboreham  in your comment https://github.com/weaveworks/weave/issues/3300#issuecomment-388865354 you talk about "having an issue open".

Isn't this issue, https://github.com/weaveworks/weave/issues/3300, sufficiently reported on to narrow down the cause and fix / improve this?

[2018-07-25 10:41] bboreham commented on #3300
@frittentheke I believe so.

The cause is that there is no code to re-fetch the peer list from Kubernetes after startup.

[2018-07-25 11:02] frittentheke opened #3357 "Provide count / metric for automatically removed peers"
As suggested by @bboreham I am moving this over to this new issue from my comment in https://github.com/weaveworks/weave/issues/2557 ...

## What you expected to happen?

There is automatic cleanup (rmpeer) of peers when running inside Kubernetes on nodes that are part of i.e. an AWS ASG.
It would be very nice if you could add a metric / simple count of the number of peers which were removed due t

[2018-07-25 11:33] BackwardSpy commented on #3355
@murali-reddy you can find the image in question [here](https://hub.docker.com/r/backwardspy/jeff/). please excuse any bad behaviour - it was a very quick hack!

[2018-07-25 17:05] brb commented on #2624
Released! https://github.com/weaveworks/weave/releases/tag/v2.4.0

[2018-07-25 17:08] brb commented on #2924
Released: https://github.com/weaveworks/weave/releases/tag/v2.4.0!

To use the feature, you need to pass `NO_MASQ_LOCAL=1` to cloud.weave.works when installing Weave Net as it is described https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#configuration-options.

[2018-07-26 08:56] murali-reddy commented on #3355
I am not able to reproduce this issue. Are you able to easily replicate this scenario or any other cluster?

[2018-07-26 10:47] dholbach opened #3358 "Please update vendored copy of k8s.io/client-go"
Our current copy of k8s.io/client-go uses juju/ratelimit which is LGPL3. Upstream moved away from this in kubernetes/client-go@acc5249 - it'd be good if we followed this change as well.

[2018-07-26 14:00] bboreham opened #3361 "Test flake on defunct processes"
As seen in https://circleci.com/gh/weaveworks/weave/10371#tests/containers/1

[code]

It's possible that the process came from the Ubuntu upgrade task - https://github.com/weaveworks/build-tools/pull/108 was supposed to disable that but wasn't applied in the right place.

[2018-07-26 14:39] yogiverma007 commented on #3341
@brb Apologies for delay in response, Yes the thread call the rest api via Kubernetes Service IP addr.

[2018-07-26 22:46] Jaskaranbir commented on #3352
@murali-reddy apologies for late reply, I got busy with another project. In any case, that was indeed the issue.

I was downloading the release from [containernetworking/cni](https://github.com/containernetworking/cni) repo instead of the [plugins](https://github.com/containernetworking/plugins) repo for whatever reason. Should have used a bit more common sense when I was checking the directory co

[2018-07-26 22:46] #3352 closed

[2018-07-27 11:13] murali-reddy commented on #3331
So i digged in bit more.
It turns out the source of the problem is the network configuration not having a CNI version. Example config shared in #3331 does not have a `cniVersion` explicitly specified. Which is [interpreted](https://github.com/containernetworking/cni/blob/master/pkg/version/conf.go#L34) by CNI library as `0.1.0`

When weave-net plugin invokes IPAM plugin using libcni helper functio

[2018-07-27 11:18] bboreham commented on #3331
@murali-reddy that's great: I really like to understand what is going wrong before fixing things.

A quick glance suggests that libcni is indeed initializing that member unnecessarily.

We should add the CNI version to our standard config, right?  And maybe mention this in the docs.

[2018-07-28 07:45] cpressland commented on #3355
@murali-reddy - sorry for the delayed response.

I have confirmed that this happens in all three of our Kubernetes Clusters, which isn't all that surprising given then they're in the same Azure region, share the same Terraform deployment modules and are configured with the same Cookbooks. However, I did note that it does not happen if the curl pod and the jeff pod are on the same node, which I sup

[2018-07-28 13:07] brb commented on #3341
@yogiverma007 Could you provide PCAP traces from each host captured with `tcpdump -i weave -w "$(hostname).pcap"` when you hit the problem?

[2018-07-28 13:09] brb commented on #3331
@murali-reddy Good investigation! Please file an issue for libcni.

[2018-07-28 22:53] hhrutter opened #3363 "Weave Net does not come up after joining k8s nodes within VirtualBox."
## What you expected to happen?
After installation of a k8s cluster Weave should be up and running on all nodes after `kubeadm join`

## What happened?
`kubeadm init --apiserver-advertise-address=192.168.100.1`
then I copied admin.conf to $HOME/.kube/config
```kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"```
then i joined 2 nodes with:
[c

[2018-07-29 12:39] mhulscher opened #3364 "PodSecurityPolicy missing from weave Kubernetes manifest"
## What you expected to happen?
The weave manifest installs an appropriate, minimal, PodSecurityPolicy

## What happened?
Because weave does not supply a PSP, the pods will fail to start on clusters which have the PSP admission controller enabled

## Anything else we need to know?
Any cluster that enforces PSPs

## Workaround
Grant weave access to `use` a PSP with wide-scoped access

[2018-07-30 05:53] murali-reddy commented on #3363
FATA: 2018/07/28 22:18:53.116928 [kube-peers] Could not get peers: Get https://10.96.0.1:443/api/v1/nodes: dial tcp 10.96.0.1:443: i/o timeout
Failed to get peers

Weave pods are unable to reach Kubernetes API server through service proxy. Very likely you are running into routing issues and nothing related to Weave as such. Please take a look at below routes and see if this is what causing the iss

[2018-07-30 05:54] murali-reddy commented on #3358
@dholbach We will consider updating client-to newer version for next release.

[2018-07-30 06:37] murali-reddy commented on #3355
Right packets might getting bridged locally without going through data-path setup by weave.

Could you please share the details for the question @brb asked. Basically if the number of packet drops seen correlates to the errors

[code]

[2018-07-30 07:05] brb commented on #3363
I think the problem is that the DNAT translation in the Linux kernel happens after src IP addr is chosen for the packet. In your case, the master receives the request with src IP set to the one used as a src to the default gw (`ip route get 10.96.0.1`), and therefore the response is sent via `enp0s8` instead of `enp0s3` (or just dropped if the `rp_filter` policy is enabled) => the packet is lost.

[2018-07-30 08:06] bboreham commented on #3364
Is the PodSecurityPolicy object available to create by default, or only if it is enabled on that particular Kubernetes cluster?

If the former, do you know what version of Kubernetes it became widely available?

[2018-07-30 08:54] yogiverma007 commented on #3341
Will share you the traces in some time.

[2018-07-30 09:56] BackwardSpy commented on #3355
@cpressland i just tested it on a fresh vm in a fresh vnet in azure, both with and without docker, and i could not replicate the connection issue at all.

[2018-07-30 10:17] murali-reddy commented on #3331
Default config that weave creates already sets `cniVersion` to 0.3.0.  But even if users create custom config IMO this is something better fixed by libcni. If its not for 0.3.0, it might happen for 0.4.0

Basically the problem (i.e. adding empty slice of Routes) is manifesting when converting IPAM plugin result to `current` version IPAM result. Opened https://github.com/containernetworking/cni/iss

[2018-07-30 10:46] cpressland commented on #3355
@murali-reddy / @brb - I’ll get those stats for you on Monday when I’m back in the office.

@BackwardSpy - thanks for this. I guess this proves there isn’t an issue with the underlay Azure Network. Can you task somebody with spinning up a cluster with kubeadm tomorrow to repeat the above test with Weave and Kubernetes?

[2018-07-30 10:57] murali-reddy commented on #3230
@brb is this still a problem? I would like to take a shot at this.

[2018-07-30 11:21] brb commented on #3230
@murali-reddy I think this is still a problem. I'd be interested in the "Monitor (and maintain) iptables rules and ensure the required order" solution, as it could be used to maintain other iptables rules installed by Net.

Before implementing it, perhaps you could present possible ideas.

[2018-07-30 17:43] krzysztof-bronk opened #3365 "How to bootstrap Weave Net on k8s Master nodes?"
Hello,

I've successfully deployed Weave 2.4.0 for k8s 1.10.4 via CNI using the **V2 Docker Network plugin**

However, I currently need to be able to connect from my master **nodes** to worker **pods**.
The problem is, as there is no kubelet running on Master nodes, weave is essentially idle - it does not create the weave interface and so pod routing is missing.

Is there a way to force weave to d

[2018-07-30 17:47] krzysztof-bronk commented on #3365
Correction: the interface is there, but the route is not. I'll see if I can create it manually and if that is enough for the setup to work.

[2018-07-30 18:37] krzysztof-bronk commented on #3365
I found that after running **weave expose** I'm getting the desired outcome - iptables are updated, and so is the route table.

However this does not survive a reboot

[2018-07-31 06:45] bboreham commented on #3365
Is that something you specifically needed to do?  CNI and Docker Plug-in are two different ways to achieve the same end.

If you have no preference, just use the Weave Net Kubernetes add-on which will configure everything for you.

https://www.weave.works/docs/net/latest/kubernetes/kube-addon

[2018-07-31 07:31] murali-reddy commented on #3230
One pattern i have seen with Kubernetes controllers is that idea of periodic reconciliation loop which ensures actual state is in sync with desired state. Such reconciliation even can fix out-of-band changes like iptables restart etc and issues as mentioned in #3155, #3106. But that is more significant work but holistic solution IMO. I still don't have good clarity how much of the code (both net a

[2018-07-31 07:33] murali-reddy commented on #3331
I will close this issue and follow up on the libcni issue. Please reopen if you think otherwise.

[2018-07-31 07:33] #3331 closed

[2018-07-31 08:47] krzysztof-bronk commented on #3365
In general I prefer the systemd or plugin way, to limit the number of k8s parts that are run... within k8s. I know it's common practice, but I feel a little uneasy when running cluster-critical components as part of the very same cluster, so if possible, I avoid it.

But all in all, using the addon instead of the plugin still requires CNI right?
It is just much more clear what is actually running

[2018-07-31 09:01] bboreham commented on #3365
OK, so you don't want to use the Docker plugin interface.

Kubernetes (broadly) requires CNI, yes.

The non-addon CNI instructions are at https://www.weave.works/docs/net/latest/kubernetes/

"`weave expose` does not survive a reboot" is #2144

[2018-07-31 09:29] krzysztof-bronk commented on #3365
Thank you for the tips, I'll test the alternatives :) Hopefully I will find a non-intrusive way of rolling it out though, as we have a lot of services already running in production.

[2018-07-31 09:29] #3365 closed

[2018-07-31 09:32] mhulscher commented on #3364
The PodSecurityPolicy object can be created even when the admission-controller is not enabled. However, I do not know at what stage the object became widely available.

[2018-07-31 10:01] bboreham commented on #3364
OK, if someone wants to make a PR for this the easiest way would be to modify https://github.com/weaveworks/weave/blob/master/prog/weave-kube/weave-daemonset-k8s-1.8.yaml and then we can make the same changes to the cloud.weave.works backend.

[2018-07-31 10:13] brb commented on #3230
I meant what you just described above, i.e. the way k8s does.

[2018-08-01 15:51] annismckenzie commented on #3363
In our own Vagrant based devbox setup (Saltstack based but that's just fyi) we've worked around a couple of quirks (which includes this issue) by:
1. add `--pod-network-cidr 10.32.0.0/12` to the `kubeadm init` command and use `https://cloud.weave.works/k8s/net?k8s-version=v1.11.1&env.IPALLOC_RANGE=10.32.0.0/12` as the URL for fetching the weave.yaml or directly applying it like you did. What you p

[2018-08-02 05:09] murali-reddy commented on #3363
Specifying `pod-network-cidr`, which results in `clusterCIDR` getting specified for kube-proxy, may have been accidentally fixing the problem. Basically its masking the problem by `MASQUERADE` the traffic.

Weave net run in `hostNetwork`, so it is not going to get ip from pod CIDR anyway. In case of multiple interfaces its still important to establish proper routes so that traffic to service VIP's

[2018-08-02 06:40] murali-reddy commented on #3296
this seems like kernel issue https://bugzilla.netfilter.org/show_bug.cgi?id=1119 that is fixed > 4.11

https://github.com/projectcalico/felix/issues/1347

[2018-08-02 07:51] murali-reddy commented on #2939
I can not reproduce the issue. But still there are ipset destroy's with out flushing the ipsets. Which means if there are cross-references order of deleting ipset's must be correct and could be error prone. https://github.com/weaveworks/weave/pull/2949 fixes only the case when weave-npc starting.

@brb Does adding flush of ipset make sense if not anything as defense.

[2018-08-02 07:58] annismckenzie commented on #3363
You're right that this might be an accidental fix but for now it's easier to do than making sure `ip route add 10.96.0.1/32 …` is done on all nodes and is reboot safe regardless of the OS used for the cluster. As this is a Vagrant setup used for development and it does work I'm fine with it for now. Do you have a less brittle proposal?

[2018-08-02 08:15] bboreham commented on #3296
Great find!
Should we add a work-around - ignore this error from ipset on kernel < 4.11 ?

[2018-08-02 08:36] bboreham commented on #3363
Maybe change your Vagrant setup so the default route is also the route to the api-server ?

There are some different suggestions in the lengthy thread at https://github.com/kubernetes/kubeadm/issues/102

I'm not aware of anyone attacking the fundamental issue that Linux doesn't reconsider its choice of source address after a DNAT.

[2018-08-02 09:33] murali-reddy commented on #3296
Sure. I will add an exception.

[2018-08-02 09:46] brb commented on #3296
I don't think that we can work-around this way. According to the bug report, the problem is that `ipset delete` might evict other ipset members. So, the work-around would be to check whether members stored in the ipset match IP addrs stored internally in weave-npc each time we do any manipulation to the ipset.

[2018-08-02 09:48] brb commented on #3296
Also, the problem seems to be introduced in the kernel 4.2 and fixed in the 4.11. So, the user's kernel `4.4.0-124-generic #148-Ubuntu` falls into this range.

[2018-08-02 10:38] #3255 closed

[2018-08-03 07:50] murali-reddy commented on #3296
So are you saying we can run into issue where there may not be any error but still as result of this issue, some entries can get evicted? Which seems even worse scenario

[2018-08-03 07:55] brb commented on #3296
Yep, removing entry A might evict entry B as well.

[2018-08-03 12:45] brb commented on #2939
Hmm, I'm in favor of not silently flushing ipset and then destroying, as it would hide a bugs in NPC refcounting implementation. Maybe it makes sense first to log an error if ipset is non-empty before destroying, and only then to flush.

[2018-08-03 12:46] brb commented on #2939
Also, noting that Weave Net versions mentioned in this issue are very old - lots have changed in the NPC since 1.6.0 and 1.9.5.

[2018-08-05 11:58] brb commented on #3287
Just to update, I've submitted two patches to fix the conntrack races in the kernel - http://patchwork.ozlabs.org/patch/937963/ (accepted) and http://patchwork.ozlabs.org/patch/952939/ (waiting for a review).

If both are accepted, then the timeout cases due to the races will be eliminated for those who run only *one* instance of a DNS server, and for others - the timeout hit rate should decrease.

[2018-08-05 15:58] hhrutter commented on #3363
Thanks for all the interesting input.

Although I am still trying to understand why I need this in my particular setup
adding a static route on my worker nodes with`ip route add 10.96.0.1/32 dev enp0s3` fixed the problem and all nodes are up and running including the weave-net pods.

[2018-08-05 15:58] #3363 closed

[2018-08-05 21:37] annismckenzie commented on #3363
How’d you make that reboot safe? The route will only be there temporarily.

[2018-08-06 06:56] murali-reddy commented on #178
I spent some time recently understanding how multicast works in Weave. Elaborating this a bit to give perspective on the problem if some one is interested. For e.g. lets take a cluster with 5 nodes running application container accessing  `224.1.2.3`.  L3 multicast traffic from the container is mapped to L2 multicast and sent out. In this case `224.1.2.3` maps to L2 multicast IP `01:00:5e:01:02:03

[2018-08-06 13:47] greenpau commented on #178
@murali-reddy , having more specific rules may be disadvantageous, because rule processing within OVS consumes resources, requires careful table design, etc. Having a single generic rule speeds things up in terms on flow processing. It is a trade-off.

[2018-08-06 15:09] marccarre opened #3368 "Error parsing reference: "weaveworks/weavebuild:" is not a valid repository/tag: invalid reference format"
## What you expected to happen?

Weave Net to build successfully.

## What happened?

[code]

## How to reproduce it?

[code]

## Anything else we need to know?

This may or may not be related to https://app.intercom.io/a/apps/nvwp88sj/inbox/inbox/all/conversations/17786897537 -- unclear at this stage. Right before the actual build error, there are `apt`/`gpg` related errors/warnings which appeare

[2018-08-07 14:47] cpressland commented on #3355
Finally had time to further test this. We've spun up a kubeadm Kubernetes Cluster in Azure with the following configuration, thankfully this is very easy to reproduce in Azure.

1 x Virtual Network with 2 Subnets
1 x Kubernetes Master in Subnet 1
2 x Kubernetes Nodes in Subnet 2

Kubernetes Master configured with latest docker version from https://get.docker.com/ and then `kubeadm init`, weave is

[2018-08-07 15:29] dholbach commented on #3338
I'm going to move the `old-guides` to https://github.com/weaveworks-guides/old-guides for archiving purposes soon.

It'd be good to resolve this issue before then. Does anyone have any opinions?

[2018-08-07 16:02] bboreham commented on #3338
I think https://www.weave.works/docs/scope/latest/ami/ is the best we have.
If the other one is out of date and there's nothing to replace it, we just have to delete the link.

[2018-08-07 17:01] murali-reddy commented on #3355
@cpressland So i tried on AWS, i am able to reproduce exact issue `(56) Recv failure: Connection reset by peer`. Strangely on my local cluster I am not able to reproduce. I will try to find the root cause now that I can reproduce easily.

[2018-08-07 18:12] paphillon commented on #3327
We are seeing the same on our new setup with a mix of bare metal and VM nodes

[code]

[2018-08-08 05:02] murali-reddy commented on #3355
I tired to find any possible issues from Weave side that is causing reported problem. While I am able to reproduce the connection failure with the image provided, I dont see any issues from Weave side. All the OVS flow rules are configured properly and in place, so there is no reason to belive packets are getting dropped in datapath setup by Weave. I have not seen any errors in Weave logs as well.

[2018-08-08 12:10] bklau opened #3370 "WEAVE_DOCKER_ARGS cause "invalid reference format" error"
Symptom:
------------
When attempting to pass additional Docker run arguments to `weave launch`, got an error "invalid reference format".
Found in version : Weave version2.4.0

Steps to repro:
-----------------
Just execute the code below to add a  custom Docker label "com.abc.com.container.ignore"
`WEAVE_DEBUG= WEAVE_DOCKER_ARGS="-l com.abc.com.container.ignore"  weave launch`
unable to create co

[2018-08-08 12:13] bboreham commented on #3370
Hi, could you run `WEAVE_DEBUG=true WEAVE_DOCKER_ARGS="-l com.abc.com.container.ignore" weave launch` and post the full output please

[2018-08-08 12:16] bklau commented on #3370
WEAVE_DEBUG=true  WEAVE_DOCKER_ARGS="-l com.abc.com.container.ignore"  weave launch
/usr/local/bin/weave: 6: /usr/local/bin/weave: Bad substitution

[2018-08-08 12:17] bklau commented on #3370
WEAVE_DOCKER_ARGS="-l com.abc.com.container.ignore"  weave launch
unable to create container: API error (500): invalid reference format

[2018-08-08 20:03] alok87 opened #3372 "Node deletion does not clear up the IPs"
Node on getting deleted/terminated by autoscaler, or manual termination should clear up the Pod IPs. But it is not happening.

Related - https://github.com/weaveworks/weave/issues/2797#issuecomment-383481437

## Versions:
- kubernetes version: `1.9.8`
- provisioned using kops: `1.9.2`
- weave version which kops provisioned: `weaveworks/weave-kube:2.3.0`
- Node AMI is the default debian AMI kops pr

[2018-08-09 13:30] redi-vinogradov commented on #3372
I'm also seeing this issue with weave 2.4.0, kops 1.9.1, k8s 1.9.9

[2018-08-09 13:38] murali-reddy commented on #3372
@alok87 if you have a fix in mind please go ahead and raise a PR. Otherwise i am happy to pick this up and get it fixed for next release.

[2018-08-09 14:24] alok87 commented on #3372
@murali-reddy Cool i can take this up in few days.
One question - what impact this unreachable IPs have in the request being routed in the cluster having this issue where in total 86% in total of nodes IPs have become ubreachable.

[2018-08-09 15:01] murali-reddy commented on #3372
@alok87 I don't think there is any impact.

They are not exactly unreachable. Once a node goes down, depending on nature of the deployment pods will get rescheduled to other nodes. Application will continue to work.

Once a new node joins up, there will be readjustment (reclaim unused/unreachable ip address range) so 100% of subnet is usable for pod's.

For e.g, with kops provisioned cluster with

[2018-08-09 15:25] redi-vinogradov commented on #3372
From our experience, there is an impact. In case then pods are already allocated with IPs from some subnet block and after that, node responsible for this subnet goes down - pods are not able to communicate with others anymore.
For now, we are using a shell script which just deletes unreachable nodes and that subnet range is associated with a node which executed delete command.

[2018-08-09 15:32] bboreham commented on #3372
@redi-vinogradov this should not happen.  Weave Net implements communication at Layer 2 - MAC to MAC, not via subnets.

Please open another issue giving details of your install and log files from the time you experienced a communication problem.

[2018-08-09 19:00] Dmitry1987 commented on #3300
Hi, we have the same issues,  weaveworks/weave-kube:2.3.0  also.
Is there a fix?   would 2.4.0 upgrade solve this?

[2018-08-09 20:02] bboreham commented on #3300
No fix yet.

[2018-08-10 09:55] bboreham commented on #3372
If the clean-up does run when a new node starts, this the same as #3171.
If it doesn't, please post the logs of the `weave` container on that new node.

[2018-08-10 10:00] bboreham commented on #3015
I suspect it was/is trying to copy `weaveutil` to act as CNI plugin.

[2018-08-10 10:06] bboreham commented on #3037
Although it is correct to say we could implement two different retry mechanisms, I don't see any point since #1737 will cover both kinds of failure.  I'm going to close this.

[2018-08-10 10:06] #3037 closed

[2018-08-10 10:08] bboreham commented on #3287
Do we envisage setting `NF_NAT_RANGE_PROTO_RANDOM_FULLY` inside Weave Net?
If not I would re-title this issue to match the broader problem.

[2018-08-10 10:40] bboreham commented on #1853
I'm going to close this as I can only remember one person ever complained, and #2376 covers the most likely change we would make.

[2018-08-10 10:40] #1853 closed

[2018-08-10 11:02] bboreham commented on #3272
@brb does `ipblock` support in #3367 help here?

[2018-08-10 11:32] bsshetty opened #3374 "[Query]Can weave be used to get IPV6 address for Pod"
This is a query, I would like to know if weave supports getting IPV6 address for Pod. If so, is there any documention on steps to follow, thanks

[2018-08-10 12:04] bboreham commented on #3374
Sorry, no support for IPv6 at present.

Closing as duplicate of #19

[2018-08-10 12:04] #3374 closed

[2018-08-10 15:44] mikebryant opened #3376 "Make sleeve/fastdp status visible in Prometheus"
# Feature Request

## Our Problem

We had a firewall rule in our test environment that allowed ipsec. This wasn't present in production. As a result weave downgraded all the connections to sleeve, leading to severe latency issues.

## The request

Would it be possible to expose the sleeve/fastdp state in Prometheus? We'd like to add alerting so we can't be bitten by this situation in future withou

[2018-08-10 15:50] bboreham commented on #3376
I think you should be able to monitor for `weave_flows` going to zero, or maybe `absent(weave_flows)`

[2018-08-10 15:51] bboreham commented on #3376
But directly exposing the state is a great idea too.

[2018-08-10 15:56] mikebryant commented on #3376
Ah, thanks for the tip. Looks like that would be sufficient right now to give us an idea of status :)

[2018-08-10 21:46] michaelplemmons opened #3377 "Weave not updating tables from network policy"
## What you expected to happen?
I expect egress traffic to be blocked

## What happened?

All egress traffic is allowed

## How to reproduce it?
The custom container is just a script accessing a public website every 30 seconds.
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: test-network-policy
  namespace: dev
spec:
  podSelector:
    matchLabels:
      app: plem-networ

[2018-08-13 05:32] murali-reddy commented on #3377
@michaelplemmons Please note that egress network policies are supported only from 2.4.0.

https://github.com/weaveworks/weave/releases/tag/v2.4.0

[2018-08-13 05:32] #3377 closed

[2018-08-13 10:20] dholbach opened #3378 "Document when sleeve mode is used instead of fastdp"
Ilya just brought this up in a [conversation on Slack](https://weave-community.slack.com/archives/C2ND76PAA/p1534154228000265):

[2018-08-14 09:57] #3358 closed

[2018-08-14 10:40] brb commented on #2376
Considering that the 4.4 kernel is still actively being used, I'd keep it open.

[2018-08-14 12:17] brb commented on #3272
Probably #3367 does not help - I don't see how one can write an ingress rule with a dst set to a multicast addr.

[2018-08-15 08:54] cpressland commented on #3355
I'll close this off as we've been able to replicate the issue with Flannel, it's clearly not an issue with Weave, but it's really interesting that this only happens in kubernetes environments on cloud providers. My local Kubernetes Clusters and Docker environments never experience this issue regardless of the speed I throw requests at it. I guess our journey continues. Thanks for the assist!

[2018-08-15 08:54] #3355 closed

[2018-08-16 04:44] zhoulouzi commented on #3239
Any Update?

[2018-08-16 07:41] murali-reddy commented on #3239
@zhoulouzi What exactly is the issue you are running into?

[2018-08-16 07:54] #3168 closed

[2018-08-17 07:26] brb commented on #3239
My hypothesis is that on old kernels (< v4.0) the promiscuous mode setting of the weave bridge gets reset. However, I haven't had a chance to validate it.

[2018-08-17 07:33] brb commented on #3355
@cpressland Thanks for the update.

[2018-08-17 07:34] brb commented on #3347
Fixed by #3367

[2018-08-17 07:34] #3347 closed

[2018-08-17 10:25] #3226 closed

[2018-08-17 11:49] hhrutter commented on #3363
I persisted the static routes on the worker nodes via network script like so:
/etc/sysconfig/network-scripts/route-enp0s3:
10.96.0.1/32 via 192.168.100.1 dev enp0s3

[2018-08-19 23:49] justinbarrick opened #3380 "Weave with gVisor"
I'm trying to run Weave with gVisor as the runtime and it seems to break weave net:

[code]

Any ideas how to work around this?

[2018-08-20 00:05] justinbarrick commented on #3380
It seems like they don't implement /proc/sys/net: https://github.com/google/gvisor/blob/master/pkg/sentry/fs/proc/README.md

[2018-08-20 08:04] bboreham commented on #3372
No.

You showed one node, not "so many".
Not being able to connect is expected, in a distributed system.  Weave Net can cope, so long as it doesn't run out of free IP addresses entirely.

I know of no mechanism to connect unreachable nodes to packet latency.

I'll close this for now; please re-open or open a new issue when you have evidence of a problem.

[2018-08-20 12:19] davidhiendl commented on #1737
Any update on this? This ticket is almost 3 years old and there is still no fix. Any node reboot / temporary connectivity issue switches weave to sleeve with no way to return without a full restart.

[2018-08-20 12:43] murali-reddy commented on #1737
I am working on the fix for this issue.

[2018-08-20 13:02] davidhiendl commented on #1737
@murali-reddy Thanks for working on it. If you need any help testing please let me know.

[2018-08-20 13:25] cm6051 opened #3382 "Service Discovery on Docker Swarm not working"
Hi there,

I'm trying to get service discovery working with weave-net.

I'm using a docker stack file like this:

[code]

I would expect to be able to ping the service names "nginx3" and "nginx4" from containers in this stack, but it doesn't work:

[code]

The error **Unable to find load balancing endpoint for network mh6gnsbfiatinqiluv6aterbb** occurs - I guess this is a symptom of the problem...

[2018-08-20 13:38] jaygorrell commented on #3287
This thread was immensely helpful - thanks for all who contributed. Simply adding the trailing `.` was the easiest for most of my cases and works great. The one thing I'm still not fully understanding is how internal (ie. `.default`) dns lookups would sometimes fail. I can try the trailing dot but this is largely around external lookups that go through kube-dns, right?

[2018-08-20 13:51] bboreham commented on #3287
Adding a trailing dot reduces the chance of failure since it reduces the number of lookups by (typically) 5x. It doesn't prevent any underlying problem.

DNS resolvers vary, and they are linked into your client program, so I don't know which one you are using.  However I would expect a fully-qualified name like `service.default.` to never hit the search list.

[2018-08-20 14:45] bboreham commented on #1737
We prioritise requests from paying customers.  Would you like information about a support contract?

[2018-08-20 14:55] jaygorrell commented on #3287
That was just trying curl from the host. Good point though... it probably doesn't follow the same rules.

[2018-08-20 15:17] totaki commented on #3382
I have same problem, for me it's work if i use `endpoint_mode: dnsrr`. But i can undertstand how i can expose services to some nodes. In example using `weave dns-lookup some-container`, but if using weave status not DNS service and if i get `ps -aux | grep weave` i see '--no-dns'. Maybe you have more real example where isung weave plugin and swarm services for exposing some services.

[2018-08-20 20:51] bzillins commented on #3230
Still a problem, currently working around by modifying my kube-proxy service to remove the weave iptables rules in ExecStartPre and remove the weave containers in ExecStartPost for now.

[2018-08-21 03:49] murali-reddy commented on #3344
@brb We can use `physdev` module  when `Bridge` and `BridgedFastdp` are in use. But these rules can not work in case of `Fastdp` as there is no bridge. It seems like we can not use `physdev` asa solution that can work across all the modes. Let me know your thoughts.

[2018-08-21 09:56] bboreham commented on #3344
I think I would phrase that in a different way - the only reason we added the bridge to fastdp was because conntrack didn't work with our datapath "bridge-lite". So what you discovered would lead to the conclusion "Weave-npc only works with `BridgedFastdp`", which is not a big deal. Most people aren't using any network policies.

[2018-08-21 10:20] fvigotti opened #3383 "Allow networkpolicy ipBlock to filter Ingress traffic for hostport & hostnetwork pods"
see my last message here for more context : https://github.com/weaveworks/weave/pull/3367
anyway the problem is that for bare metal cluster there are only 3 ways to get external ip address
nodeport ( with externalTrafficPolicy: Local )
hostport ( wich will do a DNAT so source ip is preserved )
hostnetwork

the nodeport is not very usabe for standard applications ( ie mysql/kafka/http ) because hig

[2018-08-21 18:17] alok87 commented on #1737
@murali-reddy i can help also. We also need this fix out soon.

[2018-08-21 18:25] alok87 commented on #3372
The root cause of our problem of latency was because of many nodes switched back to sleeve mode and never returned to fastdp - https://github.com/weaveworks/weave/issues/1737

As @bboreham said node deletion does not clear IPs but reclaims them when a new node comes with same IP and it has no impact on performance.

Thank you all

[2018-08-23 08:04] Raffo commented on #3165
@zacblazic We're having the same issue with the same kops/weave versions you reported, is there any fix or workaround? I also don't see any new issue being created.

[2018-08-23 12:18] Raffo commented on #3300
@bboreham What would be needed for a fix? Is there a PR or something I can contribute on? I had this issue in a cluster today where we scale the nodes up and down a lot and I had to manually remove the local `.db` file and restart all the nodes to clean them up. I'd love to work on automating a solution, either by integrating it in weave or in an additional pod/container.

[2018-08-23 13:32] bboreham commented on #3300
Something needs to wake up periodically, re-fetch the peer list from Kubernetes and supply it to the Weave Net router process.

It's a little fiddly since we have two binaries, one linked with Kubernetes client-go and one not.

Here is the code that fetches the peer list from Kubernetes:
https://github.com/weaveworks/weave/blob/master/prog/kube-utils/main.go#L28

Here is code that handles a REST c

[2018-08-23 16:08] Raffo commented on #3300
The problem here would really be that we don't want to drop immediately nodes that are gone as it could just be a temporary issue. We probably need a "timeout" on which we consider the nodes dead.
I'm actually quite surprised that this is not handled automatically and doesn't seem like a minor issue to me, so it's probably worth discussing further and a bit more in detail, what do you think?

[2018-08-23 16:11] bboreham commented on #3300
It's not a problem to delete a node from one peer's list of targets; if the node comes back it can add itself into the cluster and everyone will talk.

Then again, why are you deleting nodes from Kubernetes on a temporary basis?

[2018-08-23 16:13] Raffo commented on #3300
Ok, so yo
We scale down for autoscaling purpose: on a testing cluster, we want to scale to 0 the autoscaling group on AWS to make sure we don't waste money.

[2018-08-23 16:13] bboreham commented on #3300
The total impact that I am aware of is some failed connection attempts and associated log noise, so I consider it a minor issue.  If you have evidence of some real consequence please open a new issue with the details.

[2018-08-23 16:14] Raffo commented on #3300
The cluster today had major issues, I will open a different one so that we can have a proper discussion.

[2018-08-23 16:14] bboreham commented on #3300
Those nodes are gone for good, not temporarily.

[2018-08-23 16:17] Raffo commented on #3300
Yes they were gone for good. I'll open a dedicated issue with the full description, it is probably better.

[2018-08-23 16:19] bboreham commented on #3300
I feel like I should delete the five previous comments here since they'll just confuse future readers.

[2018-08-23 16:25] Raffo opened #3384 "Weave not working correctly leads to containers stuck in ContainerCreating"
## What you expected to happen?

Weave should not have memory of previous removed nodes as this can cause ax exhaustion of IPs.

## What happened?

Some containers of the cluster were in status `ContainerCreating` and could never transion to a `Running` status. We could see by describing one of the pods that they were reporting `Failed create pod sandbox`. Here is a list of similar issues which co

[2018-08-23 16:25] Raffo commented on #3300
It's okay for me if you want to delete them, go on.

[2018-08-23 16:36] bboreham commented on #3384
The symptom looks very like #2797, which was fixed before 2.3.0.
We'd need the logs from a `weave` container starting after the point where it went wrong, to see why cleanup isn't working.
If there are no `weave` containers that start after the scale-down, then this is the same as #3171.

[2018-08-23 16:39] bboreham commented on #3372
Re-opening because we don't actually seem to have an _issue_ that duplicates this (#3171 is a PR)

[2018-08-23 16:44] Raffo commented on #3384
It's unfortunate that I lost the logs of the weave container, but it should be possible to replicate it (just startup and shutdown nodes, should be easy to script). I will give it a shot early next week.
Anyway, the weave containers were all started and Running.

[2018-08-23 16:45] bboreham commented on #3384
To be clear, it only runs cleanup on new pods starting, so if you know for sure you didn't start any new `weave` pods between scale-down and hitting the problem, then we don't need any more information.

[2018-08-23 16:47] Raffo commented on #3384
Weave is deployed as a daemonset so when the nodes are scaled up again a new pod was running, so it should have triggered the case, shouldn't it?

[2018-08-23 16:48] bboreham commented on #3384
Yes, if a new pod started we need the logs to see why it didn't clean up.

[2018-08-23 16:50] Raffo commented on #3384
The only option I have is try to reproduce the issue with the same configuration. If I manage to get something I will update the issue with the details.

[2018-08-24 13:02] sgmiller commented on #3300
To add some context: Our Kubernetes clusters consist of a few dozen nodes
allocated to a specific EC2 instance type, but we also run a controller
which bids on spot instances to save cost.  These instances semi-frequently
get removed as the spot prices fluctuate, so the node comes down and
another is spun up.  Over a few weeks we wind up with quite a lot of 'lost'
instances.  All part of normal op

[2018-08-24 16:53] Raffo commented on #3300
Thanks for adding a bit more context. Did you ever experience issues like the one reported in #3384 ?

[2018-08-24 19:02] sgmiller commented on #3300
No, I haven't had that particular problem.

On Fri, Aug 24, 2018 at 11:53 AM Raffaele Di Fazio <notifications@github.com>
wrote:

[2018-08-24 19:07] Dmitry1987 commented on #3300
By the way the issue seems like an easy to fix, if it's just a log noise. Those reconnect attempts need to have a global retention so the nodes which are down more than a week at least will be cleaned up. IMHO

[2018-08-25 03:07] Cryptophobia commented on #1737
It would be nice to finally get this fixed @murali-reddy . I can also help with testing on a few clusters/environments.

[2018-08-25 20:57] zetaab commented on #3165
I have also this issue with 2.3.0 and 2.4.0 weave. One of my nodes does not talk to another cluster. Restarting machines etc does not help

[2018-08-25 21:33] alok87 commented on #1737
@Cryptophobia @brb Is there a way to measure why could the switch to sleeve happens. Any prometheus metric weave exposes which can help us figure out the reasons. @brb mentioned the reasons here - https://github.com/weaveworks/weave/issues/3252#issuecomment-371467574
Are they part of weave prometheus/node promethues we can measure.

[2018-08-27 08:29] murali-reddy commented on #1737
There is request to provide status as prometheus metric #3376 which is not implemented yet, but you may be able to infer as per the comment https://github.com/weaveworks/weave/issues/3376#issuecomment-412124840

[2018-08-27 14:19] Cryptophobia commented on #1737
I believe that CPU or kernel (offloading ipsec) are the most likely culprits but not sure what the best way to verify would be. Running a docker image and doing test using methods https://github.com/weaveworks/weave/issues/3252#issuecomment-371467574 outlined here in order to isolate.

[2018-08-28 15:01] bboreham commented on #3382
@cm6051 can you run `curl 127.0.0.1:6783/status` on the node with Weave Net running and post the result here please?

[2018-08-28 15:05] bboreham commented on #3382
Also the entire log would be helpful - looks like you just posted 8 seconds.

[2018-08-28 16:40] itskingori commented on #3384
@Raffo I just learnt that ☝️ from https://github.com/weaveworks/weave/issues/3372#issuecomment-414774679. Key words, "same IP", which means with AWS autoscaling groups this will never happen. Could this be the problem?

I've pretty much subscribed to every issue on weave related to this problem and I've been using weave since around 1.8.x (see thread from https://github.com/weaveworks/weave/issues

[2018-08-28 17:00] bboreham commented on #3372
Sorry, I don't know where you got "with same IP" from; I did not say this and it is not true.  Reclaim happens when any Weave Net pod starts.

[2018-08-28 17:02] bboreham commented on #3384
@itskingori please open a new issue with logs so we can diagnose what is causing you issues.

I have commented on "same IP" which seems to be a misunderstanding.  Any Weave Net pod starting up should run the reclaim process, so just post the logs from that pod and it should give a clue.

[2018-08-28 17:27] Raffo commented on #3384
@itskingori I will try as much as I can to reproduce it. Changing CNI provider is a possible alternative for me as well, but I'd love to stick with weave as the support has been amazing from the folks at weave and they deserve help in fixing that. Let's see what we can do 😄

[2018-08-28 18:45] itskingori commented on #3384
@Raffo ...

There's someone who's made a comment saying "A few people have tried doing this and not had success. We recommend just creating a new cluster", so I'd advice against it now. 😅

Yes they have. I would love to contribute but I'm out of my depth here ... plus networking is not my strong suite and the fact that this is hitting out production cluster is really making me sweat!

---

@bboreh

[2018-08-28 19:08] rade commented on #3384
@itskingori as @bboreham says, we really...

[2018-08-28 19:28] bboreham commented on #3384
I ask for a separate issue for each report because it keeps the conversation focused. Similar-looking issues can be very different.

Yes there are people saying similar things but of all the thousands and thousands of instances running, nobody has posted a single log file of the `weave` container going wrong in the way described. We tried running up a new instance, scaling down and up, and it work

[2018-08-28 19:29] bboreham commented on #3384
@raffo can you explain what you meant by this?  You posted evidence of _running out_ of available IPs, but nothing I can see as a “clash”.

[2018-08-28 20:00] itskingori commented on #3384
@rade Will give it another stab. Didn't have luck last time.

@bboreham Noted. Lemme try reproduce with a focus of getting logs.

[2018-08-28 21:31] itskingori commented on #3310
@bboreham @brb I think I might have the logs of a pod that's just started and is exhibiting this behaviour.

You can see that it started slight past 23:25 👇

<img width="1440" alt="screen shot 2018-08-29 at 00 00 29" src="https://user-images.githubusercontent.com/703786/44750875-50a31100-ab1f-11e8-9d35-d6750e2eb9c8.png">

And started getting the "Received update for IP range I own" error a little

[2018-08-28 22:06] zacblazic commented on #3310
@brb Sorry that I'm so late on this, but I've got some interesting findings.
[code]

I'm not sure how this config map is used by weave, assuming as some sort of state storage, but I expected the number of peers in the annotation to be near to the number of nodes in the cluster, which it wasn't at all. Nodes in cluster at the time was 20 while the number of peers in that list is 17.

Below I've att

[2018-08-29 08:03] bboreham opened #3386 "Not removing unreachable peers due to lock from nonexistent peer"
Opening a new issue to make the conversation clear; this follows from https://github.com/weaveworks/weave/issues/3310#issuecomment-416747709 but I want to address the part relating to `unreachable` peers and leave #3310 focused on "attempting to claim same IP range".

The log makes it clear why the peers were not removed:

[code]

it says that another peer, ID `36:50:e4:04:ea:fa`, has "locked" tha

[2018-08-29 08:05] bboreham commented on #3310
@itsingoria I opened a new issue #3386 to cover the "unreachable peers" part of your comment which is distinct to the subject of this issue.

[2018-08-29 08:26] itskingori commented on #3310
@bboreham Thank you. Just a note, Zac and I are on the same team. So if you need anything from us, let us know.

[2018-08-29 08:53] murali-reddy commented on #1737
So i made a fix https://github.com/weaveworks/weave/pull/3385 and tested out.

If any one wishes to help out with testing please use the image `muralireddy/weave-kube:retry-fastdp`

I am not sure how to create a situation where we have real handshake timeout which will trigger the fallback to sleeve mode. I injected the failure in the code and tested out, fallback (fastdp->sleeve) and retry (sleev

[2018-08-29 08:57] bboreham commented on #3310
@zacblazic

It's the answer to the question raised at the beginning of #2797 - "How do we even detect that a Weave Net peer originated as a Kubernetes node?".  We add each peer to the map on first initialization, and remove it after cleanup.

You can pick one of the missing 3 and look in its logfile at startup to see what happened when it should have added itself.  There should be a log line like:

[2018-08-29 09:00] bboreham commented on #3310
Looking at the unreachable peers from https://github.com/weaveworks/weave/issues/3310#issuecomment-416747709:

[code]

`5e:80:0c:4b:9a:41` and `fe:0f:36:cd:88:d8` appear in the log, but we can't talk to them because of inconsistent IPAM data:

[code]

The others don't appear at all. Perhaps they were cleaned up on a node the other side of the inconsistency partition, thus the knowledge of the clea

[2018-08-29 09:20] bboreham commented on #3310
I did not see any logs in response to the request at https://github.com/weaveworks/weave/issues/3310#issuecomment-397335691.  This is still important to discovering the root cause of this issue.

Also, I'm not sure if we said here what the cleanup procedure is:

To recover, you need to eliminate the IPAM data from the affected nodes and restart. Since you installed via the Kubernetes Addon, this d

[2018-08-29 11:25] alok87 commented on #3372
@bboreham ok.. wanted to mean the same.

[2018-08-29 11:39] alok87 commented on #1737
@murali-reddy we will roll our ur image in our staging cluster tonight and get back. I am also not sure how to induce the timeout issue.

[2018-08-29 13:43] Raffo commented on #3384
@bboreham you are right, maybe they didn't clash, I will update the text.

[2018-08-29 15:07] Cryptophobia commented on #1737
@murali-reddy I have also deployed this custom image with fix to one of our staging clusters.

[2018-08-29 15:26] Cryptophobia commented on #1737
I just saw a connection where `INFO: 2018/08/29 15:10:03.487707 overlay_switch ->[02:db:1d:f2:a8:c1(ip-10-8-55-37.us-west-2.compute.internal)] using sleeve` and was not upgraded to fastdp.

@murali-reddy Some connections seem to start with sleeve and then upgrade to fastdp using `overlay_switch` function and then some start of as fastdp. Is this the intent?

[2018-08-29 21:14] mvtorres commented on #3382
We had the same problem, seem to be happening on docker version 18.06

It works on 18.03.1-ce

[2018-08-29 21:45] mvtorres commented on #3382
Our test setup

[code]
To test

[code]

The symptom was that the ip resolved for bar, and bar's ip address are different.

It failed even with a one-node swarm
It also failed on weaveworks/net-plugin:2.4.0

[2018-08-30 06:45] brb commented on #3380
@justinbarrick Thanks for trying to run Weave Net with gVisor and opening the issue.

`/proc/sys/net` is used by https://github.com/weaveworks/weave/blob/master/net/arp.go#L13. Weave Net can function without configuring the ARP cache params, but currently there is no flag to disable it.

You could try to commenting out the body of the function and create the relevant Weave Net images by running `m

[2018-08-30 06:47] brb commented on #3370
Fixed by #3371.

[2018-08-30 06:47] #3370 closed

[2018-08-30 07:05] brb commented on #3383
Weave NPC filters ingress traffic which goes through the `filter/FORWARD` chain. For `hostPort` and `hostNetwork` to be filtered we need to include the `filter/INPUT` chain. However, with the current NPC implementation we cannot include it as the NPC rules would interfere with non-Weave Net traffic.

[2018-08-30 08:59] bboreham commented on #3372
#3386 is a specific case which matches the title of this issue.

[2018-08-30 09:43] murali-reddy commented on #1737
@Cryptophobia @alok87 thanks for testing out the image

Yes, during the initial connections between peer you may this. This is current behaviour. Changes in the PR https://github.com/weaveworks/weave/pull/3385 corresponding image i shared apply to post connection establishment between the peers.

I have added little more verbose logging to heartbeat handling and forwarder selection. You should see

[2018-08-30 16:50] itskingori commented on #3310
@bboreham I don't want to celebrate just yet but we've taken the following steps are seeing positive results:

1. Upgraded to 2.4.0 to get the fix @brb mentions in https://github.com/weaveworks/weave/issues/3310#issuecomment-396558236, then ...
2. Cleared any `unreachable!` on the ipam-list.
3. Edited the peer-list annotation on the weave-net configmap to make sure the entries match with the ipam-

[2018-08-30 17:30] Raffo commented on #3310
Cool! Please let us know, such that we can also proceed with an update if
appropriate.

On Thu, Aug 30, 2018, 18:50 itskingori <notifications@github.com> wrote:

[2018-08-30 17:56] bboreham commented on #3310
@Raffo if your issue at #3384 is still continuing please post the logs of a `weave` container starting up.  That way we can find out if you have the same issue and the same steps are appropriate, or if you have a different issue.  #3384 certainly lacks the key symptom of this issue, `"Received update for IP range I own"`

[2018-08-30 18:29] fjudith commented on #3016
Hello,

Do you know this version will be publish to DockerHub.

Can't wait to test it !

[2018-08-31 03:50] giminni commented on #3382
Can also confirm that I get the same error under weaveworks/net-plugin:2.4.0 using docker-ce-18.06.0-ce. No way to find the LB endpoint. This is my setup for a custom weave network:
**docker network create --opt encrypted --driver=overlay --subnet 10.32.0.0/16 --gateway 10.32.0.1 --attachable weave**

[2018-08-31 04:11] giminni opened #3387 "Missing arm64v8 support for net-plugin"
I am missing the arm64v8 support for weaveworks/net-plugin in docker hub.

What I have done so far to get the plugin running under arm64 on my side:
- Created weave
- Copied the plugin rootfs in a separate directory
- Copied launch.sh and config.json on top of it
- Executed docker plugin create ...
- Installed the docker plugin

[2018-08-31 06:51] murali-reddy commented on #3016
@fjudith support for `portmap` will be part of 2.5 release

I just need to add a integration test to finish https://github.com/weaveworks/weave/pull/3356

Let me know if you would like to test out the changes in https://github.com/weaveworks/weave/pull/3356, i will share the docker image.

[2018-08-31 06:59] Raffo commented on #3310
Yes absolutely, I'm keeping an eye on it and will update my issue when I'll have more data.

[2018-08-31 10:34] fjudith commented on #3016
I have a lab for this puposal running Containerd (1.2.0-Beta.2) and Docker (17.03.2) along with Kubernetes 1.11.2.
I'm open for further testings.

[2018-08-31 11:04] murali-reddy commented on #3016
@fjudith Great! Please use the image `muralireddy/weave-kube:portmap`. Please note that once you use this image its going to remove `/etc/cni/net.d/10-weave.conf` on all nodes and replace with `/etc/cni/net.d/10-weave.conflist`. So if you have revert back please delete `.conflist` file.

[2018-08-31 11:31] annismckenzie commented on #3016
That is exactly why I'd go with an at least in part backwards compatible version if you're going to remove the `10-weave.conf` file. Use `11-weave.conflist` and then on downgrade the old Weave image will still work because it'll create the `10-weave.conf` again and as it takes precedence, it'll not crash. Upgrading to your beta image will drop it again and use the conflist again. Might be worth th

[2018-08-31 19:54] Cryptophobia commented on #1737
Yes, I see that `weave status connections` is indicating healthy fastdp connections.

How do I enable `--log-level=debug` in Kubernetes daemonsets. It says that it is passed to the weave launch command. Is there an ENV var that can be set?

[2018-08-31 20:20] jeroenjacobs79 opened #3389 "Feature request: Please make NO_MASQ_LOCAL=1 the default setting"
Please make NO_MASQ_LOCAL=1 the default setting.

People expect that "ExternalTrafficPolicy: Local" behaves as described by the Kubernetes documentation. This currently not the case with Weave, which causes confusion. I lost hours troubleshooting why ExternalTrafficPolicy was not working as expected, and it was only due to pure luck and some creative googling that I discovered the problem was caus

[2018-09-02 10:54] fjudith commented on #3016
@murali-reddy .

Once `hostport` pods applied it breaks systemd-resolved, leading to ErrImagePull for any further pods scheduled on the node, as well for general DNS resolution.

It seems this issue specifically targets  **Ubuntu Bionic (18.04)**.
ref: <https://github.com/kubernetes/kubernetes/issues/66067>

The problem has been observed on Docker, Containerd and Cri-o.

[code]

[code]

[2018-09-02 16:40] bamb00 opened #3390 "weave logs returns many WARN: Vetoed installation of hairpin flow FlowSpec"
## What you expected to happen?
kube-dns pod does not go into CrashLoopBackOff and the weave pod does not have the vetoed problem with minion-01 node.

## What happened?
kube-dns consistently goes into CrashLoopBackOff and weave log returns "Vetoed installation of hairpin flow FlowSpec" repeatedly of node minion-01 in a 5 node cluster.  The WARN message occurs only on k8s master node.

## How to r

[2018-09-02 16:49] bboreham commented on #3390
Are those the whole logs?

[2018-09-02 16:52] bboreham commented on #3390
It may also be useful to have the kube-dns log, if it's crashing.

[2018-09-02 20:46] bamb00 commented on #3390
Added the kube-dns log.

[2018-09-02 20:47] bamb00 commented on #3390
An application was causing conflict with the network. It would be nice if the log message was a little more translatable.

Closing issue.

[2018-09-02 20:47] #3390 closed

[2018-09-03 04:07] murali-reddy commented on #1737
Yes, add below env variable to `weave` container in `weave-net` daemon set.
[code]

[2018-09-03 08:30] brb commented on #3390
@bamb00 Any idea why the `weave` bridge interface has so many IP addrs assigned to it? Left by previous installations?

It could be that the same IP addrs are used by containers, so that could lead to the logged hairpin flows.

[2018-09-03 09:02] brb commented on #3389
@jeroenjacobs1205 Thanks for the issue. We will discuss, and maybe make it the default.

Noting that the setting is documented at https://www.weave.works/docs/net/latest/kubernetes/kube-addon/ which I always recommend to read before installing Weave Net on Kubernetes.

[2018-09-03 09:04] bboreham commented on #3390
@brb that's a great spot.  I can imagine multiple Weave Net installations adding more varied IP addresses, but can't think of a way it would assign 12 consecutive addresses in a `/16`.

Multiple IPs in the same subnet doesn't seem like something we could ever want on the `weave` bridge.

[2018-09-03 09:10] brb commented on #3387
@giminni Thanks for the issue.

Could you try extending the target https://github.com/weaveworks/weave/blob/master/Makefile#L287 to create the plugin for all supported archs (https://github.com/weaveworks/weave/blob/master/Makefile#L20) and opening a PR?

[2018-09-03 12:43] #3133 closed

[2018-09-03 14:16] shahbour opened #3392 "1 Node stopped from connecting to other nodes in Kubernetes Cluster"
## What you expected to happen?

## What happened?
Yesterday one of the 4 nodes I have in kubernetes cluster stopped working, any traffic going to other pods in another node stopped working and vice versal

## How to reproduce it?
I could not find any difference in configuration so I can't reproduce it but it is still there now

## Anything else we need to know?
This is the node 192.168.70.230 tha

[2018-09-03 14:34] bboreham commented on #3392
Do you have the logs from the node with ID `{da:68:9b:b7:51:65 engine02}` , from the time of the failure ?

[2018-09-03 16:00] shahbour commented on #3392
Yes below is the log, the error started today 2018/09/03 02:01:09.890616 , I did copy the log from yesterday till after the error started.

Engine02 is still working, Engine01 is the one that stopped. Unfortunatly i did restart it several time i don't know if i can still capture the log from Engine01.

[code]

[2018-09-03 16:34] bboreham commented on #3392
The symptom is that two nodes in your cluster disagree on the contents of the IPAM data structure.  Since there's no clue in the first log you provided as to why, I asked for the other.

Absent any clues as to what happened at the time of the failure, this is the same as #3310, and I wrote about how you can clean up at https://github.com/weaveworks/weave/issues/3310#issuecomment-416885365

[2018-09-04 08:02] brb commented on #3392
@shahbour Thanks for the logs.

Do you know whether `engine02` was running at the time of the following?

[code]

Maybe you can find the stopped container with `docker ps -a`?