[2017-08-06 14:31] deitch commented on #2997
And now I have the reverse issue: it appears *never* to block anything. Will open a new issue.

[2017-08-06 14:50] deitch opened #3083 "NPC does not appear to be blocking anything"
## What you expected to happen?
When I set a network policy for a pod, it blocks traffic except for that allowed.

## What happened?

Traffic goes through from all pods. The logs from the `weave-npc` container show that it picks up the network policy event, but no message of it stopping traffic.

## How to reproduce it?

Just try the example at https://kubernetes.io/docs/tasks/administer-cluster/d

[2017-08-07 03:23] xdlv commented on #3079
I think maybe the root case of my issue is the ip range conflicts among the default weave net's and the existing on host, as we can see in the following logs:

2017-08-07T11:04:06+08:00" level=info msg="Network 10.32.0.0/12 overlaps with existi
ng route 10.0.0.0/8 on host" plugin=6d5a68d11ef823a7266c466051250bad9a123e920c837be3cbce69908434aebb

So I tried to set another ip range for weave net, but

[2017-08-07 07:40] Ferenc- commented on #3076
Well I think this is something that the [weave kubernetes installation guide](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#install) doesn't really mention, but it I think it should.

Yeah, that sounds like a nice theory... but I personally, was talking about the actual coreos-kubernetes code:
https://github.com/coreos/coreos-kubernetes/blob/master/multi-node/generic/controller-in

[2017-08-07 10:12] brb commented on #3079
@xdlv Currently, Docker Store does not host the latest version of the plugin which would support the `IPALLOC_RANGE` config param. However, you can fetch the latest version from Docker Hub via `docker plugin install weaveworks/net-plugin:latest_release`.

[2017-08-07 10:49] brb commented on #3079
@jacknlliu From your provided logs it seems that the legacy Weave Net plugin was not properly removed which might have caused the failure. Perhaps https://github.com/weaveworks/weave/issues/3082 is related?

[2017-08-07 11:58] brb commented on #3083
Thanks for the issue.

I am wondering how the `-A WEAVE-NPC-INGRESS -p tcp -m set --match-set weave-W[F1)yIM0$Dy9nhG~K%Jn*XR4 dst -m tcp --dport 80 -j ACCEPT` rule was created.

Do you have a full log of weave-npc? If not, could you list members of the `weave-W[F1)yIM0$Dy9nhG~K%Jn*XR4` ipset (`ipset list 'weave-W[F1)yIM0$Dy9nhG~K%Jn*XR4'`)?

It's probably because of the API changes. You are runnin

[2017-08-07 12:23] deitch commented on #3083
Figured as much.

No idea. But if it helps to redo the experiment and get fresh logs, I am happy to do so. Just a question of deleting the deployment and recreating it. Tell me what logs you need.

I will try and get both. Are you looking for log since startup, or log since I did the deployment and added the policy? If the former, probably not; if the latter, happy to redo the experiment.

[2017-08-07 12:43] mikebryant commented on #3083
A guess here - does the Namespace have the DefaultDeny annotation?

I don't think weave supports the 1.7 behaviour of isolating pods as soon as a policy is applied

[2017-08-07 12:47] deitch commented on #3083
No, all of our tests are in `default` (yeah, not good, but good enough for now). I thought that as early as well pre-1.6 network policies automatically did "deny all" as soon as a policy is applied?

[2017-08-07 12:52] jacknlliu commented on #3079
@brb  How to remove the legacy Weave Net plugin? After `docker plugin remove weaveworks/net-plugin:latest_release`, I still got the above error.

[2017-08-07 12:52] deitch commented on #3083
Well, this (below) is entertaining.

[code]

[2017-08-07 12:54] deitch commented on #3083
Turns out I _do_ have the entire log. I was running 1.9.x of weave, was worried it might be an old bug, so upgraded all to 2.0 and reran the test. Since I just upgraded, I have logs from the beginning (all 679 lines).

Updated [gist](https://gist.github.com/deitch/5d04df3f811331e9d271f4c48796282a)

[2017-08-07 12:56] deitch commented on #3083
[code]

From [here](https://kubernetes.io/docs/concepts/services-networking/network-policies/)

[2017-08-07 13:22] bboreham commented on #3083
That's the new 1.7 semantics; weave-npc is still implementing the previous semantics where you have to tell it default-deny via an annotation.

[2017-08-07 13:29] deitch commented on #3083
Bingo! Thanks Bryan.

1. Where is the annotation listed (or an example)? I couldn't find it in the reference docs?
2. If I add default deny, does it default deny *everything*? Or just those that have a policy attached?

[2017-08-07 13:31] bboreham commented on #3083
I think Kubernetes dropped it cold from their docs about three weeks before 1.7 was released.

We have a [blog post](https://www.weave.works/blog/securing-microservices-kubernetes/) that describes it.

[2017-08-07 13:53] deitch commented on #3083
Oops.

The only annotation listed there is for `ingress`:

[code]

What is the equivalent for internal access? The case here is from another pod in the same namespace in the cluster.

Or in this case does `ingress` mean "Ingress to a pod from anywhere" (as opposed to the kubernetes notion of `Ingress` = "from outside cluster")?

According to the post, then, the 1.6 behaviour was deny everything un

[2017-08-07 13:56] bboreham commented on #3083
Yes; it's network usage, unrelated to the Kubernetes object named `Ingress`.

The 1.6 behaviour was to first obey the annotation, which can be `DefaultDeny` or `DefaultAllow` (the default), then apply policies which can open holes.

[2017-08-07 14:01] deitch commented on #3083
Ah, got it. Thanks for clarifying.

I am going to close this out, then, as it is a 1.6 vs 1.7 understanding issue (and probably should be titled, "Kubernetes docs are misleading" :-) ).

I don't assume that the `NetworkPolicy` has a rule that can block in addition to allow? So I can use a single policy to attach to pods selected via the `podSelector` and say, "deny all except from the following so

[2017-08-07 14:05] bboreham commented on #3083
Kubernetes network policies are additive-only (in other words they only ever increase access); this is done to reduce complications over which rule has precedence.

Policies themselves never say "deny"; however in the 1.7 semantics the first policy you apply has "deny everything else" as a side-effect (which contradicts "they only ever increase access", but it was felt that this wasn't confusing s

[2017-08-07 14:22] deitch commented on #3083
Ah well. So basically my options are:

1. Upgrade to 1.7 (but weave-npc doesn't support the "deny everything else" semantic yet?)
2. Implement the annotation but then add network policies to _everything_ out there
3. Live with the openness until I am ready for 1 or 2?

[2017-08-07 14:27] bboreham commented on #3083
1. Upgrading Kubernetes doesn't change what weave-npc does.
2. The annotation is per-namespace, so "everything" can be restricted.

[2017-08-07 14:28] stevesloka commented on #3081
Do you have any hints as to which one's and how to enable? I'm running ubuntu 16.04 on arm.

[2017-08-07 14:30] deitch commented on #3083
Fair enough. Thanks again for the help.

[2017-08-07 14:30] #3083 closed

[2017-08-07 14:45] stevesloka commented on #3081
Looks like my kernel is 3.10, upgrading now.

[2017-08-07 15:36] stevesloka commented on #3081
that was my problem, updating to kernel 4.9 and all works, thanks!

[2017-08-07 15:36] #3081 closed

[2017-08-08 01:35] jacknlliu commented on #3079
Now we met a worse case, docker container can not start after this command. Even `docker ps` is blocking.

[2017-08-08 03:26] xdlv commented on #3079
@brb thank you , it works for me.

[2017-08-08 08:07] jacknlliu commented on #3079
It seems that docker plugin installation conflicts with docker `HTTP_PROXY `  environment variable. After remove it from `/etc/systemd/system/docker.service.d/http-proxy.conf`, the installation sucessfully.

[2017-08-08 17:53] bboreham commented on #3079
@jacknlliu suggest you report that issue to Docker.

[2017-08-08 22:19] chino commented on #91
@rade Does this code path imply that `every` multicast packet is sent up to the miss handler in user space where it gets replicated to out?  or does the replication get done in a flow?

[2017-08-08 22:33] rade commented on #91
@chino you are commenting on an issue that was closed nearly three years ago; a time when Weave Net passed *all* packets through user space. These days, when Weave Net's fastdp mode is in operation, all packet routing, including for multicast, happens in kernel space.

[2017-08-09 06:13] berlic opened #3084 "DNS: auto-add custom container names/aliases"
In our weave network we launch several distributed apps in containers on different hosts.
We name containers for `myapp` as `myapp-1`, `myapp-2`, `myapp-N` to be able to address them separately (for example from load balancers).
Also for some application we give them custom host names as `myapp-master` (for `myapp-1`) and `myapp-slave` (for `myapp-2` .. `myapp-N`) to make use of DNS balancing.

Cu

[2017-08-09 18:14] lukemarsden commented on #3016
FTR, I got this working without requiring `git` or `go` (but adding a dependency on `wget` 😏) on the target system with a small tweak to the instructions in https://github.com/weaveworks/weave/issues/3016#issuecomment-313174867 to use the released cni-plugins v0.6.0-rc1 package:

[code]

[2017-08-09 19:35] ccapurso opened #3085 "Consistent connection loss for long-lived TCP connections"
## What you expected to happen?
I have a container running software that uses a long-lived TCP connection to a database. While fetching data from a cursor, the underlying connection is consistently lost. The container is running in Kubernetes in AWS configured by KOPS version kops/v1alpha2. The networking layer is setup using the kops default weave configuration. I have watched the weave logs on e

[2017-08-11 03:39] avkonst opened #3086 "Encryption strength for inter-node traffic"
It is a question. I use weave net to connect containers across multiple nodes with inter-node traffic encryption enabled. I wonder how I can rate the strength of encryption for traffic between nodes? Let me explain. Some of stakeholders used to do rating of encryption by the websites like https://www.ssllabs.com/ssltest/
It basically rates based on cipher suite used. Now, when I can not configure

[2017-08-11 11:25] Bregor commented on #3016
@lukemarsden why you need to restart **all** pods in `kube-system`?
Maybe just `kubectl delete po -n kube-system -l name=weave-net` will do the trick?

[2017-08-11 11:55] bboreham commented on #3086
Hi @avkonst and thank you for your question.

We give details on the encryption methods used, key sizes, etc., [here](https://www.weave.works/docs/net/latest/concepts/encryption-implementation/) and [here](https://github.com/weaveworks/weave/blob/master/docs/fastdp-crypto.md) (In short: either [AES in GCM mode](https://tools.ietf.org/html/rfc4106), or [Curve25519+Salsa20+Poly1305](https://cr.yp.to

[2017-08-11 13:12] lukemarsden commented on #3016
@Bregor I was just copying https://github.com/weaveworks/weave/issues/3016#issuecomment-313174867 😄 I'm not sure what you need to delete exactly to get kubelet to restart CNI, would be good if you could run some tests to find out?

[2017-08-11 13:25] bboreham commented on #3016
Restarting pods has no effect on CNI.

I might have expected you need to restart kubelet, but if not, that's cool.

[2017-08-13 04:52] jacknlliu commented on #3079
@bboreham  Could we remove the following lines from `systemctl status docker`?
[code]

[2017-08-13 07:46] jacknlliu commented on #3082
This happened when the host ip addr changed. In other words, if I run `weave launch` with host ip `192.168.1.2`, then I reboot the system, and then I use IP addr `192.168.1.3`. And I want to reset weave network. I got this errors.

[2017-08-13 21:24] avkonst commented on #3086
Thank you guys.

[2017-08-14 09:11] #3086 closed

[2017-08-14 09:17] bboreham commented on #3079
@jacknlliu can you open a separate issue rather than commenting on an unrelated one, please?  It makes the threads easier to follow.

Are you even using the "v2" plugin?  Those log lines look like the sort of thing the v2 design was created to address.

[2017-08-14 09:19] bboreham commented on #3082
@jacknlliu is that repeatable, i.e. if you change IP address you get the issue and if you use the same IP you do not?

You have a Docker error message, and your research implicates a firmware update process (`fwupd`).  It's hard to see how Weave Net, or the IP address, could be related.

[2017-08-14 10:07] bboreham commented on #3084
Hi @berlic and thanks for the suggestion!

I was pondering whether this might be harmful to someone who uses container names for some other purpose and doesn't expect them to resolve via DNS but, as discussed on Slack, Docker itself will actually resolve the container name if you query from the same host (not cross-host unless you use the plugin in "global scope").  So guess it's not dangerous for

[2017-08-14 13:07] bboreham commented on #2879
Fixed in #3024

[2017-08-14 13:07] #2879 closed

[2017-08-15 03:43] dtshepherd opened #3087 "net-plugin v2 fastdp not working for new installs or on clean reboot"
## What you expected to happen?

Weave connections would be `fastdp` on install and/or clean reboot.

## What happened?
During clean install of weave net-plugin (v2) only uses `sleeve` connections rather than `fastdp`.  It is missing links `datapath`, `vethwe-datapath`, and `vxlan-6784`.

Disabling the docker plugin and running `weave launch`, `weave reset --force`, then re-enabling the plugin _so

[2017-08-15 07:43] bboreham commented on #3087
Thanks for the report.

It will fall back to pcap if it thinks the machine lacks vxlan support. After this decision is made and the bridge devices are configured one way or the other it will stick that way until a reboot.

Can you try setting `WEAVE_DEBUG` to nonblank on first install (as an environment setting for the plugin)?  That should give much more log info.

[2017-08-15 08:10] bboreham commented on #3085
Could you expand on:

How do you detect this? After how long does it happen? How much traffic?

Weave Net is not aware of TCP connections: it just ships packets from one MAC to another. It's a layer below TCP.

If it was me I'd probably `tcpdump` the entire conversation and see how it ends. That may not be conclusive but it would rule out some issues.

Also, if you could say how the connection rel

[2017-08-15 10:13] brb commented on #3087
This should fix your issue: https://github.com/weaveworks/weave/pull/3080

[2017-08-15 11:14] bboreham commented on #3068
@mcortinas did any more information come to light?  Is it still behaving in the same way?

[2017-08-15 11:14] #3063 closed

[2017-08-15 18:10] berlic commented on #3084
@bboreham thanks for `--net-alias` tip, implemented that as well.

As for domain name, `config.Domainname` is rarely used and is usually empty – it can't be populated via docker CLI in late docker versions and via `docker_container` ansible module, see moby/moby#27067 issue and related PR moby/moby#20200 (which stopped splitting fqdn). So I think it is safe to add configured weave domain as suffix

[2017-08-17 14:21] vCloudernBeer commented on #2957
Not getting too far on this one.  Still want to get this going.

[2017-08-18 09:22] prasenforu opened #3091 "Communication between Weave CNI in Kubernetes & Datacenter network"
Communication between Weave CNI in Kubernetes & Datacenter network with firewall.

I came out some used case where this discussion fall.

Let me explain little briefly.

We running multiple pod inside kubernetes platform. Take examples APP-1, APP-2 APP-3.

Now my multiple databases (DB-1, DB-2, DB-3) running outside kubernetes cluser. In front of all database there was firewall.

Now App-1only can

[2017-08-18 10:58] bboreham opened #3092 "iptables rules to block traffic to Weave control port are broken"
[code]

Those numbers should be 6783 and 6784 respectively

[2017-08-18 14:05] bboreham commented on #3092
Fixed by #3093

[2017-08-18 14:05] #3092 closed

[2017-08-18 14:05] bboreham commented on #3054
Fixed by #3088

[2017-08-18 14:05] #3054 closed

[2017-08-18 17:18] schmichael commented on #976
[Docker announced they won't be supporting overlay networking with an external key-value store in Docker for Windows without using Swarm mode.](https://github.com/moby/moby/issues/22790#issuecomment-322327959) Weave would be a compelling alternative to Docker Swarm for users on alternative cluster schedulers such as Nomad (full disclosure: I'm a Nomad dev posting on behalf of a user request for ov

[2017-08-19 16:04] trondhindenes opened #3094 "kubernetes: Weavenet pod panics on cert mismatch"
On a vanilla Kubernetes 1.7.0 cluster when runnig the one-step weavenet installer, my weave pods are exiting with:

`Error from server: Get https://kubelini3:10250/containerLogs/kube-system/weave-net-hscz7/weave: x509: certificate is valid for system:node:kubelini3, not kubelini3`

Is there any way to turn off cert validation?

[2017-08-19 21:04] #3094 closed

[2017-08-19 21:04] trondhindenes commented on #3094
my bad, the error was from kubectl, not from the pod logs

[2017-08-21 12:15] Bregor commented on #3016
@lukemarsden, @ekozan  which kubernetes version did you use?

I use kubernetes-1.6.8 with no success at all.

I tried following CNI + Plugins combinations:

- cni-0.5.1 + plugins-0.6.0-rc1
- cni-0.5.2 + plugins-0.6.0-rc1
- cni-0.5.1 + plugins-0.6.0
- cni-0.5.2 + plugins-0.6.0
- cni-0.6.0 + plugins-0.6.0-rc1
- cni-0.6.0 + plugins-0.6.0-rc1
- cni-0.6.0 + plugins-0.6.0
- cni-0.6.0 + plugins-0.6.0

Al

[2017-08-21 12:49] Bregor commented on #3016
Ah, nevermind.
Just realized, that ability to use `NetworkConfigList` became available only from 1.7.0-alpha3 :(

[2017-08-22 18:00] kachkaev commented on #2924
I just faced the same issue guys, details here: https://github.com/kubernetes/kubernetes/issues/51014

@bboreham what are your thoughts on a potential fix after three months? Just curious.

[2017-08-22 18:49] bismarck opened #3095 "weave-npc crashing on k8s 1.7.4"
## What you expected to happen?
weave 2.0.2 pods should start without an issue

## What happened?
weave-npc container crashes

## How to reproduce it?

On a k8s 1.7.4 cluster that has some network policies defined run
kubectl apply -f https://cloud.weave.works/k8s/v1.6/net

## Anything else we need to know?

We are running k8s on AWS, built with KOPS.

## Versions:

[code]

## Logs:
[code]

[2017-08-22 19:00] rade commented on #3095
Looks like that code added to `npc.newRuleSpec` in #3064 is missing some nil checks; like in the lines just preceding it. cc @mikebryant

[2017-08-23 09:00] bboreham commented on #3095
What are the conditions which trigger this failure?

[2017-08-23 09:16] mikebryant commented on #3095
It looks like: having a `NetworkPolicy` defined that has no `from` section

[2017-08-23 09:18] bboreham commented on #3095
OK, I'm going to try extending the smoke-test (`test/840_weave_kube_3_test.sh`) with such a policy

[2017-08-23 11:19] #3095 closed

[2017-08-23 12:21] bboreham commented on #3095
@bismarck thanks for reporting this; should be fixed in 2.0.3 now

[2017-08-23 14:22] bboreham commented on #2924
Sorry, haven't thought about this much.

The Weave Net masquerade rules are applied by [this line](https://github.com/weaveworks/weave/blob/3df1a0943c57d21bf906743135190e3eb040a01f/weave#L1529) which calls through to [here](https://github.com/weaveworks/weave/blob/3df1a0943c57d21bf906743135190e3eb040a01f/net/veth.go#L323-L339) and they are unconditional - everything coming in or out of the weave a

[2017-08-23 20:38] andremarianiello opened #3098 "weaveworks/weave-npc:2.0.3 image crashing on startup"
## What you expected to happen?
No crash

## What happened?
weave-npc cause CrashLoopBackoff in weave-net pod

## How to reproduce it?
kubectl apply -f https://cloud.weave.works/k8s/net?k8s-version=v1.7.4

## Anything else we need to know?
This is running on a single node kubernetes cluster created with kubeadm ala https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

## Versions:

[2017-08-23 22:21] rade commented on #3098
I suspect ipset gets its comment support from iptable's xt_comment kernel module, which perhaps isn't loaded in this kernel. cc @mikebryant

[2017-08-23 22:31] andremarianiello commented on #3098
[code]

[2017-08-23 22:39] rade commented on #3098
what does `ipset help` return inside the container?

[2017-08-23 22:44] andremarianiello commented on #3098
[code]

[2017-08-23 23:20] mikebryant commented on #3098
Just to confirm it's nothing to do with failing to pass arguments correctly or anything, does running `ipset create test-local-pods hash:ip comment` exhibit the same error message?

I'm somewhat confused here, I have the same ipset version 6.29 on my local machine (Ubuntu 16.04). No kernel modules loaded referencing comment.

[2017-08-24 00:20] andremarianiello commented on #3098
Yes I get the same error.
[code]
[code]
The host is a centos 7 vm running in vsphere.

[2017-08-24 00:45] avkonst opened #3099 "Why does weave need to modify iptables rules for a container?"
I see weave launches a container, and if it has got NET_ADMIN capabilities and iptables installed, you can see the following rules in the iptables:

[code]
This is different to the default rules which are placed when a container is launched without weave proxy.

What is the service behind `-d 224.0.0.0/4 -i ethwe`?
Why is it important to drop all traffic except the one from `-s 10.32.0.0/12`? What

[2017-08-24 01:11] andremarianiello commented on #3098
Is it possible that the ip_set kernel module that comes with centos is too old for ip_set comment support?

[2017-08-24 06:14] rade commented on #3098
I suspect the `6.29` refers to the version of the CLI utility, which is included in the container and hence will always be that version. Likewise, the `help` output may also just reflect the CLI utility.

The question is how we would be able to tell.

[2017-08-24 09:10] bboreham commented on #3098
This page: https://bugzilla.redhat.com/show_bug.cgi?id=1419058 is an announcement that Red Hat upgraded ipset from 6.19 to 6.29 around 1st August this year.  6.19 is 4 years old and 6.29 is 17 months old.

Comments were added in ipset 6.20 (http://ipset.netfilter.org/changelog.html)

Have not found any docs about how we can tell what is supported.  Could just create a dummy ipset at startup with a

[2017-08-24 09:50] mikebryant commented on #3098
That sounds like a good way to go

[2017-08-24 09:55] mikebryant commented on #3098
I'm going to take a stab at writing a patch for this

[2017-08-24 13:04] gbouthenot commented on #3098
I just got into this problem, during a fresh install of kubeadm + weave-net
kubeadm, kubectl kubelet version "1.7.4"

Thank for finding this bug !

[2017-08-25 03:41] chrislovecnm opened #3101 "BGP - New Feature request"
@bboreham and I have talked about how we have bare metal systems that need direct pod IP access without NAT.  Currently Calico is one of the few providers that offers BGP support, but hey I am a weave fan :)  Would love to have it in weave!

[2017-08-25 15:26] #3098 closed

[2017-08-25 15:27] bboreham commented on #3098
@andremarianiello @gbouthenot  Thanks for the report; this should be fixed in 2.0.4 just released.

[2017-08-25 15:29] bboreham commented on #3098
Before it was merged into `master`, by doing your own build.  Not too hard since it's all in a container - just `git clone` then `make`.  Then push to a repo you control and edit the daemonset to pull from there.

After it was merged to master, you could pull as `weaveworks/weave-kube:latest`.  But I only merged it to master a few minutes ago.

[2017-08-25 15:45] andremarianiello commented on #3098
Does 2.0.4 have a release date? And when will the kubernetes daemonsets be updated to use 2.0.4?

[2017-08-25 15:51] bboreham commented on #3098
I just released it - https://github.com/weaveworks/weave/releases/tag/v2.0.4.

All the daemonsets are updated at https://git.io/weave-kube-1.6, https://cloud.weave.works/ etc.

[2017-08-25 17:09] ccapurso commented on #3085
After a lot of testing, I actually determined that this was not an issue with the networking overlay. Our issue was oddly due to the way we were limiting CPU resources on our containers. With that said, I will close this issue.

[2017-08-25 17:09] #3085 closed

[2017-08-25 17:11] bboreham commented on #3085
@ccapurso thanks for getting back to us!

[2017-08-26 01:07] dtshepherd opened #3102 "weave report -f returns misleading error message"
## What you expected to happen?

`weave report` should return helpful error message when invalid format string is passed to `-f` option.

## What happened?

`weave report -f '{{ .Router.Target }}'` returned an error message stating "weave container is not present. Have you launched it?".  The `weave` container was running, so the reason for the error was wrong.  The error was caused by an invalid

[2017-08-26 15:01] dtshepherd commented on #3102
I just updated the ticket above.  This only affects the `net-plugin`.  Normally launched `weave` reports a helpful message "error during template execution".

[2017-08-27 01:57] dtshepherd opened #3103 "weave reset does not remove net-plugin v2 weavedata.db"
## What you expected to happen?

After running `weave reset --force`, `/var/lib/weave/weavedata.db` would be removed.

## What happened?

`/var/lib/weave/weavedata.db` still exists on the host.

## How to reproduce it?

1. Install net-plugin v2.
2. Disable and remove the plugin.
3. Run `weave reset --force`

## Anything else we need to know?

This is a similar issue that was fixed with PR #2610.

[2017-08-27 04:19] dtshepherd commented on #2957
I stumbled across this when trying to improve the `weave` script for net-plugin v2 status.

I initially made changes to the script to use direct docker commands, then realized a really old version of docker lives inside the `weaveexec` container.  I started searching around open issues and found that I was on the wrong path (need less `docker ...` commands, not more :-)

After I finish tackling th

[2017-08-28 10:50] brb commented on #3087
@dtshepherd the fixed version of the plugin was submitted to Docker Store, but it has not been acknowledged by Docker yet (usually, it takes quite some time).

Meanwhile, you could install the fixed plugin from Docker Hub by running `docker plugin install weaveworks/net-plugin:2.0.4`

[2017-08-28 10:51] brb commented on #3087
Fixed by #3080

[2017-08-28 10:51] #3087 closed

[2017-08-28 12:05] brb commented on #3102
Thanks for the report.

The problem is that `call_weave` (called by `weave report`) calls `check_running` (https://github.com/weaveworks/weave/blob/v2.0.4/weave#L653) in the case of `/report` returning an error. The latter function expects the weave container to be running which is not the case for `net-plugin`.

[2017-08-28 12:08] brb commented on #3103
Thanks for the report.

[2017-08-28 12:38] dtshepherd commented on #3102
Yeah, I figured that out. I commented in the community slack, but I'm working on a PR to make `weave` script more aware of the `net-plugin`. I know this may overlap with #2938, but maybe I can help iterate the improvements.

[2017-08-28 13:49] dtshepherd commented on #3103
FYI, I think I have a fix for this.  Similar to have removal is handled for `weave-kube`.

[2017-08-28 15:55] dineshputchala opened #3104 "Applying weave-net is resulting in weave-net container with "RunContainerError: "GenerateRunContainerOptions: expected 4 fields in selinux; got 1""
## What you expected to happen?

Container which is started as a part of pod n/w installation should be applied properly and the container should be in running status.

## What happened?

Container which is started as a part of pod n/w installation is staying at ContainerCreating status

## How to reproduce it?

On Oracle linux 7 OS,
1. Installed docker-engine
2. "/sbin/service docker start"
3. yu

[2017-08-29 11:47] deitch commented on #3083
I keep forgetting to ask, @bboreham, is there an ETA (or target weave-net version) for supporting the newer 1.7 semantics of "allow all unless a policy is applied in which case deny except for the policy"?

[2017-08-29 12:47] bboreham commented on #3104
We generate the following by default:

[code]

So why it's complaining about 1 field I'm not sure. I guess it could be because your `kubectl` version is quite old.

Could you do `kubectl get daemonset -n kube-system weave-net -o json` and paste the result here?

[2017-08-29 12:48] bboreham commented on #3083
@deitch no fixed date, no. There doesn't even seem to be an issue for it.

[2017-08-29 12:49] #2615 closed

[2017-08-29 12:50] deitch commented on #3083
Did you want me to open one?

[2017-08-29 12:52] bboreham commented on #3083
Sure

[2017-08-29 13:01] deitch opened #3105 "weave-npc does not support kubernetes 1.7 NetworkPolicy semantics"
Opening per request for @bboreham in https://github.com/weaveworks/weave/issues/3083

In Kubernetes pre-1.7, the network policy semantics were as follows:

* In a namespace, by default, allow all connections into all pods, whether or not a policy is defined
* If a namespace has the `DefaultDeny` annotation, block all traffic to all pods, _except_ for those that have a `NetworkPolicy` allowing acce

[2017-08-29 13:01] deitch commented on #3083
Opened https://github.com/weaveworks/weave/issues/3105

[2017-08-29 13:02] bboreham commented on #2957
@dtshepherd it would be great if you could contribute here!  Maybe if you did just one of the `docker` command replacements it would help @vCloudernBeer see the pattern and you could collaborate on doing more?

Is there an issue or PR specifically for that?

Generally when you have a problem, any troubleshooting tools are helpful.  We don't want to _require_ the `weave` script for plugin-v2 users,

[2017-08-29 13:06] bboreham commented on #2957
BTW the `docker` binary is old because a new docker will refuse to talk to an older daemon, and we want Weave Net to work on as wide a range of targets as possible.  See also #2545 which was an attempt at solving this a different way.

[2017-08-29 13:09] dtshepherd commented on #2957
Completely agree the `weave` script shouldn't be required for plugin-v2. It would just be helpful for status and cleanup.

There isn't a PR yet, but the effort is related to #3102 and #3103. I actually codes up changes to the script and then realized the docker client in `weaveexec` was really old (no plugin support).

I figured I could implement some plugin commands in `weaveutil` so I could subm

[2017-08-29 13:15] bboreham opened #3106 "Repair bridge and/or iptables rules without shutdown/restart"
From time to time we observe that bridge set up seems to have half-completed, so the initialization won't get run again on restart but it isn't properly set up.

Especially in a Kubernetes context this is hard to repair, and a reboot is generally easiest.

So this issue is to have some way to re-run the initialisation when needed.

[2017-08-29 14:07] vCloudernBeer commented on #2957
Yes, this will help me a lot and get me going. Thanks so much.

[2017-08-29 15:30] bboreham commented on #3105
Since it's disappeared from the Kubernetes documentation, I'll note here that the workaround is to say:

[code]

[2017-08-29 15:42] bboreham opened #3107 "Message on failure to unmarshal annotation should be error"
Saw this in a user's log:

[code]

I think this should be `ERRO` rather than `WARN` since it indicates something definitely wrong with the annotation.

[2017-08-29 15:42] stevesloka commented on #3105
The extra single quotes has an issue, this works for me:
`kubectl annotate ns <my-namespace> "net.beta.kubernetes.io/network-policy={\"ingress\": {\"isolation\": \"DefaultDeny\"}}"`

[2017-08-29 15:49] bboreham commented on #3105
Sorry about that; I'll edit my comment.

[2017-08-29 21:33] RRAlex commented on #3106
I'm deploying on a small cluster (6 nodes: 3 small controllers, 3 workers). If I reboot the machines, it seems there is no more network connection to anywhere, but if I delete everything, reboot again and redeploy, it works again.

Is this related? (k8s: 1.7.4, weave 2.0.4, etcd. 3.2.6, docker 17.06.1, ...)

[2017-08-29 22:22] bboreham commented on #3106
@rralex that's pretty much the opposite of this issue. A reboot forces the initialization to be re-run.

Could you please open a separate issue and include the logs from the `weave` container in the working and non-working cases.

[2017-08-30 04:04] dineshputchala commented on #3104
I tried using new version few hours before your suggestion and with it , above issue is not occurring.
Closing the bug. Thanks for your support !

[2017-08-30 04:04] #3104 closed

[2017-08-30 05:28] dtshepherd commented on #2957
@bboreham I started down the path of implementing some of the docker commands in `weaveutil` tonight, but it seems to be just duplicating `docker/cli/command` functions (with way less features).  `weaveutil` commands should be used for higher level functionality (like a docker command sequences).

I really like the idea of just using the latest docker client (17.06.1-ce) and specifying DOCKER_API_

[2017-09-01 10:31] bboreham opened #3108 "Have weave-npc print out which iptables rules are firing"
When using `iptables` there is a fairly standard debugging technique if you don't know where you went wrong:

    iptables-save -c
    [run test]
    iptables-save c
    [note differences between counters]

we could automate this inside Weave Net, e.g. with an http endpoint that would dump out the rules and subtract the counts.

[2017-09-01 13:17] chanwit opened #3109 "Feature Request: Assign IP via WEAVE_CIDR for weaveworks/net-plugin"
why:
A single-container Docker Service should be able to specify its IP address via WEAVE_CIDR similar to `docker run`. This is important to us when we deploy a set of stateful services (for example DB clusters, which are required fixed IP addresses for their stability).

Currently, there is no code in `cni.go` or `driver.go` which detects a parameter or an environment variable to allow this.

The

[2017-09-01 14:04] bboreham commented on #2957
It's always questionable whether to exclude a Docker version, but our stats say usage 1.13 with Weave Net has dwindled to about 0.5%, so maybe that would be ok.

I do think it would be plausible to re-use the Docker CLI implementations of `kill`, `stop`, etc.

That might involve converting `weaveutil` to use the Cobra CLI library, which is already proposed in #2490.  And `docker/docker/cli/command

[2017-09-04 06:16] dtshepherd commented on #2957
@vCloudernBeer I started work in PR #3110, I only implemented the simple command so far...

[2017-09-04 10:16] avkonst commented on #3050
Could you please provide with the quick answer for the above question?

[2017-09-04 10:53] bboreham commented on #3050
Sorry this question got lost.

`--resume` means to use the list of peers that this peer has been told to connect to, so it would be blank.  It is the sum of any list on the `launch` line and any subsequent `weave connect` or `weave forget` operations.  It does not include any peers discovered through gossip.

Regarding "maximum robustness", the downside is that you are relying on host2 making a co

[2017-09-04 11:05] avkonst commented on #3050
Thanks. Does it mean that the maximum robustness is when every host is
aware (launch or connect) about every other? It is a bit sad that gossip
does not allow to achieve this automatically... Would it be possible to
enable nodes, which auto-discovered with gossip, to auto-`weave connect`
with each other?

Is there any way to execute `host1> weave connect host2` operation via a
command similar to `

[2017-09-04 11:20] philicious opened #3111 "Rbac Error while installing weave-net on GKE"
## What you expected to happen?
Installation works and weave-net available

## What happened?
Seeing errors when installing and weave-net route/eth missing in pods.
[code]

## Anything else we need to know?

## Versions:

[code]

## Logs:
[code]

## Network:
in the pods, I see the weave-net route missing
[code]

## Extra info
excerpt of kubectl describe nodes
[code]

My best guess would be that th

[2017-09-04 11:28] bboreham commented on #3050
Peers will all find each other via gossip sooner or later; however in your specific example it will come up and connect to nobody so will have to wait for somebody else to connect to it.  @awh I think "maximum robustness" was your phrase - are there any other things to watch out for in the pre-seeded case ?

You can run `weave` commands remotely, since they all execute via docker:

    DOCKER_HOST

[2017-09-04 11:33] avkonst commented on #3050
Great! Thanks. If "maximum robustness" needs explicit connect (?), I will
add it to my automation by invoking remote docker connecting via weave net
itself (I have got docker APIs exposed via http proxy inside of the weave
net cluster for every node).

On Mon, Sep 4, 2017 at 11:28 PM, Bryan Boreham <notifications@github.com>
wrote:

[2017-09-04 12:57] philicious commented on #3111
btw I'm seeing a somewhat similar error with weave-scope

[code]

however weave-scope seems to work. i.e. I can open the dashboard and it shows my pods, containers, process etc

[2017-09-04 13:50] bboreham commented on #3111
@philicious are you running `kubelet` configured to call CNI?  That `10.4.1.0/24` range is nothing to do with Weave Net, would be consistent with kubelet using non-CNI networking.

The rbac error is a bit cryptic, but I think it means the user you are calling `kubectl` as does not have the required permissions.

How is your Kubernetes installed?  E.g from `kubeadm` or from instructions found somew

[2017-09-04 14:10] philicious commented on #3111
@bboreham its GKE and its installed as simple as
`gcloud container clusters create production --zone europe-west1-d --machine-type n1-standard-2 --num-nodes 3 --cluster-version 1.7.2`

the rbac error also surprised as the user I'm using is the owner of the GCP project. so it has all possible rights.

[2017-09-04 14:18] philicious commented on #3111
@bboreham ye so the reason for the CNI plugin not being picked up is that `--network-plugin` is an k8s alpha feature as I just noticed and that cluster doesnt have alpha enabled. thx for the hint.

so whats left from this issue is the rbac errors. as weave-net wont work for me in this scenario, we could also close this issue if you are not "interested" in the rbac errors ?

[2017-09-04 14:18] bboreham commented on #3111
I don't know much about GKE but I see lots of versions of the same answer, e.g. https://www.weave.works/docs/tutorials/kubernetes/cloud-on-gke/ https://coreos.com/operators/prometheus/docs/latest/troubleshooting.html

[2017-09-04 14:20] bboreham commented on #3111
Can I ask what you were looking to get from Weave Net, since GKE already provides a container network managed by Google?   (There are lots of valid answers, just interested to know which one(s) apply here)

[2017-09-04 15:32] philicious commented on #3111
I was hoping to get support for Multicast. The project I'm currently working for uses vert.x microservices framework which uses e.g. multicast for discovery.
the devs are struggling getting the discovery methods designed for running on k8s to work. so I was evaluating a more platform-side solution to this problem

[2017-09-04 15:40] philicious commented on #3111
@bboreham I can confirm that running
`kubectl create clusterrolebinding myname-cluster-admin-binding --clusterrole=cluster-admin --user=myname@example.org`
prior to running the weave-scope or weave-net install scripts, fixes the rbac error. i.e. its not happening.
so maybe the install doc needs to be updated with that precious info

[2017-09-04 16:20] bboreham commented on #2957
Bit more detail on why re-implementing the `docker inspect` in `try_create_bridge` is pointless:

`try_create_bridge` is called from `create_bridge` which is called from `weave attach`, `weave expose` and `weave hide`.
elsewhere there is a routine `exec_options()` which mounts `/etc` and `/var/lib/dbus` for those commands.
The `docker inspect` in `try_create_bridge` will come up with a path like `

[2017-09-04 19:51] philicious commented on #3111
btw I never saw that page you linked https://www.weave.works/docs/tutorials/kubernetes/cloud-on-gke/ and only the docs from here https://www.weave.works/docs/net/latest/kubernetes/kube-addon/ as I havent used weave cloud before but only the community stuff.

otherwise I would have found that command myself I guess :P

[2017-09-05 04:14] vCloudernBeer commented on #2957
My understand of this issue from a very high level is to migrate to using go function as a Docker Client and to issue API calls to the Docker Engine to perform the above listed actions instead of spinning up a container and pass in the Docker CLI command.

[2017-09-05 04:19] vCloudernBeer commented on #2957
One example of using Docker client API can be found in  .../weave/prog/weaveutil/addr.go where it import in "github.com/fsouze/go-dockerclient"? Sorry I am still a bit slow but I am determine to get myself started.

[2017-09-05 04:57] dtshepherd commented on #2957
@vCloudernBeer Check out PR #3110.  I've ported a large portion of the `docker ...` dependencies to `weaveutil`.  I'm still working on the `docker create` replacement for the `weavevolumes`, generalization/reusable code for `docker run`, `docker ps`, and `docker pull`.  Some of those should be direct ports (e.g. `docker pull`), but others should be implemented as higher level functionality (see ht

[2017-09-05 05:00] vCloudernBeer commented on #2957
Cool.  thanks.

[2017-09-05 05:02] dtshepherd commented on #2957
@vCloudernBeer It's worth mentioning that the `weaveexec` container will still be spun up to run the `weaveutil` CLI commands.  This issue is trying to eliminate the use of `docker ...` CLI commands in the `weaveexec` container.

[2017-09-07 10:49] jeroenjacobs1205 opened #3112 "weave-net not working on AWS when using K8s yaml config"
We have 2 kubernetes clusters, one running on AWS, the other in our own datacenter.

We use the same yaml config to deploy the DaemonSet on both clusters. We have no issues on our internal cluster, but on the AWS cluster, pod networking is not working.

Theses are the version numbers:

Weave: 2.0.4
Kubernetes: 1.6.6
OS: CentOS 7

(both clusters use the same versions of all components)

Important:

[2017-09-07 11:23] jeroenjacobs1205 commented on #3112
I rebuilt my cluster on AWS, as a quick test, but still no difference. Here is some weave output

Output of weave-status:

[code]
weave report:

[code]

[2017-09-07 11:54] vCloudernBeer commented on #2957
I found one reference of "docker pull ..." in the weave script. So the idea is to change from

**docker pull $img** to **util_op docker-pull $img** where docker-pull is a new function in weaveutil?

[2017-09-07 12:40] bboreham commented on #2957
@vCloudernBeer yes, that's one way to do it.

I did note a different idea for `docker pull`, since it is only used in `weave setup`: it could move to the non-containerised part of the script.

Each time you execute the `weave` script, it does some initial stuff then calls `docker run` on the same script inside the `weaveexec` image.  This way we know we have certain tools available - `ip`, `curl`,

[2017-09-07 13:24] dtshepherd commented on #2957
Not a bad idea, I thought about that and it probably a cleaner solution.  I ended up implementing it inside `weaveutil` in PR #3110 (https://github.com/weaveworks/weave/commit/01949309e9140b9063ee00ad77e8c5692df56ecd).  It's a decent amount of code to trigger a `docker pull` through the API.

[2017-09-07 13:56] vCloudernBeer commented on #2957
So this is already done.  Seems like I should work on another issue.

[2017-09-08 13:29] bboreham opened #3115 "load kernel modules via netlink rather than modprobe"
Idea from https://twitter.com/dwragg/status/906122805678366720

I didn't understand the `ip link show $module` part, but the [Go code](https://github.com/weaveworks/go-odp/blob/master/odp/dpif.go#L67) seems plausible.

This would simplify the Kubernetes daemonset because it wouldn't have to mount `/lib/modules`

[2017-09-08 13:55] eddytruyen opened #3116 "Docker V2 Plugin on already running, non-cleanly booted VM cannot connect to peers."
## What you expected to happen?
my particular problem is that I have three docker swarm workers on cleanly booted VMs with mongodb instances. They interact correctly via clusterIPs. I however have an already running client VM with swarm worker installed on it. I can ping to the mongodb containers but I cannot connect their services on port 27017. Journalctl logs shows that the weave container on t

[2017-09-08 14:29] eddytruyen commented on #3116
Update: `sudo rm /var/lib/weave/weavedata.db` , and then a  clean reinstall of docker engine resolved the problem

[code]
[code]

[2017-09-08 15:03] bboreham commented on #3116
Thanks for the report.

On Slack you added some extra information which helps to understand why the connections were rejected:

[code]

and that's why deleting the `weavedata.db` file helps - it clears out that "seeded" information.

I'm a bit puzzled how it would get into that state in the first place

[2017-09-08 15:15] eddytruyen commented on #3116
It could be that I've run on ycsb-3 VM, a previous version of the weave V2 plugin that was only intended for demonstrating a bug in docker. See https://github.com/weaveworks/weave/issues/2841

Eddy

[2017-09-08 15:32] eddytruyen commented on #3116
I happened to make a snapshot of the client VM before removing the `weavedata.db` file.
I have attached the original files at
[weavedata.zip](https://github.com/weaveworks/weave/files/1288340/weavedata.zip)

[2017-09-08 18:40] caarlos0 commented on #2797
After removing the peers, I now have this:

[code]

what are the implications of that? Should I be worried?

[2017-09-09 03:18] caarlos0 commented on #2797
Turns out a should, things are not working :D

[2017-09-09 03:34] caarlos0 commented on #2797
BTW: I had to remove all things related to weave and re-create it.

Domains were not being resolved anymore to the outside world. Not sure if it is related to this problem or not.

This was a fun Friday night.

[2017-09-09 08:34] itskingori commented on #2797
@caarlos0 99.9% of your cluster was unreachable ...

[code]

@mikebryant shared how he recovered from this in https://github.com/weaveworks/weave/issues/2797#issuecomment-282096981. I've tried to make his solution clearer in https://github.com/weaveworks/weave/issues/2797#issuecomment-318637420. @bboreham explains what's happening in https://github.com/weaveworks/weave/issues/2797#issuecomment-318

[2017-09-09 10:48] brb commented on #3103
Fixed by #3114

[2017-09-09 10:48] #3103 closed

[2017-09-09 11:28] brb commented on #3115
Neat! Same could be applied to `net-plugin` which mounts the same dir.

Apparently the ioctl `SIOCGIFINDEX` request [calls](https://github.com/torvalds/linux/blob/master/net/core/dev_ioctl.c#L463) `dev_load` which tries to [load a kernel module](https://github.com/torvalds/linux/blob/master/net/core/dev_ioctl.c#L376).

[2017-09-09 12:38] caarlos0 commented on #2797
@itskingori yeah, this all-unreacheable state was after I removed the peers that didn't exist anymore using the scripts provided.

I did that, pods started to launch again, but DNS to the "outside world"  inside the containers wasn't working.

Because pods keep restarting, my entire cluster entered in a broken state, where nodes were failing with `ContainerGCFailed`/`ImageGCFailed` and nothing wor

[2017-09-09 20:15] jeroenjacobs1205 commented on #3112
Solved it. Was a configuration mistake on my part.

[2017-09-09 20:15] #3112 closed

[2017-09-10 09:57] bboreham opened #3117 "weave script could detect it is running inside Kubernetes"
Currently we recommend to run like `weave --local status` to avoid an immediate error response, as seen at https://github.com/weaveworks/scope/issues/2845.

However the script can probably tell it's being run in the weave-net pod context, e.g. by environment variables, and do this itself.

[2017-09-10 20:07] #3116 closed

[2017-09-11 14:29] caarlos0 opened #3118 "dns stopped working inside containers"
## What you expected to happen?

DNS inside containers running on a kubernetes cluster should resolve external addresses.

## What happened?

Containers couldn't resolve any address, for, example, google.com or amazon.com .

## How to reproduce it?

The cluster entered didn't have any more IPs to use, due to #2797. I used the script provided to remove the peers that don't exist anymore from the cl

[2017-09-12 09:40] roffe commented on #2613
Problem still exists with latest coreos and upstream hyperkube image from google ( not coreos specific ) using workaround

[code]

allowed me to install and get it running.

This is a one year old bugg, is weave-net project dead?

[2017-09-13 11:50] gcavalcante8808 commented on #3079
For me this error ocurred because I have the legacy plugin installed and enabled; disabling it and re-enabling v2 plugin works flawlessly.

[2017-09-13 12:38] #2957 closed

[2017-09-13 12:38] gcavalcante8808 opened #3120 "No Route to host with v2 plugin on Docker Swarm Mode"
## What you expected to happen?

Iperf3 from client should connect to server, measuring total bandwitch or at least telnet should connect to port 5201.
## What happened?

Iperf3 returned:

iperf3: error - unable to connect to server: No route to host.

Using an overlay network, iperf3 runs normally.

On Weave, DNS resolution and ICMP Ping works (with iptables -F before docker service start action)

[2017-09-13 13:06] bboreham commented on #2832
#3110 should have fixed this, because the Docker binary is no longer included in the image.
Would anyone like to try this? (Using `latest` images; we haven't done a release with that change)

[2017-09-13 15:21] luxas commented on #2832
I think my last run on Packet using `https://git.io/weave-kube-1.6` was successful.
@vielmetti Can you verify as well please?

[2017-09-13 16:32] bismarck commented on #2797
I just got bit by this issue on one of my clusters.  The script above helped me recover.  What's the status of #3022?

[2017-09-13 17:13] vielmetti commented on #2832
@bboreham and @luxas - happy to test - can you point me at an image I can try just to confirm?

[2017-09-13 18:46] ceridwen commented on #3105
I have weave running on minikube, which is running Kubernetes 1.7.  I have a namespace with the DefaultDeny annotation, but connections are allowed to pods in that namespace whether there's a NetworkPolicy set or not.  No combination of annotation or NetworkPolicy, expecting 1.6 or 1.7 semantics, seems to get weave to deny connections on my minikube setup.  As in the original bug, the weave-npc lo

[2017-09-13 20:00] bboreham commented on #2832
Thanks for offering, but note `weave-kube` never uses the Docker client binary so is not affected by this issue. It applies to commands run via the `weave` script.

Specifically the image to test is `weaveworks/weaveexec:latest`

[2017-09-14 17:20] #3091 closed

[2017-09-15 00:24] vielmetti commented on #2832
When I try `weaveworks/weaveexec:latest` I run into this problem

[code]

resulting in the error `ERROR: Unable to parse docker version`.

I'm not convinced I'm testing this right.

[2017-09-15 00:25] vielmetti commented on #2832
[code]

[2017-09-15 06:22] rade commented on #2832
@vielmetti use the [snapshot release](https://www.weave.works/docs/net/latest/troubleshooting/#snapshots)

[2017-09-15 06:45] rade opened #3121 "`weave setup` fails with "docker: not found""
The latest snapshot fails in `weave setup`:
[code]

The problem here is that `setup` has two halves, which need to execute at the client and server (inside weaveexec), respectively, but is missing a `[ -z "$IS_LOCAL" ]` guard, just like there is on the `version` branch. Hence the client part is executed at the server too, which is superfluous and fails since the docker exe was removed from weaveex

[2017-09-15 06:46] rade commented on #2832
Though I have just found #3121.

[2017-09-15 08:55] rade commented on #3121
We really should add a `weave setup` test.

[2017-09-15 11:35] dtshepherd commented on #3121
Ugh, I know I tested the `docker pull` change manually, but I'm guessing I did that test prior to removing the `docker` tgz logic in the Makefile.

I started a bugfix branch and commited this change: https://github.com/weaveworks/weave/commit/bc7dc7b71a9c424779a971761b78551a2f62c7ae

But I'm having issues testing it.  The `docker pull` locally actually breaks the test because it pulls the `weaveex

[2017-09-15 22:28] dtshepherd commented on #3121
@rade @bboreham any thoughts on how to avoid the issue with `docker pull` overwriting the images that were just built when trying to test `weave setup`?  I could create some kind of testing flag to skip `docker pull` locally or alias it to be a no-op locally when testing (or set some test file or env variable that I can checked in the test).

[2017-09-16 18:43] bboreham commented on #3121
One way to test `weave setup` would be to run a local registry which the build is pushed to, first.
Or push it to dockerhub under the git tag?
I'm not sure I see that work as worthwhile.

[2017-09-16 18:44] dtshepherd commented on #3121
Yeah both of those seem painful. Maybe just push the fix without the test for now?

[2017-09-16 19:07] bboreham commented on #3121
Done - b8d7af3822c0e37cef0b6cab8732e34c95f30b1f

[2017-09-16 19:07] #3121 closed

[2017-09-16 19:11] rade commented on #3121
That guard should really go outside the `for` loop.

[2017-09-17 15:35] rade commented on #3121
Fixed in 89c7e6d33

[2017-09-18 13:37] joshiggins opened #3123 ""write failed: connection reset by peer" with parallel tcp connections"
## What you expected to happen?

Running iperf over weave network with 24 parallel streams is possible, regardless of effect this will have on the performance.

## What happened?

Running iperf with anything over 8 streams results in `write failed: Connection reset by peer` errors. Not using the weave network, it works fine between the machines.

[code]

## How to reproduce it?

Connect two weaves

[2017-09-19 12:12] joshiggins commented on #3123
I think the pertinent log message here is
[code]
but it looks like the weave container already raises the kernel params for udp connection limits.

I used higher spec hardware, and the problem goes away. Iperf running no problem over weave with 128 parallel streams. This is not a weave bug, but might be nice to document somewhere that this message probably indicates you need a faster machine...

[2017-09-19 12:12] #3123 closed

[2017-09-19 12:18] brb commented on #3082
Closing due to inactivity.

[2017-09-19 12:18] #3082 closed

[2017-09-19 12:44] brb commented on #3099
`224.0.0.0/4` is [IPv4 multicast address range](https://www.iana.org/assignments/multicast-addresses/multicast-addresses.xhtml). IP multicast is one of the features Weave Net supports.

How do you launch containers w/o Weave Proxy? You are seeing the difference probably due to disabled multicast feature when launching w/o Weave Proxy.

`10.32.0.0/12` is a default Weave network subnet, so the rules

[2017-09-19 21:29] avkonst commented on #3099
I understand it now. Thank you very much.

[2017-09-20 08:44] bboreham commented on #3105
@ceridwen please open a new issue and include the logs.

[2017-09-20 08:45] bboreham commented on #3105
Some thoughts about implementation:
Currently we have an ipset for every pod in a namespace, and if the namespace is DefaultAllow then we add a rule accepting that ipset.
There are three cases:
 * DefaultDeny: just have rules for policies.
 * DefaultAllow 1.6 semantics: add rule accepting  ipset containing every pod in namespace.
 * DefaultAllow 1.7 semantics: add rule accepting  ipset containing

[2017-09-20 17:33] ceridwen opened #3124 "Weave Net fails to start in minikube VM"
## What you expected to happen?

I have 1.6 and 1.7 network policies that I expect to deny access.  AFAICT, Weave is always allowing access irrespective of policies.

For 1.6, I have annotations set on namespaces:

[code]

For 1.7, I have a default-deny network policy:

[code]
For both, I also have a policy that should allow traffic to certain pods from certain pods and namespaces.

[code]

I elid

[2017-09-21 19:12] andersla opened #3125 "Large kubernetes cluster failed deploying when using weave as network plugin"
## What you expected to happen?
Kube-DNS should start with large cluster

## What happened?
If I instead of deploying a small cluster (10 nodes - always working) deploy a large cluster 100-150 nodes, then kube-dns doesn't get into ready state. It failes with message Error syncing pod, skipping: failed to "CreatePodSandbox" for "kube-dns-3913472980-c2506_kube-system(ab0a9011-9de0-11e7-93ea-fa163e11

[2017-09-22 06:00] realcbb commented on #3120
I have the same issue with you. Containers on different host cannot ping each other.

`ps -ef | grep weave` results
[code]

--docker-api is empty. Is the problem here?

[2017-09-22 09:50] #3099 closed

[2017-09-22 16:58] fvigotti opened #3126 "weave crash because maintain connection to dead apiservers in multimaster cluster"
## What you expected to happen?
weave restart when node restart

## What happened?
if not all masters are up, some weave pods doesn't restart , because cannot connect to apiserver ( yeah 1/3 of apiserver is down, but 2/3 are up! so he should recover aswell! ) this leave whole node networking down causing cascading issues..

## How to reproduce it?
see here down in description

## Anything else we

[2017-09-22 22:44] RRAlex opened #3127 "Service on StatefulSet pods in Default-deny namespace doesn't connect via Service's IP"
## What you expected to happen?

A namespace with a default-deny policy, with a statefulSet of pods using the following NetworkPolicy:
[code]
... should let the ingress pods connect to the service's IP, resolved from its DNS.
ie: `elasticsearch-logging` (or `elasticsearch-logging.kube-system-logging.svc.cluster.local` or resolved IP) should be reachable from fluentd-es pods.

## What happened?

I'

[2017-09-23 13:59] caarlos0 commented on #3118
same thing happen on another cluster today...

[2017-09-25 09:03] brb commented on #3124
Thanks for opening the issue.

It seems that the weave-net pod gets stuck and does not progress its initialization. Could you paste the output of `kubectl describe ds weave-net -n=kube-system`?

[2017-09-25 09:05] fvigotti commented on #3126
Ok, probably I've found where is the problem.. which anyway I think should be fixed...

the problem is that weave configure iptables/nat to redirect randomly between apiservers ip,
BUT, it's a bit sticky about which ip to use,

this is the like that weave create
[code]
as you can see the timeout of the ip redirection is about  3 hours,
this means that in HA clusters, when a node is down, connectio

[2017-09-25 09:08] bboreham commented on #3126
Thanks for the update.  I agree it shouldn't be behaving as you describe.

It would be `kube-proxy` creating those iptables rules.

The `could not get peers` message comes from a program that starts, does its job and exits, so it cannot be maintaining a connection.

[2017-09-25 09:18] fvigotti commented on #3126
Another solution that I can propose, is leaving a way to configure the apiserver IP address on weave ( with an env variables/cli-args  ) and this ip will point to my nginx loadbalancer that I have already have to setup for the kube-proxy instances in the cluster ( HA kubernetes require a custom webserver with failower  torwards api ip address, this is specified also in kubernetes official guides f

[2017-09-25 09:19] bboreham commented on #3126
Weave Net connects to the Kubernetes api-server [as recommended here](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod); the address comes from environment variables configured within Kubernetes; you are free to set them as you wish.

[2017-09-25 12:51] fvigotti commented on #3126
Hi,
Maybe I've found what are you talking about.. and  experimenting for an elegant solution at the moment I have created a service to expose the nginx-ha which provide failover over various api-servers

[code]
then created a redirect to the just created services (wich exists in kube-system namespace ), this redirect will replace the kubernetes.default service which in all cluster is the default l

[2017-09-25 13:10] fvigotti commented on #3126
Found a problem in the solution  here above, when a service with type `type: ExternalName` is used, the injected env variables become the first name of the redirected service name, not the name of the service which has the redirect,  this cause the problem with env variables in weave, aswell as missing kubernetes.default services in kubedns and other services that need it..

solution:
the nginx-ha

[2017-09-25 13:10] bboreham commented on #3118
@caarlos0 can you clarify the symptoms please?

If possible, use a dedicated DNS client like `dig` or `nslookup`.
Does it fail to resolve both Kubernetes and external addresses, or just external?  (i.e. can it resolve something like `kubernetes.default.svc.cluster.local`?).

If it's just external addresses, can the `kube-dns` pod contact external machines?  (i.e. can you `kubectl exec /bin/sh` ins

[2017-09-25 13:16] bboreham commented on #3120
To run the `status` command inside the V2 plugin you have to add `--local`:

    /home/weave/weave --local status

were you following some instructions somewhere we should update?

[2017-09-25 13:51] bboreham commented on #3126
@fvigotti great to hear you got it working.  If you'd like to turn this into a blog post we'd be happy to host it or put a pointer on our website.

[2017-09-25 14:28] caarlos0 commented on #3118
@bboreham

I did that.

not sure, but probably all. My pods don't use any internal kubernetes endpoints, so I didn't checked for that... What I can confirm is that things like aws, google, etc were not being resolved. Ping to previously resolved IPs wasn't working as well.

didn't test for that. Can do when this happens again.

---

another info I have is that the `weavenpc_blocked_connections` wa

[2017-09-25 14:53] RRAlex commented on #3127
Here is the kube-proxy systemd configuration, running in docker:
[code]

[2017-09-25 15:03] bboreham commented on #3127
Mostly I would blame this line:

documented as follows:

so this tells `kube-proxy` you want the source address of every conversation rewritten.

These lines show the IP addresses of the pods that should be let through:
[code]

These lines show the IP addresses getting blocked:
[code]

as discussed on Slack, these are not IP addresses of any pods, but are probably the addresses of the `weave` brid

[2017-09-25 15:43] RRAlex commented on #3127
thanks to @bboreham, it seems the `--masquerade-all=true` was causing everything to be SNAT-ed and thus not fitting the ipset filters.

[2017-09-25 15:43] #3127 closed

[2017-09-25 16:19] bboreham commented on #3125
@andersla please could you supply logs from one or two of the weave pods.  This would be like:

    $ kubectl logs -n kube-system <weave-net-pod> weave

[2017-09-25 17:01] bboreham commented on #3118
Ok, if you could say what the output was, that'd be useful.

that's a counter (not a gauge), so you would be more interested in `rate(weavenpc_blocked_connections)`

the details of which exact connections were blocked would be in the `weave-npc` logfile.

Sometimes individual packets can be blocked because the connection started before the information arrived to open the rule up; tcp will retry ve

[2017-09-25 17:06] caarlos0 commented on #3118
sorry, I forgot to save them :/

`rate(weavenpc_blocked_connections_total[5m])` is `0`.

[2017-09-25 17:08] caarlos0 commented on #3118
I really don't have enough info right now... A good way to test this is to fire up a cluster, start and stop lots of pods (could be in a single node), until that node has almost all IP allocations in the range, than, kill the node, start new nodes, and create more pods... this should cause that bug in which IP allocations are not released, and manually removing the nodes from weave is causing this

[2017-09-25 17:11] bboreham commented on #3118
Is that the same as #2797 ?

[2017-09-25 17:12] caarlos0 commented on #3118
@bboreham not quite, the script solution provided for that bug causes this one (at least in some cases, since no one else reported)...

[2017-09-25 17:54] ceridwen commented on #3124
[code]

[2017-09-26 01:04] realcbb commented on #3120
[code]

[2017-09-26 06:23] andersla commented on #3125
Currently my cluster is up working (with flannel), but when I tear it down I'll try to deploy again with weave and post logs (will take a week or so).

[2017-09-26 16:49] mfornasa commented on #2970
Same issue here, on a cluster with some autoscaling happening daily (more or less 10 node creation action per day).

[2017-09-27 08:52] fvigotti commented on #3126
I would be happy to do that but I'm one man trying to do the job of 10 ;) I didn't have time to blogpost :( but you can reuse this discussion as you prefer if you want to do so :)

Have a nice day,
Francesco

[2017-09-29 09:55] bboreham opened #3130 "If you change the default subnet and restart, weave-kube should remove old bridge address"
On `sig-network` Slack:

[code]

[2017-09-29 15:19] inetfuture commented on #426
Just hit this issue, new nodes can not join, took some time to debug, wondering if our machine has network issues...

This limit really should be well documented, especially in site/troubleshooting.md

[2017-10-02 15:39] bboreham opened #3133 "Do something more useful when the weave bridge is DOWN"
Encountered during an instance of #2998 - nothing was working on one node because its bridge was DOWN.

Not sure if the best thing to do is to make this more clear to the administrator, or try to mend the bridge so it can be UP.

Is it always a bug? Are there reasons for the machine owner to deliberately set it DOWN?

[2017-10-03 16:01] Bregor commented on #3133
Yeah, same here.

 - `kube-proxy --proxy-mode=iptables ...`
- `ufw`
- `weave-2.0.4`

`weave` interface state changes state to DOWN from host to host randomly. Approximately one-two hosts per day in cluster of 15 nodes (kubernetes-1.6).

Affected since ufw installation.

[2017-10-03 16:03] bboreham commented on #3133
@Bregor do you think it goes DOWN mid-session or could it be just on reboot?

[2017-10-03 16:10] Bregor commented on #3133
I'm pretty sure it's in mid-session. Moreover: node reboot not "cures" this condition. The guaranteed way to fix it for some time is to download `weave` shell-script on host, run `weave reset` and then `kubectl delete -n kube-system weave-net-xxxx`.

[2017-10-03 16:33] Bregor commented on #3133
[code]

[2017-10-03 16:34] Bregor commented on #3133
This time right after host restart

[2017-10-04 13:09] bboreham opened #3136 "Rewriting /etc/hosts is broken"
## What you expected to happen?
Container's `/etc/hosts` to begin "# created by Weave"

## What happened?
(after I added more logging)
[code]

So the problem is that it is trying to run `weaveworks/weaveexec`, and it should actually be running something like `weaveworks/weaveexec:2.0.4`

[2017-10-04 14:02] nesc58 commented on #3075
The problem still existing with Kernel 4.13.3-coreos-r1.
The problem is: CoreOS updated the stable version to Kernel 4.12. Now I am unable to use WeaveWorks with encryption + fastdp with CoreOS. Stable: Kernel 4.12 with poor performance and Kernel 4.13, too.

[2017-10-05 09:36] bboreham commented on #582
#3110 makes this worse, since the command that runs `weaveworks/weave` is now `weaveutil`

[2017-10-05 10:51] bboreham commented on #3136
This was not caught in CI testing for the reason outlined in #1100 - it defaults to `:latest`, and that image does exist in the CI test environment.

[2017-10-05 11:14] #3136 closed

[2017-10-05 11:51] bboreham commented on #2998
Fixed by #3134

[2017-10-05 11:51] #2998 closed

[2017-10-05 20:45] mmerrill3 opened #3139 "Connecting through a service with network policies is blocked"
## What you expected to happen?

I created a default namespace called mike, and set that to my default namespace in my kube context.

I annotated the namespace for this example https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/#limit-access-to-the-nginx-service with

kubectl annotate ns mike net.beta.kubernetes.io/network-policy='{"ingress":{"isolation":"DefaultDeny"}}'

I

[2017-10-06 06:35] deitch commented on #3016
@bboreham when I run the kube add-on, it automatically generates `/etc/cni/net.d/10-weave.conf`. If I have `10-weave.conflist`, CNI will pick up the first and miss my generated `conflist`.

Short of giving it a lower number (higher priority), is there any way to get it to *not* generate `10-weave.conf`?

Conversely, if there were a way to tell the add-on to add the `portmap` - generate the `confli

[2017-10-06 10:26] bboreham commented on #3139
Hi, could you say exactly what policies you have applied?  The syntax understood by Weave Net is a little different from that in the current Kubernetes docs - see #3105

[2017-10-06 13:43] mmerrill3 commented on #3139
Hi @bboreham, below is the policy that I applied.  Before I applied to policy, for the mike namespace, I annotated it with the default deny annotation.  This was the command:

kubectl annotate ns mike net.beta.kubernetes.io/network-policy='{"ingress":{"isolation":"DefaultDeny"}}'

After that, all ingress traffic would be blocked from all pods, unless a network policy was defined to allow access fr

[2017-10-07 17:07] mindw opened #3140 "`weaveworks/weave-kube:2.0.5` image missing in DockerHub."
## What you expected to happen?
`docker pull weaveworks/weave-kube:2.0.5` completes successfully.

## What happened?
[code]

## How to reproduce it?
[code]

[2017-10-08 07:56] bboreham commented on #3140
Version 2.0.5 in the process of being released.

Would be interested to know what led to you attempting to pull the image.

[2017-10-08 18:00] mindw commented on #3140
Got notified of a new tag via https://about.sibbell.com .

[2017-10-11 16:22] mmerrill3 commented on #3139
This is not a weave issue.  The problem was that the cluster cidr range for the kube proxy was set to a separate cidr clock than what weave-net was configured for.  This was causing kube-proxy to masqerade requests through the cluster service to the nginx pod.  We have fixed our cluster to make the cluster cidr range match the weave cidr range, and I cannot reproduce the issue now.  Thank you @bbo

[2017-10-11 16:22] #3139 closed

[2017-10-11 16:30] bboreham commented on #3139
Thanks for the update @mmerrill3.

I filed http://github.com/kubernetes/kubernetes/issues/46508 some time ago, which would let us report the misconfiguration
(I guess we could dig around in the `/proc` info, but an API would be nicer)

[2017-10-12 12:09] mindw commented on #3140
It's there now, closing,

[2017-10-12 12:09] #3140 closed

[2017-10-12 12:10] bboreham commented on #3140
I don't know anything about sibbell, but we create a tag first, then build all the software and test it, then make the release visible on GitHub.  So it would be better if they reacted to the latter event.

[2017-10-12 12:22] mindw commented on #3140
Thanks for the info. Understood - wont bother you again :)

Sibell is just a s small web service which scans starred repo for new tags/releases and sends emails when a new one is detected. It detected the tag (and eventually the release).

[2017-10-17 11:08] #2758 closed

[2017-10-17 13:44] lucab commented on #3115
Not sure if being happy or ashamed about raising this. Full description of the mechanism is in the thread starting from that tweet: https://twitter.com/lucabruno/status/902934379835662336.

If you happen to have a kernel developer nearby, perhaps we could ask and get the same feature via a proper guaranteed interface instead of this ioctl hack. I'm still reluctant of abusing this in its current fo

[2017-10-17 16:21] bboreham opened #3143 "CNI DEL logs nil errors"
seen in user's kubelet log:

    Oct 17 13:02:24 ip-172-20-73-204 kubelet[1657]: weave-cni: unable to release IP address: %!s(<nil>)

[2017-10-17 16:22] bboreham commented on #3143
Fixed in 62dbe03193aca4b025438cdacf05e52f05368d6b

[2017-10-17 16:22] #3143 closed

[2017-10-19 10:17] kasheemlew commented on #3002
I tried to use `$ kubectl -n kube-system delete -f https://git.io/weave-kube-1.6` to remove, but it hung. I wonder why it did not proceed

[code]

[2017-10-19 10:24] bboreham commented on #3002
@kasheemlew it's better to create your own issue than to piggy-back on an old one.

That said, it's extremely surprising that the Weave Net config would delete a _flannel_ role or account.  Could you double-check?

To find out more about what `kubectl` is doing, increase the logging level, e.g. `kubectl -v=8 -n kube-system delete -f https://git.io/weave-kube-1.6`

[2017-10-19 13:18] ArchiFleKs commented on #3016
Hi,
@deitch your right and kubelet pick-up the first file and only one.

In fact, Kubelet CNI implementation supports Json, Conf and ConfList (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L99). You cannot specifiy multiple plugins in a conf file but you can in a conflist, I think you can do both in Json.

@deitch did the lower priority for the config file wor

[2017-10-19 15:48] deitch commented on #3016
@ArchiFleKs yes. I used the following config manually.

[code]

I saved it as `/etc/cni/net.d/00-weave.conflist`. This way, even though weave automatically adds `10-weave.conf`, it takes precedence.

I would have preferred to have it auto-generate like weave normally does, but for the future, I guess.

[2017-10-19 20:25] caarlos0 commented on #2896
may be related -> https://github.com/weaveworks/weave/issues/3118

[2017-10-20 18:51] emdupp commented on #2970
Hello, this issue is still happening in with AWS ASG, any news for a fix? Workaround is to fix with a weave rmpeer.

[2017-10-20 18:59] bricef commented on #2970
@mfornasa & @emdupp - I'm currently working on an integration test & fix for this issue when on kubernetes. This might be relevant to you. You can follow on https://github.com/weaveworks/weave/issues/2797

[2017-10-22 12:03] errordeveloper opened #3145 "Readme needs review"
I don't think the readme and description reflect reality. We don't mention Kubenetes enough, and there is nothing about NPC.

[2017-10-23 03:11] EzPluto opened #3146 "weave2.0.5 launch error ？"
run cmd weave launch return a error ：
[code]

[2017-10-23 10:24] rade commented on #3146
Please post the output of `WEAVE_DEBUG=1 weave launch`.

[2017-10-23 12:46] currychomper opened #3147 "Problem setting IPALLOC_RANGE in the docker network plugin V2"
I'm attempting to set the IPALLOC_RANGE flag as there is an overlap issue on 10.0.0.0/8

## What you expected to happen?
The IPALLOC_RANGE flag to be set

## What happened?
Error response from daemon: setting "IPALLOC_RANGE" not found in the plugin configuration

## How to reproduce it?
docker plugin install --grant-all-permissions store/weaveworks/net-plugin:latest_release
WEAVE_MULTICAST=1 IPALL

[2017-10-23 13:00] currychomper opened #3148 "Unable to install specific version of the V2 network plugin"
Attempting to install specific version of V2 network plugin.

## What you expected to happen?
Install a specific version rather that the latest_release

## What happened?
Error response from daemon: manifest for store/weaveworks/net-plugin:2.0.4 not found

## How to reproduce it?
$ docker plugin install store/weaveworks/net-plugin:2.0.4

note I have also tried 2.0.5 and other older versions.

$ do

[2017-10-23 16:13] rade opened #3150 "v2 docker plugin in docker store is ancient"
Following the [weave net v2 docker plugin instructions](https://www.weave.works/docs/net/latest/install/plugin/plugin-v2/), installs a version that is from May 2017 - running `weave version` on it reports [`git-1da1943df9d8`](https://github.com/weaveworks/weave/commit/1da194).

[2017-10-23 16:15] rade commented on #3147
We've found the cause: #3150.

[2017-10-23 16:15] #3147 closed

[2017-10-24 08:37] currychomper commented on #3150
What's the eta on this fix? Is there another way of installing the 2.0.5 V2 plugin in the mean time - am trying to work out if using it is a good fit for us but can't get hold of it?

[2017-10-24 08:40] rade commented on #3150
It might take a couple of weeks.

Not that I can think of.

[2017-10-24 10:52] rade commented on #3150
Actually, you can grab the v2.0.5 plugin with
[code]

[2017-10-24 11:01] rade opened #3152 "latest_release v2 net plugin is wrong version"
[code]
That should report as 2.0.5, since that is the latest release. Contrast with
[code]
The [git revision](https://github.com/weaveworks/weave/commit/d0662b) mentioned above is for the 2.0.0 revision, but evidently prior to tagging.

[2017-10-24 23:06] rade commented on #3150
There is also a v2.0.1 plugin in the main store, so
[code]
works. This does support the `IPALLOC_RANGE` setting (in reference to #3147).

[2017-10-24 23:13] rade opened #3153 "use v2 plugin from dockerhub rather than store"
Apparently it's quite hard to update the v2 plugin in the docker store. Hence #3150.

We should probably change our docs to refer to the plugin on dockerhub instead, i.e.
[code]
etc.

We really ought to fix #3152 first though.

[2017-10-24 23:17] rade commented on #3152
I looked around for a way to publish the 2.0.5 plugin under the latest_release tag. Alas there doesn't seem to be a way to tag plugins, other than creating them fresh with a different tag.

Plus there is the question why the discrepancy arose in the first place; afaict the release script is creating and publishing the plugin twice, with a version tag and the `latest_release` tag, so the reported v

[2017-10-25 10:42] bricef commented on #2797
Just an update for everyone here. @bboreham's fix has ben rebased and tested and it's in review at https://github.com/weaveworks/weave/pull/3149. Should make it to mainline soon.

[2017-10-26 07:49] brb commented on #3105
FYI you can find PR at https://github.com/weaveworks/weave/pull/3151.

[2017-10-26 09:08] skygragon opened #3154 "does weave support general broadcast?"
in document I only see "multicast is supported", but how about broadcast? e.g. if I send broadcast to 172.17.0.255 in one container, will other containers on other hosts receive the data?

[2017-10-26 09:13] rade commented on #3154
yes

[2017-10-26 09:13] #3154 closed

[2017-10-26 11:02] skygragon commented on #3154
@rade could u kindly guide me the doc or example? I didn't find useful thing on document and the broadcast doesn't work in my environment...

[2017-10-26 11:08] rade commented on #3154
If you post a reproducible step-by-step example of what you've tried to get to work then we can probably identify what went wrong.

[2017-10-26 14:22] sylphid8 opened #3155 "POSTROUTING rules are not maintained during runtime"
## What you expected to happen?
When iptables is restarted, weave should ensure that the proper rules are reinstalled in the nat table postrouting chain.

## What happened?
After an iptables restart the nat tables postrouting chain is incomplete and causes node routing issues.

## How to reproduce it?
systemctl restart iptables
iptables -t nat -L POSTROUTING

## Anything else we need to know?
This

[2017-10-27 02:25] skygragon commented on #3154
I have 2 containers running on individual hosts:
[code]
Then I tried listen broadcast on c3 and send broadcast on c2 as below, but c3 received nothing. However it could succeed on outer hosts.
[code]

[2017-10-27 06:50] rade commented on #3154
The broadcast address you used is on Docker's container network - eth0 - rather than weave's - ethwe. Try the latter and it should work.

[2017-10-27 11:00] rade commented on #3148
2.0.1 is available in the docker store, and 2.0.5 in the docker hub. See #3150.

[2017-10-27 11:00] #3148 closed

[2017-10-27 12:13] rade commented on #3152
Here's how I fixed this
[code]
and now...
[code]

@bboreham I am curious how this issue occurred, i.e. why was `latest_release` old and why was it not identifying itself as a versioned release? Seems to me that something must have broken during the release.

[2017-10-27 12:13] #3152 closed

[2017-10-28 20:19] colek42 commented on #2690
I need this for a project as well.  Using docker-compose for now

[2017-10-29 01:11] skygragon commented on #3154
Yes that would work. While I was expecting weave to be more powerful to hack route/iptables stuff a bit thus use could transparently use 172.17.x.x directly.

[2017-10-29 20:44] zenvdeluca commented on #3075
I can reproduce but in a a different context.. -- not using weave or docker, but IPsec mGRE tunnels.

w/ Ubuntu any kernel beyond 4.11 is performing very very bad. when downgrades to 4.10 the regression is over, performance is good.

tested using AWS and GCP instances. didnt test on bare metal.

you may want to add more data on this bug I filed couple days ago.
https://bugzilla.kernel.org/show_bug

[2017-10-30 23:55] zenvdeluca commented on #3075
Hi,

I am glad to relay there is an available patch for kernel >=4.12 that could fix this problem.
more info => https://bugzilla.kernel.org/show_bug.cgi?id=197513

[2017-10-31 03:30] bigwhite opened #3157 "k8s 1.7.6 delete pod error"
## What you expected to happen?

pod should be deleted successfully.

## What happened?

After deleting pod with 'kubectl delete' command, the pod are still listed in the output of 'kubectl get pod' command.

[code]

These deleted pod with status "Terminating" are like zombies.

The kubelet log shows some hints:

[code]

It seems the weave plugin could not find the container ip and return error. a

[2017-10-31 07:21] rade commented on #3075
@zenvdeluca Thanks for investigating this. Well done for identifying what looks like the root cause! Let's hope that patch lands soon and gets ported to all the affected kernel versions.

[2017-10-31 07:28] rade commented on #3157
The presence of flannel in your network suggests that perhaps the pods ended up with a flannel-assigned address but for some reason k8s asked weave during their removal.

Check that the IP addresses of the pods are in fact in the weave address range (10.32.0.0/12).

[2017-10-31 08:11] #3153 closed

[2017-11-01 01:02] bigwhite commented on #3157
@rade Here are the pods' ip

[code]

It seems all ips are assigned by weave.

When I first launch my k8s cluster, I tried to use flannel network plugin. But it did not work. So I switch to weave network. I think the flannel.1 device was left after I uninstall the flannel plugin.

[2017-11-01 16:56] natewarr commented on #2797
@bboreham It seems that reclaiming IP addresses to a single node creates a potential single-point-of failure. When the node that has all of the IPAM allocations dies, how do they get reclaimed? Sure, if we are constantly running the script, they would theoretically be reclaimed to another running node one k8s realized the script's pod is no longer up. This could take several seconds, assuming all

[2017-11-01 17:25] bboreham commented on #2797
IP ownership is generally evenly spread, so at any one time we would be reclaiming some fraction of all IPs from those nodes that have gone away without telling us.  Re-running the reclaim periodically, instead of just when a node starts, is a worthwhile improvement to reduce the window.

You've certainly identified an edge case, but I think I'd want to see evidence that it can happen for real bef

[2017-11-02 10:31] rade commented on #3157
Is it possible that the 'Terminating' pods are old ones, created before you switched to weave? When you delete a newly created pod, does it terminate properly?

[2017-11-02 16:39] natewarr commented on #2797
I probably need to change my name to "TheEdgeCase". We will find an acceptable workaround. Thanks for your work on this bug!

[2017-11-02 17:42] natewarr commented on #2797
Any suggestions on this situation? It looks like a new node got spun up on the same IP as the old node, and that happens to be the node which we are running rmpeers.

[code]

[2017-11-06 02:21] bigwhite commented on #3157
@rade 3ks for your reply. All the error status happened with weave 2.0.4. I haven't switched anything.

[2017-11-06 04:17] renewooller commented on #3021
I have similar problems, however my status looks a lot worse:
[code]

[2017-11-06 16:41] bboreham commented on #2797
@natewarr I can see that AWS is re-using IPs and hence hostnames; Weave Net internally works off the "unique peer ID" which is [generated in various ways](https://www.weave.works/docs/net/latest/operational-guide/concepts/#peer-name)

I am unclear what you need suggestions for, sorry.

[2017-11-06 16:45] caarlos0 commented on #2797
FWIW this issue with peers unreachable happens **a lot** more if you have an elastic cluster (obviously, considering more instances are launched and terminated).

[2017-11-06 17:33] natewarr commented on #2797
I see. I was getting hung up on the use of the Nicknames as used in the gist hack. I was able to run this to reclaim that peer with the duplicate IP.

[code]

[2017-11-06 18:31] bboreham commented on #2797
@natewarr ok, that makes perfect sense.  So my suggestion would have been to drop to the peer-id (the hex number that looks like a mac address), which you did 😄

[2017-11-07 14:15] fabiand commented on #3016
Nice @deitch so I wonder - what is blocking weave from adding this to their default configuration?

[2017-11-07 14:18] deitch commented on #3016
I do not know. @bboreham ?

[2017-11-07 14:40] bboreham commented on #3016
See https://github.com/weaveworks/weave/issues/3016#issuecomment-313644623

[2017-11-07 15:10] fabiand commented on #3016
Thanks.

To summarize: As weave, we don't know if we can enable portmap, thus it should be left to the admin to enable it.
best is to make this enablement easy.

[2017-11-07 15:11] fabiand commented on #3016
This is actually nasty, I wonder if this can be solved in the realm of Kube. After all portmap is a common thing whenever NodePort is used.

[2017-11-07 20:37] ArchiFleKs commented on #3016
@fabiand actually it is needed only if you are using `HostPort` directly on a container, without `Services` nor `NodePort`

[2017-11-07 22:22] fabiand commented on #3016
Hm. That's a good hint, and it then sounds as if this is not the issue I am seeing.

I'm using kubelet with CNI and weave, and using NodePort - or the definition used here kubevirt/kubevirt#542 - then the user defined ports will not be opened (only the randomly assigned ones).
The very same definition works with docker networking.

[2017-11-07 22:30] ArchiFleKs commented on #3016
@fabiand I replied to you here also https://github.com/kubevirt/kubevirt/issues/542

[2017-11-08 09:00] bboreham commented on #3152
Did this also fix #3150 ?

[2017-11-08 09:05] rade commented on #3152
No, that one is about the plugin in the official store. I have updated the title to make that clearer.

The change I made in #3156 makes that issue much less of a problem.

[2017-11-08 09:30] bboreham opened #3161 "v2 plugin can get stuck with wrong peer list"
As [reported on Slack](https://weave-community.slack.com/archives/C2ND76PAA/p1510131850000468)

The node was rebooted, but the v2 plugin came up thinking it was a restart and did not re-fetch the list of peers.

[code]

[2017-11-08 09:33] bboreham commented on #3161
Once it's in this state it doesn't come out as discussed at #1692 and #2400

I think this log line relates:

[code]

[2017-11-08 11:41] bboreham opened #3162 "Uneven distribution of IP address ownership"
This is right after startup in a 3-node cluster:

[code]

I would expect 50/25/25; the 10.38.0.0 token is bang in the middle but the 10.40.0.0 one is a quarter of the way between the two points.

[2017-11-08 13:23] bricef opened #3163 "Add gcloud to Ansible playbook for dev vm"
## Expected
When the dev VM defined in `/Vagrantfile` is provisioned, I expect the `gcloud` utility to be available whenI log in.

## Instead
`gcloud` has to be installed manually.

## Possible avenue
There is already [a playbook](https://github.com/ansible/role-install-gcloud) for gcloud. Either copy the essentials or grab it wholesale.

[2017-11-08 13:40] brb commented on #3161
Does it get stuck as the issue title suggests? I expect that eventually (depending on mesh backoff timer) some other peer will connect to it.

[2017-11-08 13:51] brb commented on #3163
Just noting, that such VM is provisioned with the playbook `setup_weave-net_dev.yml` from https://github.com/weaveworks/build-tools

[2017-11-08 14:40] brb commented on #3155
Weave Net is running as a DaemonSet and it does not depend on `iptables.service`. Thus, the rules are not restored after the restart.

I'm wondering how the k8s rules got restored. Mind listing `/etc/iptables/iptables.rules`?

[2017-11-08 15:04] brb commented on #3124
Sorry for the delay. I was able to reproduce your issue. It seems that the weave-kube container exits with the err code 147 during initialization, and thus the required iptables rules for filtering weave traffic are not installed.

So, we should debug why weave-kube crashes on minikube (tested with k8s 1.8.0 and minikube 0.23.0).

[2017-11-09 07:36] bboreham commented on #3161
Per the Slack conversation, this never happened.
If the peer didn't exist when the other nodes fired up, how would they add it?

[2017-11-10 02:41] renewooller opened #3165 "Weave on one node within the cluster fails to connect to weave on other nodes."
Hi - great tool, thanks for developing it.

** Is this a BUG REPORT? **
yes

## What you expected to happen?
I expect weave running on each node to be able to connect to weave running on every other node.

## What happened?

I'm running k8s via kops with two instance groups (eg apps and services) and two namespaces (eg dev and stable).

The initial symptom is that some of the applications running

[2017-11-10 06:44] renewooller commented on #3165
Update killing the weave pods and the app pods doesn't solve the problem.

After terminating all of the instances of the two clusters in AWS, the newly created instances do not show the same problems.

[2017-11-10 09:56] rade opened #3166 "explain how to use weave IPAM with v2 plugin"
[Our v2 plugin docs](https://www.weave.works/docs/net/latest/install/plugin/plugin-v2/#configuring) stat that one can set

but this setting usually won't have any effect because by default the IP allocation is performed by Docker, not Weave Net.

This has led to user confusion since they were setting their parameter but then observing that the IPAM status reported by `weave status` shows `idle` ev

[2017-11-10 10:27] rade commented on #3166
Hmm...
[code]
So is it actually even possible to use weave's IPAM with the v2 plugin?

[2017-11-10 10:35] sreeharimohan commented on #3166
Valid point @rade . I've been trying network creation without the `--ipam-driver` setting

[2017-11-10 11:49] SharpEdgeMarshall commented on #3021
Same here, using kops after a rolling-update
[code]

[2017-11-10 16:17] bboreham commented on #3021
@renewooller @SharpEdgeMarshall I think the point you are raising is tracked at #2797, and we will shortly release a new version which should improve matters.

"attempting to connect" should not impact function in any way; would be nice to avoid it but not critical.

[2017-11-12 08:07] definitelyuncertain opened #3167 "cni config uninitialized on worker node added some time after Weave"
Note: I posted this issue [here](https://github.com/kubernetes/kubernetes/issues/55073), and I've moved the issue on their recommendation. Since I'm not sure where the issue lies , I'm posting here as well as in the Kubeadm repo.

## What happened?
I followed this [guide](https://github.com/Langhalsdino/Kubernetes-GPU-Guide) for setting up a Kubernetes cluster with `kubeadm` for both master and wo

[2017-11-13 08:18] brb opened #3168 "Support ipBlock for ingress rules of NetworkPolicy in weave-npc"
k8s 1.8 extended `NetworkPolicyPeer` object by introducing `ipBlock`: https://kubernetes.io/docs/api-reference/v1.8/#networkpolicypeer-v1-networking

As it is stated in the linked doc, _"IPBlock describes a particular CIDR (Ex. "192.168.1.1/24") that is allowed to the pods matched by a NetworkPolicySpec's podSelector."_

[2017-11-13 13:51] SharpEdgeMarshall commented on #3105
Just a clarification, actually are you saying that with weave 2.0.5 and k8s 1.7 or 1.8 if i need to isolate a pod i must isolate the entire namespace before?
So if i need to isolate the `kubernetes-dashboard` in the `kube-system` namespace from external pods i must `DefaultDeny` the entire namespace and then apply NetworkPolicy to enable each service in `kube-system` just to protect the dashboard?

[2017-11-13 13:55] bboreham commented on #3105
@SharpEdgeMarshall yes, that was how network policies worked in Kubernetes when the current implementation was written.

[2017-11-14 15:30] bboreham opened #3170 "Improve behaviour of kube peer deletion on upgrade"
The code added in #3149 will delete persisted data the first time a new pod runs after an upgrade.
We shouldn't do that.

Note #3149 will only reclaim IPs (rmpeer) nodes that _are_ in the annotation list, so that part should go ok after an upgrade.

[2017-11-14 15:31] #2797 closed

[2017-11-15 09:45] bboreham commented on #3162
As I commented on #3171:

We could have some modest background task where any peer can say at any time "I perceive that I have 1% of the address space and someone else has 90%; I will ask for some more" - that would help with "re-distribute" and also lessen the impact of a delay in reclaiming.

We also want to avoid gratuitously fragmenting the overall space. Although that may be ok as a consequen

[2017-11-15 10:14] ArchiFleKs commented on #3016
@bboreham

maybe we could provide the whole CNI package and plugins as packaged in https://github.com/containernetworking/cni/releases at least the will take care of this.

For this one I don't know which kubernetes version introduced HostPort mapping but it is not a very new feature i guess.

[2017-11-15 10:15] bboreham commented on #3170
Thinking of adding a flag to the persistence file which would allow us to detect data from a previous run.

(there is an existing 'version' field but if we change that users won't be able to downgrade after an upgrade)

[2017-11-15 10:34] bboreham commented on #3016
who is 'we' ?

...via CNI was 1.7; 30th June 2017

[2017-11-15 11:30] ArchiFleKs commented on #3016
I meant weave, the CNI plugin are symlink when running `weave setup` right ? maybe the portmap plugin could also be shipped / symlinked

Oh OK. Is it really an issue ? because even before portmap plugin support, I believe it failed silently if you tried to specified an `hostPort` into a manifest, it just had no effect.

[2017-11-15 11:44] bboreham commented on #3016
Yes, we could ship a copy of the portmap plugin.  Not completely sold on the idea, though, as it complicates our release process.

The support in kubelet I am referring to is for new CNI config file syntax; all CNI calls will fail if you supply a config that lists `plugins` and kubelet doesn't understand that.

[2017-11-15 17:59] #3170 closed

[2017-11-15 22:21] luxas commented on #3016
The portmap plugin will be available in most places in v1.9, as k8s v1.9 ships with CNI v0.6.0

[2017-11-16 10:05] bboreham commented on #2832
Fixed by no longer using the docker binary, in #3110

[2017-11-16 10:05] #2832 closed

[2017-11-17 13:30] bboreham opened #3175 "Release 2.1.0 doesn't install cleanly for 'weave launch'"
There are two problems:
* Not-using-docker-binary means we have to explicitly download `weaveworks/weaved`
* `IMAGE` is used before being set so `weave setup` doesn't download it.

[2017-11-17 14:14] #3175 closed

[2017-11-17 15:03] bboreham commented on #2797
Please note the code to remove deleted Kubernetes peers from a cluster was released today, in Weave Net version 2.1.1.

[2017-11-17 15:05] bboreham commented on #3021
Please note the code to remove deleted Kubernetes peers from the IP ownership list was released today, in Weave Net version 2.1.1.

[2017-11-17 15:10] bboreham commented on #3152
For the 2.1.0 release I watched carefully, and all seemed to go fine.
`make plugin_publish` is the first thing the release script does in the `publish` phase.

[2017-11-17 17:36] bboreham opened #3177 "New NetworkPolicy implementation fails if pod updates come out of order"
Code added in #3151 bypasses reference-counting on ipset membership.
Thus if we get the following sequence:

[code]

traffic is now blocked:

[code]

the ipset in question is this one:
[code]

I am unclear why it was thought necessary to bypass reference-counting, which was introduced for precisely this reason.

[2017-11-17 20:51] RRAlex commented on #2624
Since 1.8 release, it seems the K8s documentation has egress examples:

https://github.com/kubernetes/features/issues/366
https://kubernetes.io/docs/concepts/services-networking/network-policies/#the-networkpolicy-resource

... so I'm just posting this here, in case that's news to some, to indicate that K8s is eventually moving toward the egress support (which seems to be limited to design princip

[2017-11-17 21:05] bboreham commented on #2624
Thanks @RRAlex, the api definitions for egress policies were added as beta in Kubernetes 1.8; see https://github.com/kubernetes/features/issues/367

This remains on the todo list for Weave Net.

[2017-11-20 09:07] rade commented on #3166
Looking at [`plugin.run()`](https://github.com/weaveworks/weave/blob/v2.1.1/plugin/plugin.go#L61), we only enable ipam when we have a 'MeshSocket', The launch.sh script that launches the v2 plugin [sets that to empty](https://github.com/weaveworks/weave/blob/v2.1.1/prog/net-plugin/launch.sh#L51).

@bboreham says "MeshSocket is from when we ran a global and non-global driver at the same time. Swarm

[2017-11-20 10:00] discostur commented on #3167
Seeing exactly the same problem on Fedora Atomic Host 27

[2017-11-20 10:12] bboreham commented on #3167
This explains "No networks found in /etc/cni/net.d" - it's the weave-net pod which installs the software.

So you need to find out why it's not running - either it ran and errored, in which case there will be a log, it was scheduled and never ran, in which case kubelet will say why, or it was never scheduled, which can be a bit harder to figure out.

[2017-11-20 13:44] bboreham commented on #3007
I'm going to reopen this because we probably should have an option to stop weave-npc running at all.
Also the docs could be clearer.

[2017-11-21 00:48] sjtindell opened #3180 "Forbidden by K8s rbac creating clusterrole and role"
## What you expected to happen?
All k8s objects would be created.

## What happened?

serviceaccount "weave-net" configured
clusterrolebinding "weave-net" configured
rolebinding "weave-net-kube-peer" configured
daemonset "weave-net" configured
Error from server (Forbidden): clusterroles.rbac.authorization.k8s.io "weave-net" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["p

[2017-11-21 08:11] Bregor commented on #3180
Are you sure it's weave's problem?.. 🤔

[2017-11-21 18:29] mattgarkusha commented on #2624
We are very interested in this. Would love to see this done soon! 👍

[2017-11-21 20:03] bergtwvd commented on #21
Just a check from me if adding the ability to set the container MAC address is still considered. The inability to set the address still prevents me from using WeaveNet for those containers.

[2017-11-21 23:13] sjtindell commented on #3180
This was an issue with RBAC authorization setup.

[2017-11-21 23:13] #3180 closed

[2017-11-22 10:15] berlic opened #3182 "Releases v2.1.0 and v2.1.1 brake with WEAVE_DOCKER_ARGS defined"
## What you expected to happen?

Expect `weave launch` to start weave.

## What happened?

Weave does not start.

## How to reproduce it?

[code]

## Anything else we need to know?

The problem seems to be introduced with PR #3110 that implements #2957.

Although issue description clearly says:

the implementation lacks its support.

`weaveutil` [expects](https://github.com/weaveworks/weave/blob/v

[2017-11-22 10:52] bboreham commented on #3182
So this is an unannounced change to an undocumented feature.  Apologies for the inconvenience.

I don't think this is about the ordering of arguments - `weaveutil run` simply doesn't support what you tried, in any order.

If `--log-driver` support is something you particularly want you should file an issue requesting that, since we're never going to add all the `docker` flags in `weaveutil run`.

[2017-11-22 13:06] berlic opened #3184 "Go `panic` in weave container"
## What you expected to happen?

Weave container to run smoothly.

## What happened?

[code]

## How to reproduce it?
Don't know exact steps. Happens often when we start many (10-15) peers simultaneously.

## Anything else we need to know?
Seems that this panic situation was suppressed in https://github.com/weaveworks/mesh/pull/79 but weave `2.0.5` and `2.1.1` still refers to old version of mesh.

[2017-11-27 11:34] #3184 closed

[2017-11-27 11:35] bboreham opened #3187 "Fix suspect use of API in mesh library"
As @rade [noted](https://github.com/weaveworks/weave/pull/3186#issuecomment-346363893)

[2017-11-27 12:42] bboreham commented on #3177
Fixed in #3181

[2017-11-27 12:42] #3177 closed

[2017-11-27 12:51] bboreham commented on #3150
I just ran `docker plugin install weaveworks/net-plugin:latest_release` and I got version 2.1.0

So not as bad as it was, but still somehow one version behind the latest.

[2017-11-27 12:53] rade commented on #3150
so what went wrong during the v2.1.1 release?

[2017-11-27 15:49] dlmarion commented on #2863
I ran into this issue as well. After much reading, adding the following line to the systemd service file  in the Service section gave me a successful start up:
[code]

Question is: is this the right thing to do?

[2017-11-29 13:52] bboreham commented on #3162
Here's another example: newly-created kops cluster:

[code]

[2017-11-29 20:04] bboreham opened #3190 "kube-peers IP reclaim feature can over-claim"
I created a cluster, scaled to 10 nodes, down to 5, back to 10, and two nodes managed to reclaim the same space at the same time.

From one node:
[code]

From the other:
[code]

[2017-11-29 20:28] bamb00 commented on #3143
Hi,

Ran into the same issue.  I'm running 2.0.1 with Kubernetes v1.7.4.  Is there a workaround?

Nov 29 20:21:31 ... kubelet[27470]: weave-cni: unable to release IP address: Delete http://127.0.0.1:6784/ip/c757a1260a2c35074af8a43536e88b57aa4dc9f285d6600f0e19dc44260e4926: dial tcp 127.0.0.1:6784: getsockopt: connection refused

Thanks in Advance.

[2017-11-29 20:33] rade commented on #3143
Upgrade to a version that includes the fix. See the milestone assigned to this issue - 2.0.6 or higher.

[2017-11-29 20:34] bboreham commented on #3143
@bamb00 simplest thing to do would be to ignore it.

@rade 2.0.6 was skipped so 2.1.0 is the first that has it

[2017-11-29 20:41] bamb00 commented on #3143
@bboreham I assume the error was the cause of the weave-net pod CrashLoopBackOff.

kubelet log:
Nov 29 20:21:31 ... kubelet[27470]: weave-cni: unable to release IP address: Delete http://127.0.0.1:6784/ip/36d24d17934dd53b9050e34d681cca7911df1d2763ce337ffb16d28610d8b153: dial tcp 127.0.0.1:6784: getsockopt: connection refused
Nov 29 20:21:31 ... kubelet[27470]: weave-cni: unable to release IP addre

[2017-11-29 20:47] bboreham commented on #3143
@bamb00 no, the CNI plugin runs outside of all pods.  Please supply the log of the pod that is crashing.

[2017-11-29 20:49] bboreham commented on #3143
@bamb00 and please open a new issue rather than commenting on an old closed one.

[2017-11-29 21:13] bamb00 opened #3191 "weave-net pod crashing with CrashLoopBackOff"
## What you expected to happen?
The weave-net pod run into CrashLoopBackOff error but did not recover after the pod was reset.

## What happened?
 kubectl logs  weave-net-sb737 -p -c weave -n kube-system

2017/11/29 20:54:47 error contacting APIServer: Get https://10.96.0.1:443/api/v1/nodes: dial tcp 10.96.0.1:443: i/o timeout; trying with fallback: http://localhost:8080
2017/11/29 20:54:47 Could

[2017-11-29 21:28] bamb00 commented on #3143
Got it.  Open a new issue #3191

[2017-11-30 11:00] llarsson commented on #426
Please make it possible to set this `-connlimit` in a way that is compatible with how to configure the [Kubernetes Add-on](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/), because as it stands, that is needlessly hard to do.

[2017-11-30 16:42] hollowimage commented on #2970
this was fixed per https://github.com/weaveworks/weave/issues/2797

[2017-11-30 16:42] #2970 closed

[2017-12-02 00:49] messmerxx commented on #2881
i have similar problem on my windows server 2016 node. the weave-net pod can not be started successfully.

https://github.com/kubernetes/kubernetes/issues/56696

any idea?

thank you all very much

[2017-12-02 00:51] messmerxx commented on #976
any progress???

weave net can be run on windows server 2016? thanks for the reply!

[2017-12-02 00:52] messmerxx commented on #976
https://github.com/kubernetes/kubernetes/issues/56696
the problem i am facing

[2017-12-02 00:54] messmerxx commented on #3167
https://github.com/kubernetes/kubernetes/issues/56696

i am facing similar problem. weave-net pod can not be started on windows server 2016.

[2017-12-02 11:36] messmerxx opened #3193 "weave-net pod can not be created on windows server 2016 node"
** Is this a BUG REPORT? **

while creating a weave-net pod on windows server 2016 node in a kubernetes cluster, i got the following error message.

I1202 10:58:09.329692    7076 eviction_manager.go:325] eviction manager: no resources are starved
I1202 10:58:09.514693    7076 volume_manager.go:366] All volumes are attached and mounted for pod "weave-net-drbkl_kube-system(9700a989-d74f-11e7-a4cd-02

[2017-12-02 11:37] messmerxx opened #3194 "weave net for windows?"
i think somebody has raised the issue. but i did not get the clear answer yet.

Does weave net can be supported on windows server 2016??

thank you very much for your reply.

best regards,
Kejun Xu

[2017-12-02 14:57] bboreham commented on #976
Hi @messmerxx, thanks for the interest.

No change here: Weave Net is currently Linux-only.

[2017-12-02 15:01] bboreham commented on #3194
Weave Net is currently Linux-only.

Closing as duplicate of #976

[2017-12-02 15:01] #3194 closed

[2017-12-02 15:05] bboreham commented on #3193
Weave Net is currently Linux-only.

Looks like the main error you got was that Kubernetes on Windows does not understand the "host network" concept. Given that, if didn't even run the Weave Net software.

I guess you could ask for a better error from Kubernetes.

[2017-12-02 15:09] bboreham commented on #3167
Thanks for the update @definitelyuncertain.

[2017-12-02 15:09] #3167 closed

[2017-12-02 16:53] deitch commented on #3021
Somehow I missed this notification. So as of 2.1.1, if a peer is unreachable and no longer listed among kubernetes nodes, weave will remove it automatically and reap its addresses?

[2017-12-04 09:13] alok87 commented on #3133
Adding my finding. We are also facing the same issue and it mostly happens in the new scaled up node.

[2017-12-04 12:16] bboreham commented on #3021
@deitch yes; the reaping happens the next time a peer starts up.

Note there is a further fix pending release #3192

[2017-12-04 12:20] deitch commented on #3021
Ah, but not on some sort of schedule? I guess in a cloud environment, if one is going away, others are coming back with some regularity.

I see. ETA/targeted release?

[2017-12-04 13:08] #3193 closed

[2017-12-04 13:14] bboreham commented on #3191
@bamb00 this message shows that Kubernetes has not set up the virtual IP address for the api-server on that host, or if it has set it up it is not working.

Your `iptables-save` output (very useful in this case, thanks for providing it!) shows that `kube-proxy` did not set up a rule for 10.96.0.1; I would check the logs for `kube-proxy` next.

More detail at https://kubernetes.io/docs/tasks/debug-

[2017-12-04 14:19] fvigotti opened #3195 "qosclass for weave pods should be "Guaranteed""
all version, even the most recent "https://cloud.weave.works/k8s/v1.7/net"
will create pods with QoS: Burstable,
which is a NO-NO  because weave is the most important pod in the node , and this caused me some trouble when a node started eviction process ( kubelet now evict by default if some thresholds are reached ie : <10% disk free )  the kubelet removed weave pod and the whole node went down..

[2017-12-04 14:19] bboreham commented on #3190
Fixed by #3192

[2017-12-04 14:19] #3190 closed

[2017-12-04 14:55] bboreham commented on #3195
Please see the background at #2794; there are complications with changing the default for people with very small nodes.

they must be equal to run in "guaranteed" mode.

[2017-12-04 15:02] bboreham commented on #3021
v2.1.3 is released now.

[2017-12-04 15:31] deitch commented on #3021
Thanks @bboreham . We will use that. Closing this issue, then.

[2017-12-04 15:31] #3021 closed

[2017-12-04 15:45] bboreham commented on #3021
Note older peers will still attempt to connect to deleted nodes, because that part hasn't changed. When they (eventually) restart they will pick up an updated list of peers and stop trying to connect to the deleted ones.

[2017-12-04 15:47] deitch commented on #3021
When you say "older peers", you mean "peers running pre-2.1.3 versions of weave"?

[2017-12-04 16:16] bboreham commented on #3021
"older" meaning "started prior to the time a node was deleted".

The new release addresses the point made at https://github.com/weaveworks/weave/issues/3021#issuecomment-342042669 ; it does not address "attempting to connect" which was the original subject of this issue.

[2017-12-05 06:24] deitch commented on #3021
1. I start 3 nodes: A, B, C
2. I delete A, and auto-scaling starts D. New state: B, C, D.

Result: B and C will continue attempting to connect to A, while D will not.

3. I delete B, auto-scaling starts E.

Result: C will continue attempting to connect to A and B, while D and E will not.

Is that it?

And if so, the IP addresses nonetheless will be reaped, because D (and later E), running 2.1.3 wi

[2017-12-05 11:44] bboreham commented on #3021
@deitch yes, you have it.

[2017-12-05 11:45] deitch commented on #3021
Excellent, thanks. We should be upgrading our weave pods in the next few days... and rather looking forward.

[2017-12-11 13:02] kachkaev commented on #19
I'm using weave-net in a single-node k8s cluster and the server has both ipv4 and ipv6. When I launch a docker container on a port and thus bypass k8s, it is both accessible at `http://IPV4:PORT` and `http://IPV6:PORT`. However, when I try reaching a k8 service at `http://IPV6:ANOTHER_PORT`, this no longer works.

Am I right that access to k8s workload via node's external ipv6 addresses will only

[2017-12-11 13:42] bboreham commented on #19
@kachkaev Weave Net currently only assigns an ipv4 address inside the pod, and the NAT schemes used to expose services do not work cross-protocol.  I expect Docker is assigning an ipv6 address to the container and mapping that out.

Many parts of Kubernetes need updating to support ipv6.  Pure-ipv6 is nearly done (e.g. see [here](https://github.com/leblancd/kube-v6)), but dual-stack (ipv4 and ipv6

[2017-12-11 15:43] deitch commented on #3133
We just stumbled across this twice in less than a week. Unclear if it was before or after restart.

[2017-12-11 16:04] brb commented on #3133
@deitch do you have `dmesg` output of such node?

[2017-12-11 16:17] deitch commented on #3133
I can get it. Any particular `journalctl` output you want? It is pretty big, would be helpful if you gave me something to look for to narrow it down.

[2017-12-11 16:23] brb commented on #3133
For the beginning, it'd be good to see a message of weave bridge being brought down in `dmesg` and a few messages above/bellow it. Later on, we could check `journalctl` events with similar timings.

[2017-12-11 17:24] mmowatt commented on #3133
@brb I am working with @deitch on this.  Looks like after a system reboot the weave interface never was brought back up until I manually did it today.
[code]

Here is also the dmesg
[code]

[2017-12-11 17:30] deitch commented on #3133
Adding to it: when we _do_ bring the `weave` interface back up `ip li set weave up`, we cannot access any services in the cluster. Everything just hangs.

[2017-12-11 17:44] deitch commented on #3133
FWIW:

1. I *can* access the kube API servers - both via the `kubernetes` service IP/port and directly - from the underlying host
2. I *cannot* access the kube API servers - neither via the `kubernetes` service IP/port nor directly - from a container running on that host (it works from others where `weave` never went down).

On underlying host:

[code]

In a container:

[code]

What would be reall

[2017-12-11 17:56] deitch commented on #3133
Bingo.

The following iptables entries were **not** in the rebooted node. When added, everything came back to life. Provided by `iptables-save | grep WEAVE` on a good host and a bad one, and then `diff`ed.

[code]

[2017-12-12 17:12] brb commented on #3133
Thanks for the logs and the investigation!

The weave bridge should not survive reboots, and it should be created by weave-kube (when it starts).

Does `systemd-networkd` manage the weave bridge? Could you paste `networkctl status`?

In any case, we should perhaps monitor via netlink subscribe when the bridge goes down and do something more useful.

[2017-12-12 17:41] deitch commented on #3133
Quite welcome. I figure the better detail I get, the faster we both get it resolved.

So when the node starts, the `weave` pod should get scheduled because of it is a `DaemonSet`, which it does. And it looks like the `weave` bridge is back, but was set to `DOWN`. So:

1. Why did it not bring it back correctly?
2. Why were the `WEAVE-NPC` entries in `iptables`, but not the `WEAVE` entries? Would th

[2017-12-12 17:46] deitch commented on #3133
FWIW, here are the 1st ~100 lines of the `weave-kube` logs https://gist.github.com/deitch/0c665e0f7f04c2b2d4c8e0eb5706f295

[2017-12-13 16:04] brb commented on #3133
The current code skips the initialization steps (incl. setting the required iptables chains **and setting the bridge interface up**) if the bridge exists (see https://github.com/weaveworks/weave/blob/v2.1.3/net/bridge.go#L231) which is a bug. So, if the container `weave-kube` is restarted during the initialization of the bridge, subsequent `weave-kube` will end up running in an invalid state.

The

[2017-12-13 16:43] deitch commented on #3133
Already planned to upgrade in next few days. Been backed up with other requirements.

Aha. That explains, well, everything. :-)

And maybe have `weave` try and repair it?

Essentially, when the `weave` pod starts, there are several possible scenarios:

* new node: `weave` does everything correctly
* existing node, bridge exists: `weave` does not install `iptables` rules or ensure they exist, and d

[2017-12-13 18:23] mikebryant commented on #3075
We've just been hit by this, and gone through the whole investigation loop. This appears to work around the problem, at the cost of increased cpu usage: `ethtool -K weave tso off`

[2017-12-13 18:27] rade commented on #3075
@zenvdeluca any news on getting that kernel patch merged?

[2017-12-14 09:59] stuart-warren commented on #3075
Should be in kernel v4.14-rc8 (container linux >= 1590.0.0) https://github.com/torvalds/linux/commit/73b9fc49b4c0116a04eda3979f64ed9b540b153c

[2017-12-14 12:24] brb commented on #3133
Yep! That's what I meant by _"do missing steps"_.

Ideally - none, as the bridge interface should not survive system reboots. In your case, I suspect that `weave-kube` fails to start for the first time creating and leaving the bridge in invalid state. The assumption is based on timing from `dmesg`:

[code]

Both interfaces are created during the initialization, and there is a ~40sec gap in-between

[2017-12-14 15:27] deitch commented on #3133
We did last night. Ironically, it caused a minor problem, as the (now-properly-working) NPC blocked some services from working. We knew it wasn't working 100% with the defaults, but put it in place anyways so it would work when it did. But we misconfigured it. Oops. :-)

But we aren't in an ideal world. Can I put an `init` container or similar in place to ensure that everything starts up correctly

[2017-12-15 16:52] bboreham opened #3199 "--advertise-address should apply to mesh gossiping as well as peer discovery"
This flag was added for the Cloud-based peer discovery feature, but users may expect to use it independently.

Requires https://github.com/weaveworks/mesh/issues/83

[2017-12-15 17:08] tvergilio commented on #3199
It would be good to be able to set it for the Weave Net Docker plugin as well. Something like `docker plugin set weaveworks/net-plugin:latest_release ADVERTISE-ADDRESS=<ip1>,<ip2>`.

Thanks for opening this issue!

[2017-12-15 19:53] brb commented on #3133
I meant for the first time after a reboot.

Good. Have you experienced the problem with 2.1.3?

I'm hoping to have a PR ready next week.

I don't see any easy way. Before starting the weave pod, you'd need to call [destroy_bridge](https://github.com/weaveworks/weave/blob/v2.1.3/weave#L479), which is not exported, and afterwards to force k8s to CNI-ADD all existing containers on the host.

[2017-12-16 16:13] deitch commented on #3133
Ah, right. Got it.

Haven't had a reboot since we upgraded a few days ago. We can try it, but since we know the cause, and it isn't consistent, I am not sure the test will be scientific. :-)

Well, if it is that soon, we will live with the risk. Anything we do on our own infra is going to take enough time to validate, that we will be better off with 2.1.4 (or whichever).

I probably should do a PR

[2017-12-17 08:43] jcperezamin opened #3200 "Kubernetes 1.9 - DNS CrashLoopBackOff"
NAMESPACE     NAME                                          READY     STATUS        RESTARTS   AGE       IP             NODE
kube-system   etcd-master                                   1/1       Running       3          17h       192.168.1.10   master
kube-system   kube-apiserver-master                         1/1       Running       3          17h       192.168.1.10   master
kube-system   kube-co

[2017-12-18 10:10] pidster opened #3201 "Launch script fails on Docker version check in D4M+Kubernetes beta"
## What you expected to happen?

Weave Net to launch on Docker for Mac

## What happened?

Launch failed with the following error: `ERROR: Unable to parse docker version`

## How to reproduce it?

1. Install a Docker for Mac beta that contains Kubernetes
2. Type `weave launch`.

## Anything else we need to know?

[code]
$ weave version

[code]

$ docker version

[code]

$ uname -a

```Darwin tachy

[2017-12-18 11:32] SharpEdgeMarshall opened #3202 "Downgrade Discovery/Expiration logs to DEBUG level"
Discovery/Expiration logs should be moved to DEBUG level.

I've logs full of this messages useful just for debugging.

[code]

[2017-12-18 13:08] brb commented on #3133
Sure, https://github.com/weaveworks/weave/pull/3204

[2017-12-18 13:13] brb commented on #3200
I don't see any `weave-net` pod among listed ones. How did you start weave?

[2017-12-18 13:20] deitch commented on #3133
Thanks!

[2017-12-18 16:59] bboreham opened #3205 "Update docs for OSX"
Docker have made a lot of changes in Docker for Mac, and our documentation has not kept pace.

First mention a user might find is in https://www.weave.works/docs/net/latest/install/installing-weave/, where it talks about Docker Machine, which is a couple of generations old.

There is a link to https://www.weave.works/docs/tutorials/old-guides/docker-legacy/part-1/ which is old.

The best doc curre

[2017-12-19 17:10] bboreham opened #3206 "Protect against CNI plugin being called with the host namespace"
A user had 4 Kubernetes nodes break down with this symptom:

[code]

The `weave` and `eth0` routes are overlapping, so nothing works properly and Weave Net refuses to start.

It seems plausible that kubelet called the CNI plugin with a namespace that was actually the root namespace, so we assigned an address to `eth0` in the root.

We could check this and refuse to do it.

[2017-12-22 09:05] brb commented on #3202
Fixed by #3203

[2017-12-22 09:05] #3202 closed

[2017-12-27 02:16] paphillon opened #3207 "Weave defaults to sleeve mode when encryption is turned off"
## What you expected to happen?
Weave should continue to use fastdp when encryption is turned off

## What happened?
During some performance run's I noticed pods running on nodes that don't have ingress controller takes twice the amount of time, which indicated there is a network bottleneck. Turning off encryption helped a lot (https://github.com/weaveworks/weave/issues/3075). However, weave statu

[2017-12-27 07:44] alok87 commented on #3133
@deitch our issue gets fixed not by reboot every-time, but when we delete all the master and nodes. What should i do to fix this issue on my own. Not sure when the release is happening for this. And our production can get impacted cause of this. Currently the problem is in staging where there is huge up and down of nodes.

[2017-12-27 07:54] deitch commented on #3133
@alok87 I don't understand. Do you mean a new worker node comes up, yet it fails to join the existing weave network?

[2017-12-27 07:54] bboreham commented on #3207
Can you provide the log file of one of the `weave` containers please - it should contain clues as to why it chose sleeve.

[2017-12-27 08:21] deitch commented on #3133
@alok87

1. Is the weave `DaemonSet` configured correctly?
2. Does the `weave` pod get started on the node? If yes, what do the logs show (and `kubectl describe` for that pod)? If not, what events show up in the `kubelet` logs?

[2017-12-27 09:13] paphillon commented on #3207
@bboreham - I was finally able to get it on fastdp without encryption with a couple of restarts. It seems like a race condition where the container that started first after the change tries to connect to other weave containers that are not yet ready and fall back to sleeve. I noticed the same with encryption turned on too. I will make sure to capture the logs next time I make a switch. In the mean

[2017-12-28 12:45] alok87 commented on #3133
@deitch This is our weave DS - https://gist.github.com/alok87/07a2ea274a8962726cb7e875c5ad5887
It works in production as there is mostly scaling up and very few scale down.  But in staging there is huge scale up and down every day. 20 comes up and 20 goes down every day. And we observed the issue to happen in the node whose IP was used few days back

[2017-12-28 12:58] brb commented on #3133
@alok87 you are running 2.0.1. I suggest you to update to the latest 2.1.3 vsn which has fixed the issue for a few (#2998).

[2017-12-28 13:24] alok87 commented on #3133
@brb we are at `1.7.6` staging cluster. we upgraded weave today to `2.1.3` https://github.com/weaveworks/weave/releases/download/v2.1.3/weave-daemonset-k8s-1.7.yaml
But the weave started restarting continuously and we had to roll back to the same version of weave as our production

[2017-12-28 15:59] brb commented on #3133
@aloka87 I suggest you to open a separate issue, and please don't forget to include as much info as possible (e.g. the restarting weave pod logs).

[2018-01-02 17:34] mariusv opened #3209 "weave allows through all traffic to a virtual service IP when NetworkPolicy is set to deny all ingress"
## What you expected to happen?

Block all the traffic if the network policy is set to do so

## What happened?

Allows through all traffic to a virtual service IP

## How to reproduce it?

Create a new namespace and NetworkPolicy to deny all ingress:

[code]
Deploy two nginx pods and create a service for it: NodePort, LoadBalancer, ClusterIP. If you run curl on that service IP you would still be

[2018-01-02 18:00] mikebryant commented on #3206
We've had this happen too
[code]

[2018-01-03 14:22] bboreham commented on #3209
From trying to recreate the problem at #3210, I believe it is necessary to set `--cluster-cidr` on kube-proxy to make it go wrong.  This may explain why few people have noticed the problem.

Weave-NPC should still work when you set that parameter - kube-proxy complains if you don't set it - but kube-proxy only actually needs it for a very small niche case when using Weave Net.

[2018-01-04 09:20] xiangpengzhao opened #3211 "Make "ipalloc-range" configurable for container weaveworks/weave-kube"
## What you expected to happen?
`weave-net` pod running

## What happened?

1. kubeadm init
2. deploy weave
[code]

3. `weave-net` pod CrashLoopBackOff, the logs show:
`Network 10.32.0.0/12 overlaps with existing route 10.0.0.0/8 on host`

Doc https://github.com/weaveworks/weave/blob/master/site/tasks/ipam/configuring-weave.md says we can pass `ipalloc-range` to specify the range. But users can't

[2018-01-04 09:39] bboreham commented on #3211
Hi @xiangpengzhao , and thanks for your interest!

You should be able to change it as described at https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#configuration-options

Let us know if you need more help.

[2018-01-04 10:10] errordeveloper opened #3212 "TypeError in contentstack exporter"
[code]
Example build failure: https://app.netlify.com/sites/weaveworks-scope-docs-preview/deploys/5a44ea27a6188f3ff5a425ad

[2018-01-04 10:10] #3212 closed

[2018-01-04 10:58] xiangpengzhao commented on #3211
@bboreham thank you so much for the doc link. Everything works well now. I should have tried to find the doc :)

[2018-01-04 10:58] #3211 closed

[2018-01-05 02:54] shun-miyoshi-com opened #3213 "Cannot connect different node's pod when using NetworkPolicy in weave-net"
## What you expected to happen?
I would like to control the communication to block communication from outside into special namespace.
So, I created the following network policy.

Default: Deny
Allow from 'type: local' to 'allow: local'
Allow from '*' to 'allow: public'
*) see following definition yaml files for more detail.

## What happened?
I tested the connection, but it was failed.
The test pr

[2018-01-09 00:50] shun-miyoshi-com commented on #3213
Hi @bboreham ,

Thanks for comment.
I attach the logs in node01.

iptables-save
[code]

`weave-npc` container
[code]

[2018-01-10 12:53] brb commented on #3213
Seems that access-test-2 (10.38.03) IP addr gets SNAT'ed:
[code]

Did you pass `--masquerade-all=true` or `--cluster-cidr=<..>` to kube-proxy? See the caveats when passing the flags: https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#key-points

Also, as stated above, the DefaultDeny annotation is not needed. Though, it's non-harmful in your case.

[2018-01-10 22:34] sylphid8 commented on #3155
iptables.rules does not contain any nat rules to be restored.

[2018-01-11 04:25] shun-miyoshi-com commented on #3213
Hi @bboreham ,
Thank you for your useful comment.

I set cluster-cidr by using `kubeadm init --pod-network-cidr=10.244.0.0/16`.
So, I successlly access pod when I set IPALLOC_RANGE=10.244.0.0/16.

I comment outed DefaultDeny annotation in my yaml file.

I really appreciate your kind support!

[2018-01-11 04:25] #3213 closed

[2018-01-12 09:44] bboreham commented on #426
@llarsson it can be configured via an environment variable `CONN_LIMIT`, but I see this is not in the docs.

Since this variable existed before you posted your comment, perhaps I am missing your point.  It may be better to open a new issue and explain there.

[2018-01-12 09:50] llarsson commented on #426
Since I did not perform a deep dive into the code, but rather just assumed that the docs would mention how to modify such a crucial value, I honestly believed based on your edit in the first post in this thread ("We've since increased the default limit to 30.") that the only way to modify the level would be to recompile and push my own image.

What happens in an auto-scaling scenario, and my once-

[2018-01-12 09:58] bboreham commented on #426
Sorry this was missed from the docs.  We should really set the default a bit higher - it's set very cautiously because we were interested to hear from users what sorts of sizes and topologies they had, but 20 million "pulls" later that's not happening.

Yes, rolling update is fine - there will be a brief break in communications on each node as the routing and policy rules are recreated, but this s

[2018-01-12 13:29] pkaramol opened #3219 "deny-all policy not working"
## What you expected to happen?
Block all traffic to a service of a specific namespace (i.e. `staging`)

## What happened?
Traffic allowed from both`default` and  `staging` namespace

## How to reproduce it?
Create the following namespace

[code]

Spin up a `busybox` for testing purposes in the default namespace:

    kubectl run busybox --rm -ti --image=busybox /bin/sh  --namespace=default

...an

[2018-01-12 23:11] rambo45 commented on #2826
UPDATE:
Weavenet still does not install the required CNI plugins for kube-dns to start. The required plugins have been removed from https://github.com/containernetworking/cni/releases. Instead you have to download the plugins repo https://github.com/containernetworking/plugins and run the 'build.sh' script. This will build all the plugins under 'bin' folder after which you can copy all those plugi

[2018-01-13 15:35] tvergilio commented on #3199
Hi, just checking if there have been any updates on this. Thank you!

[2018-01-14 10:51] brb commented on #3219
@pkaramol Can you please include logs of weave-npc (`kubectl logs -n kube-system <weave-net-pod> weave-npc`) and `iptables-save` output?

Also, keep in mind, that Weave Net 2.0.5 implements only legacy NetworkPolicy (`extensions/v1beta1.NetworkPolicy`), while since Weave Net 2.1.1 we support new NetworkPolicy (`networkingv1.NetworkPolicy`). So, in your case the `default-deny-all` netpol won't work

[2018-01-14 11:45] #3209 closed

[2018-01-14 20:01] xeor commented on #2624
Any status on this? No support for egress policies is a blocker for us :/

[2018-01-15 09:12] pkaramol commented on #3219
@brb
Unfortunately I have brought my cluster down.
Nonetheless, as stated in my opening post I am quite sure I did not any specific output when fetching the wave pod logs, other than these two messages

[2018-01-15 15:50] inetfuture opened #3220 "Some nodes having significant delays when connecting to other nodes"
## What you expected to happen?

No significant delays when connecting to other nodes.

## What happened?

We have a bare-metal k8s cluster with 14 nodes, half of the nodes run business pods, the other half of them are for databases, and they only run daemonsets for monitoring purpose.

This cluster has been running fine for several months, but recently, we encountered some weird network issues, l

[2018-01-15 19:57] brb commented on #3219
These are the logs of the **weave** Pod, but not the **weave-npc** Pod which implements Network Policy.

[2018-01-16 05:01] giminni opened #3221 "V2 plugin fails to connect with 'no such file or directory' under Ubuntu Core 16 and docker 17.09"
## What you expected to happen?
[code]

## What happened?
[code]

## How to reproduce it?
[code]

## Anything else we need to know?
Running Ubuntu Core 16 on RaspberryPi
[code]

## Versions:
$ weave version
[code]

$ docker version
[code]

$ uname -a
[code]

## Logs:
$ docker logs weave
n.a.

[code]

[2018-01-16 06:21] inetfuture commented on #3220
After I run `weave reset` on only one of the abnormal nodes, the delays disappeared, on both abnormal nodes!

`blocked by Weave NPC` logs also disappeared, almost, still seeing dozens of them pop up every few quarters, but a lot less, here is the comparison:

![screen shot 2018-01-16 at 14 14 16](https://user-images.githubusercontent.com/1363189/34974393-a7ff15ba-fac7-11e7-836b-37a9857119e2.png)

[2018-01-16 15:53] inetfuture commented on #3220
I can see that the `blocked by Weave NPC` log is printed when `gatherMetrics()` seeing an initial SYN packet being captured by ulogd, but I don't get how the uglod is filtering packets.

https://github.com/weaveworks/weave/blob/1.9/npc/metrics/metrics.go#L48

[2018-01-16 15:57] bboreham commented on #3220
I'll try to give a brief overview to help out:

At the highest level, the filtering is done in pursuit of Kubernetes NetworkPolicy.
When the bridge is created, the code injects iptables rules into the FORWARD chain which will redirect to another WEAVE-NPC, then drop the packet and generate a message for `ulogd` if it is not accepted.

If you have no network policies, there should be rules in the W

[2018-01-16 16:17] giminni commented on #3221
Can 'exec user process caused "exec format error"' mean the plugin does not run on armhf?

[2018-01-16 16:29] inetfuture commented on #3220
@bboreham Thanks for the help, your explanation does make things a lot easier to understand.

As I described above, I have run `weave reset`, so the bad rules most likely have been wiped out, I really should have protect the scene..., here are the latest rules anyway:

![screen shot 2018-01-17 at 00 18 32](https://user-images.githubusercontent.com/1363189/34999180-0b481dca-fb1c-11e7-82bf-d72c98cf4

[2018-01-16 16:33] inetfuture commented on #3220
Maybe some ip-ipset belonging relationships were wrong, and they got cleared after `weave reset`?

[2018-01-16 16:49] inetfuture commented on #3220
One important fact to consider is that, the tcp connection handshaking delays are not constant, sometimes they're low, sometimes they're high, it's like the SYN packets were being blocked randomly?

And once the connection was established, no delays anymore(if I remember correctly, I'm having fuzzy memory about this part...)

[2018-01-17 10:54] raniatriki opened #3222 "DENY all traffic from other namespaces"
**What you expected to happen?**

deny all the traffic from other namespaces while allowing all the traffic coming from the same namespace

**What happened?**

Traffic allowed from all namespaces

**How to reproduce it?**

Create a new namespace called ns-1 and start a web service:

[code]

Save the following manifest to web-deny-other-namespaces.yaml and apply to the cluster:

[code]

[code]

Que

[2018-01-17 11:05] brb commented on #3222
@raniatriki Can you please provide the following info:

- Kubernetes version
- Weave version
- `iptables-save` output
- `kubectl logs $WEAVE-POD -n kube-system weave-npc` output, where `WEAVE-POD` is any pod name from `kubectl get pods -n kube-system -l name=weave-net`

[2018-01-17 12:17] raniatriki commented on #3222
**- Kubernetes version**

[code]

**- Weave version**
[code]

**- iptables-save output**

[code]

[2018-01-17 12:25] brb commented on #3222
Thanks. But I'm still missing the weave-npc logs.

[2018-01-17 12:27] raniatriki commented on #3222
DEBU: 2018/01/17 12:14:52.359757 EVENT UpdatePod {"metadata":{"name":"test-12062-59dfb77876-rf7lr","generateName":"test-12062-59dfb77876-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/test-12062-59dfb77876-rf7lr","uid":"000c92df-fb80-11e7-882d-fa163eea23ff","resourceVersion":"672527","creationTimestamp":"2018-01-17T12:14:43Z","deletionTimestamp":"2018-01-17T12:15:13Z","deletio

[2018-01-17 12:30] raniatriki commented on #3222
[code]

[2018-01-17 12:37] brb commented on #3222
That's strange. The `iptables-save` output does not correspond to the weave-npc logs (missing rules). Have you run `iptables-save` from the same host?

[2018-01-17 12:39] raniatriki commented on #3222
[code]

[2018-01-17 12:40] raniatriki commented on #3222
i have runned other policies betwenn the two commands maybe that's why

[2018-01-17 13:15] brb commented on #3220
This is very weird: `TCP connection from 10.42.0.11:10108 to 192.168.161.55:6379 blocked by Weave NPC.`. Weave NPC should filter only pod-to-pod communication, and `192.168.161.55` is the node IP.

OTOH, you're running quite an old version of Weave, and there were many changes to Weave NPC since then. Technically, https://github.com/weaveworks/weave/pull/2979 could have fixed your problem, but you

[2018-01-17 13:19] raniatriki commented on #3222
it's ok for logs ? @brb

[2018-01-17 14:12] brb commented on #3222
@raniatriki Yep, thanks. Investigating.

[2018-01-17 15:38] inetfuture commented on #3220
@brb We will, just not in a short time, like 2 or 3 months later.

So I'm hopping we can understand the root cause and do some precautions, we currently run 7 independent clusters, this problem makes me worry(although we only run into this once in serval months).

Anyway, if even you guys have on clue on this behavior, maybe we'll just move on.

[2018-01-19 06:05] kitt1987 commented on #3168
Any progress on this feature?

[2018-01-19 09:41] mrdima commented on #2924
Currently we're going to solve this with 2 things for our nginx-ingress nodePort service:
1) a bash script/systemd unit which inserts iptables rule(s) to prevent SNAT for the node's local weave IP ranges (run on each Kubernetes node). See https://gist.github.com/mrdima/e0098308f2351e90132c7cf0e4fa460c
2) Set service.spec.externalTrafficPolicy to the value Local for the ingress service as stated in

[2018-01-19 10:12] bboreham commented on #2924
Thanks for the tips @mrdima!

Since your shell script is a bit dense, could you summarise what it does?  Or maybe give a before/after example to give the idea?

[2018-01-19 14:39] awh opened #3223 "Update miekg/dns for CVE-2017-15133"
https://github.com/miekg/dns/issues/627

[2018-01-20 11:02] brb commented on #3168
Sorry, no progress yet. PRs are very welcome!

[2018-01-22 09:16] mcortinas commented on #2877
We also can see these error messages, any plan in order to silence this?

[2018-01-22 12:51] dogopupper commented on #3157
Also got this problem, in 1.7.6 and weave 2.0.5 .

@bigwhite could you share your kubelet config?

[2018-01-23 04:20] ryan-dyer-sp commented on #3016
Am running Kube 1.9.1 with weave 2.0.5.  Is there a way to use kubectl apply to do this?  From seeing others instructions, is appears this is done from a node.  Does it need to just be a single node? all nodes?

[2018-01-23 08:29] ArchiFleKs commented on #3016
@ryan-dyer-sp on every node

[2018-01-23 11:55] bboreham commented on #3016
@ryan-dyer-sp and there's no real way with `kubectl apply` - it's config at a level below `kubelet` so something needs to go onto the node and install it.

[2018-01-23 13:39] ceeaspb commented on #3124
@brb was there any progress on this? thanks

[2018-01-25 19:18] brb commented on #3124
Sorry, but no progress. My bet is that a kernel of minikube does not have a proper configuration.

[2018-01-26 10:57] Sk3pper opened #3225 "Weavenet vxlan packet with Wireshark"
Good morning, I’m using containers technology, since for my project I need a multicast feature and docker overlay does’t give me this possibility I installed weave network following these instruction (https://github.com/weaveworks/weave/blob/master/site/install/plugin/plugin-v2.md).

In my lab-test network I have three nodes:
	- swarm-manager= boot2Docker image (192.168.99.104)
	- swarm-worker-0=

[2018-01-26 12:19] errordeveloper commented on #3225
Following up the discussion on the [mailing list](https://groups.google.com/a/weave.works/d/msg/weave-users/dmKu0BMHBWw/RQyHLq_KBAAJ), I think we can close this.

[2018-01-26 12:19] #3225 closed

[2018-01-26 13:22] rade opened #3226 "`--token` missing from `weave help`"
There is no mention of the `--token ...` argument to `weave launch` in the output of `weave help`.

[2018-01-28 18:49] alok87 commented on #2797
@bboreham @natewarr we are also running the older version of weave and facing this issue in prod cluster. I ran the script to clear the ip space. But now the active ones are present in a single node. How to avoid this.
[code]

[2018-01-28 18:57] natewarr commented on #2797
@alok87 thats as far as the workaround they wrote up will get you. the other nodes can request this node share with them as needed, so its not technically an error condition. If you lose that node without reclaiming them somehow, you are back in the error condition. I imagine the weave guys will just tell you to update past 2.1.1.

[2018-01-28 19:58] itskingori commented on #2797
@alok87 try spread out the clearing to different instances of weave (the script just clears all from one weave ... and the weave that runs the clearing claims the cleared IPs). Fundamental command is mentioned in https://github.com/weaveworks/weave/issues/2797#issuecomment-342224646.

[2018-01-29 12:22] brb commented on #2877
@mcortinas I'm going to prioritize this issue after the 2.2 release.

[2018-01-29 13:50] leth opened #3228 "Weave launch hangs in minikube VM"
## What happened?
Weave launch hangs at startup

## How to reproduce it?
Enter minikube VM (minikube ssh)
download + chmod weave
weave launch

## Anything else we need to know?
Minikube version v0.23.6

## Versions:
[code]

## Logs:
[code]

[2018-01-29 13:54] brb commented on #3228
Closing as it duplicates https://github.com/weaveworks/weave/issues/3124.

[2018-01-29 13:54] #3228 closed

[2018-01-29 14:09] brb commented on #3228
In #3124 it hanged (not mentioned), and after a while it exited with 147. In both cases, the bridge creation is a suspect.

[2018-01-29 15:49] #3223 closed

[2018-01-29 16:03] brb opened #3230 "Fix race between weave-kube and kube-proxy which can allow all traffic through Service VIP"
kube-proxy pre-appends the iptables rule "-j KUBE-FORWARD" which ACCEPTs all traffic and prevents it entering the "WEAVE-NPC" chain.

In #3210 we introduced a fix which pre-appends "-j WEAVE-NPC" after kube-proxy has inserted "-j KUBE-FORWARD". The fix relies on a premise that weave-kube is started after kube-proxy which follows from a fact that weave-kube depends on api-server (to get a peer list

[2018-01-30 12:01] bboreham opened #3232 "Improve docs for IP range clash"
We have a page https://www.weave.works/docs/net/latest/tasks/ipam/configuring-weave/ which talks about clashes and picking a different range, but
* it only gives the `weave launch` answer, so needs extending to v2 plugin and weave-kube.
* the error message should be on the troubleshooting page and link to this page.

V2 plugin config is on https://www.weave.works/docs/net/latest/install/plugin/plu

[2018-01-30 17:49] bboreham commented on #374
For really large clusters it would be interesting to have a not-fully-connected control plane (say a hypercube) but form data-plane tunnels between arbitrary peers when they actually talk to each other.

[2018-01-31 07:06] kitt1987 commented on #3168
Could you please help me review this PR?

[2018-02-01 09:37] KresoDenis commented on #2924
Im surprised that this isnt bigger issue since we cant know users IP visiting our API via LoadBalancer.

During our development, we found WeaveNet to be our favourite because of encryption and its stable but this is showstopper for us. We could use HostPort and manual LB setup but its not the right way.

Looking forward to solution for this. This would make it 10 out of 10 perfect solution for us.

[2018-02-01 11:58] brb commented on #3200
Closing due to inactivity.

[2018-02-01 11:58] #3200 closed

[2018-02-01 12:00] brb commented on #3191
Closing due to inactivity.

[2018-02-01 12:00] #3191 closed

[2018-02-01 12:02] brb commented on #3230
Monitoring and maintaining iptables rules would also solve such issues as https://github.com/weaveworks/weave/issues/3155.

[2018-02-01 12:09] brb commented on #3106
The "machine reboot required" part got fixed by https://github.com/weaveworks/weave/pull/3204.

[2018-02-01 12:12] brb commented on #3077
Closing due to inactivity.

[2018-02-01 12:13] brb commented on #3146
Closing due to inactivity.

[2018-02-01 12:13] #3146 closed

[2018-02-01 12:14] #3077 closed

[2018-02-01 12:36] #3079 closed

[2018-02-01 12:41] brb commented on #2596
Having seen the failure for quite a while.

[2018-02-01 12:41] #2596 closed

[2018-02-01 12:41] brb commented on #2518
Having seen the failure for quite a while.

[2018-02-01 12:41] #2518 closed

[2018-02-01 12:45] brb commented on #3125
Closing due to inactivity.

[2018-02-01 12:45] #3125 closed

[2018-02-01 13:02] brb commented on #3219
I couldn't reproduce it. Please re-open if the issue persists.

[2018-02-01 13:02] #3219 closed

[2018-02-01 13:39] brb commented on #3222
I was able to reproduce the issue. For some reasons, after the netpol has been created, the 10.46.0.3 PodIP of ns-1/web is not removed from ns-1/Default-Allow ipset(weave-z4cN+%s?50k!Z)QvX;[=C%d$M).

[2018-02-01 20:10] KresoDenis commented on #2924
P.S. mrdimas script works. i just had to modify regexes to
[code]
to make it more universal, since iptables in my shell returns a lot of whitespaces like this
`RETURN     all  -- !10.32.0.0/12         10.32.0.0/18`

Only thing i will have to test later is to see if this only does implement for services with "LOCAL" or for all services.

[2018-02-02 21:37] KresoDenis commented on #2924
By the way i think in script where you calculate cidr from size 32768 could be incorrect. Currently its
cidrs="$cidrs $(log2 $size)"

shouldnt it be like
32-log2 size

[2018-02-05 15:37] cynepco3hahue opened #3239 "Kube-dns crashed when weave plugin used"
## What you expected to happen?
Expect that kube-dsn is up after deployment of weave plugin.

## What happened?
[code]

## How to reproduce it?
Deploy k8s via `kubeadm`
`# kubeadm init --pod-network-cidr=10.244.0.0/16 --token abcdef.1234567890123456`
`# export KUBECONFIG=/etc/kubernetes/admin.conf`
`# kubever=$(kubectl version | base64 | tr -d '\n')`
`# kubectl apply -f "https://cloud.weave.works/

[2018-02-05 16:03] bboreham commented on #3239
Does anything work?  Can you reach the outside world, or ping one pod from another by its pod IP address?

I'll note you have a lot of these warnings, going on for ~30 minutes:

[code]

[2018-02-05 17:18] cynepco3hahue commented on #3239
@bboreham Thanks for the fast answer

I created two test pods
[code]
- ping from pod to another pod IP - PASS
- ping from node to pod IP - FAILED
[code]
- ping from pod to internal node IP - FAILED
[code]

Give me know if you will need additional information.

[2018-02-06 15:13] mrdima commented on #2924
Yes, you're totally right, I need to fix that, I'll update the gist and also the regexes after retesting (when I have a moment, hopefully tomorrow). Yet I now see something interesting in weave report on an environment, sizes like: 98304 and 196608. These do not fit into a normal netmask...that's annoying.

[2018-02-06 17:20] brb commented on #3239
@cynepco3hahue You have specified `--pod-network-cidr=10.244.0.0/16` which is different from the default of Weave - 10.32.0.0/12.

Mind trying to bootstrap the cluster with kudeadm without passing `--pod-network-cidr`?

[2018-02-07 07:58] cynepco3hahue commented on #3239
@brb I tried to run
- `kubeadm init --pod-network-cidr=10.32.0.0/12 --token abcdef.1234567890123456`
- `kubeadm init --token abcdef.1234567890123456`
But I have the same result.

[2018-02-07 10:19] brb commented on #3239
@cynepco3hahue Thanks for the experiments.

Is it possible to get a ssh access to your machine? I'm `martynas` at the Weave community Slack.

If not, I'm interested in the following:

0. Do you have the `br_netfilter` module compiled in? Is it enabled (`cat /proc/sys/net/bridge/bridge-nf-call-iptables`)?
1. In your previous experiments, is `fe:57:00:5f:b9:aa` a MAC addr of eth0 belonging to kubedn

[2018-02-07 10:37] dhet opened #3240 "No connectivity when peers are in non-interactive mode"
**Intent:**
I want to use weave to connect distributed containers that communicate via "DDS". DDS is a PubSub middleware that uses multicast to distribute messages.

**Problem:**
Lets assume we have a publisher container and a subscriber container. When the containers are started they find each other via multicast service discovery and then the publisher starts publishing sample messages.

This wo

[2018-02-07 11:59] brb commented on #3240
Have you verified that weave peers are actually connected to each other? `weave status connections` should tell you that.

[2018-02-07 12:28] dhet commented on #3240
@brb The peers are connected.

Also, I tried it with different hosts and it worked flawlessly with them (they were Raspberry Pis). So it's a host specific problem to my workstation, which runs Ubuntu 16.

Even though the stuff works with other hosts, I would still like to know why it doesn't work for that specific host. Any tips on how to troubleshoot this? UFW is disabled.

**Environment:**
`dock

[2018-02-07 16:05] cynepco3hahue commented on #3239
@brb It is locally running `vagrant` machine, so I can not provide access to it, but will try to give much info as I can :smile:
0. `br_netfilter`
[code]

1. I run each time new Vagrant machine so it hard to say for me, will provide new logs and `ip addr` info
[code]
[weave_0.log](https://github.com/weaveworks/weave/files/1703632/weave_0.log)
[weave-npc_0.log](https://github.com/weaveworks/weave/f

[2018-02-07 16:38] cynepco3hahue commented on #3239
TCP dumps
1. ping from node to pod
[ping_node_to_pod.tar.gz](https://github.com/weaveworks/weave/files/1703930/ping_node_to_pod.tar.gz)
2. ping pod to node
[ping_pod_to_node.tar.gz](https://github.com/weaveworks/weave/files/1703933/ping_pod_to_node.tar.gz)

I do not sure why, but when I used `tcpdump` ping started work fine and when I stopped `tcpdump` ping failed again.

[2018-02-08 08:25] itskingori commented on #426
@bboreham About this issue ...

We had a cluster scale up to 33 nodes yesterday. 2 nodes could not connect to the rest of the cluster. We fixed it by setting the `CONN_LIMIT` to 100. We're not 💯% sure of the implications of this.

Should we worry about this? 😅

[2018-02-08 08:54] bboreham commented on #426
No, don't worry, that comment was nearly three years ago, and the bug was fixed.

Default limit will be raised to 100 by #3234.

[2018-02-08 08:59] bboreham commented on #2020
Reference #426

[2018-02-08 09:32] brb opened #3241 "Diagnostics tool for verifying Weave Net deployments"
A tool which verifies basic functionalities of a Weave network could ensure users that everything works as intended, and it could be a starting point for debugging when something does not.

The tool would perform health checks, e.g.:

- Nodes can reach each other via control and data planes, heartbeats are not failing.
- Containers can reach each other via L7 by e.g. running a Chinese whisper.
- S

[2018-02-08 09:37] itskingori commented on #426
@bboreham Perfect! Thanks. 🙌

[2018-02-08 11:48] brb commented on #3239
This suggests that ICMP traffic is enabled after the iface entered the promiscuous mode (due to tcpdump).

Could you verify whether some HTTP traffic is enabled as well by creating a nginx Pod and trying to curl it?

If it fails, then it is a good indicator that you might be suffering from leaking netns (#2842) and could explain why the promisc mode enabled the traffic.

[2018-02-08 12:06] brb commented on #3240
The full `weave` log or all steps how you start weave would be helpful to see whether you might have passed the `-no-multicast-route` flag which disables multicast.

Also, please check that each container has the `244.0.0.0/4` route by `docker exec $CONTAINER ip route`.

Next thing, how do you verify the log output when starting containers in non-interactive mode? `docker logs`?

To test multicast

[2018-02-09 01:17] justinsb commented on #1621
Sorry to bump an old issue, but this is the number of control plane connections, and it doesn't impact the ability of nodes to communicate with each other directly?

More concretely: we can still have a cluster of (say) 1000 nodes with CONN_LIMIT=30, and each node will only gossip directly with 30 others, but the 1000 nodes will each connect to each other directly for application traffic.  Is that

[2018-02-09 06:05] miljank opened #3242 "IGMP Support in a Network with Full Multicast Support"
## What you expected to happen?
Having Kubernetes hosts attached to a physical network infrastructure with full support for IGMP and multicast, IGMP join messages from a container should be propagated to network switches and container should start receiving multicast traffic.

## What happened?
IGMP messages are broadcasted to other Weave Net nodes via datapath virtual network interface.

## How t

[2018-02-09 09:39] bboreham commented on #3242
I wonder if, in the scenario where all hosts have multicast support, we can just forward all Ethernet multicast addressss out to the host. Because we don’t want to carry multicast packets on the Weave network at all.

The inward path might take more thought, though simply replicating all multicast packets from the host onto the Weave bridge should work.

The case where a container sends a multicas

[2018-02-09 13:36] bboreham commented on #1621
Hi @justinsb right now the control plane and data plane must match, so it does impact the ability to communicate directly.  However we do multi-hop routing so the packets would still get there through an indirect connection, just a bit slower.  Issue #374 is about allowing them to be different.

With a full mesh (i.e. 1000 nodes each with 1000 connections) gossip will go to 10 random nodes each ti

[2018-02-10 18:50] integrii commented on #3157
We're hitting this problem as well.  When you look at the kubelet logs, we get entries like this:

[code]

It is worth noting that this is only happening on two nodes in our cluster, but it does occur every time a pod on either of those nodes needs to terminate.

[2018-02-10 19:44] dhet commented on #3240
Multicast is definitely enabled. I know because running the example in interactive mode works.

I also checked `ip route` and the route was present in all containers.

The logs are printed to stdout in any case and also, the containers shut down when all messages were transmitted. So you would definitely know when messages are transmitted.

Yes, the example works.

---

I think I need to restate t

[2018-02-11 13:57] cynepco3hahue commented on #3239
I create simple `nginx` with the command
`kubectl run my-nginx --image=nginx --replicas=1 --port=80`
[code]
[root@master ~]# curl http://10.32.0.2:80
curl: (7) Failed connect to 10.32.0.2:80; No route to host
[root@master ~]# curl http://10.32.0.2
curl: (7) Failed connect to 10.32.0.2:80; No route to host

[2018-02-12 10:47] brb commented on #3239
Thanks. Is it the same when tcpdump is running?

[2018-02-12 11:10] brb commented on #3157
@integrii I'm not sure whether the problem is because of Weave, as the container network namespace is not found before Weave's CNI-DEL gets called.

Could you track down a lifecycle of the `5d43787f2f0b524d8625b559994773fe46cfe4d4c72f1fdec6012cbf05eaf55f` container in kubelet, weave-kube and weave-npc logs?

[2018-02-12 11:52] brb commented on #3240
Thanks for the logs.

Is `/opt/workspace` in `$PATH` of your image? If not, then you need to change the entry point from `ENTRYPOINT [ "subscriber", "-DCPSConfigFile", "rtps.ini" ]` to `ENTRYPOINT [ "./subscriber", "-DCPSConfigFile", "rtps.ini" ]` in your Dockerfile (for the publisher as well).

If it does not help, could you check whether adding a short sleep before running the publisher helps?

[2018-02-13 09:54] zetaab commented on #2624
or could we start from point: is this currently possible implement to weave, if yes how(like theory behind the solution)? Because at least I could implement something but I do not have any idea where to start because I have not implemented anything to weave.

[2018-02-13 10:42] johscheuer commented on #2826
@rambo45 actually you can also download the prebuilt binaries: https://github.com/containernetworking/plugins/releases for the plugin

[2018-02-13 10:45] dhet commented on #3240
Thanks, adding a sleep before running the programs did the trick 👍

Btw, I found out that the problem isn't limited to one host as I previously assumed, but happens with every host I tried it with (all Debian based though).

I'm leaving this issue open because I think this is a problem that you guys have to address, either by fixing something in weave or by adding a disclaimer in the docs.

If thi

[2018-02-13 12:15] hazim1093 opened #3243 "Weave-net always renders one node unhealthy in the cluster"
## What you expected to happen?
Using weavenet in a Kubernetes cluster, created via Kops, with 3 masters and 3 nodes.
I was expecting all nodes to be healthy with no network issues.

## What happened?
* **Scenario 1**: 1 node in the cluster randomly can't reach the internet.
* **Scenario 2**: 1 Node in the cluster becomes completely unhealthy, and unreachable. (Not even able to ssh into the node a

[2018-02-13 12:37] leth commented on #3243
Could you perhaps try to get the weave logs from the unreachable node via the AWS console?

[2018-02-13 12:57] leth commented on #3243
- When you say "1 node in the cluster randomly can't reach the internet." does that mean from the host, from a pod, or both?
- Is there anything interesting in `journalctl -r` on the unreachable node?
- Do those nodes run any other software which might change iptables rules?

To debug this further, perhaps run some `tcpdump` from/to the unreachable node, from another host, from another pod, to the

[2018-02-13 13:15] rasheedamir commented on #3243
@leth great thanks for quick help

So, we saw that ASG killed the bad node and brought up a new node; and that new node was healthy; we killed all 3 nodes again and then one became unhealthy and here are the logs from AWS

Actions -> Instance Settings -> Get System Log

https://gist.github.com/rasheedamir/394fd3bfc4771c7f106571876912f6e5

Please let me know if we can grab other logs from somewhere

[2018-02-13 13:39] hazim1093 commented on #3243
@leth
We're not able to reproduce that scenario where just the node can't reach internet, but we can ssh into the node. We weren't able to reach internet from Pods for sure. I'm confused about connectivity on the host itself, can't remember.

But in the other scenario, we can't even ssh into the node to check `journalctl` or `tcpdump`.

We aren't running any other software which could change ip ta

[2018-02-13 14:12] rasheedamir commented on #3243
So, we tried again and this is the behavior

Nodes become healthy and just after shortwhile one of them becomes unhealthy; and ssh doesn't work for it; plz look this screenshot

<img width="671" alt="screen shot 2018-02-13 at 15 10 59" src="https://user-images.githubusercontent.com/3967672/36153979-47e6e27e-10d0-11e8-8cbc-d25c520b9ba9.png">

[2018-02-13 14:23] rasheedamir commented on #3243
So, after shortwhile it became healthy again

<img width="674" alt="screen shot 2018-02-13 at 15 22 54" src="https://user-images.githubusercontent.com/3967672/36154451-cc0274b4-10d1-11e8-84dc-e97acd9b56bd.png">

Here are the logs from AWS console

https://gist.github.com/rasheedamir/5f6b552057270d3745ca0c5e55a35cbf

[2018-02-13 14:27] rasheedamir commented on #3243
@leth here is bit of `journalctl -r` output from `unhealthy node` which became `healthy`

[code]

[2018-02-13 14:29] leth commented on #3243
It looks like that log is truncated at a certain width, could you re-post it? thanks

[2018-02-13 14:36] rasheedamir commented on #3243
Ah sorry @leth here is the full file; I hope it doesn't have any secrets :)

[log.txt](https://github.com/weaveworks/weave/files/1720237/log.txt)

[2018-02-13 16:00] rade commented on #3243
What instance type are you using? The above are hallmarks of throttling.

[2018-02-13 17:11] rasheedamir commented on #3243
@rade we have:

`t2.xlarge` for nodes & `t2.medium` for master

[2018-02-13 17:12] rade commented on #3243
ok. not throttling then.

[2018-02-13 17:25] rasheedamir commented on #3243
@leth between this time slot; node wasn't healthy

Also if you see there is a slot of 10 minutes where nothing was logged ... not sure if it means something

[code]

[2018-02-13 17:36] brb commented on #3243
**Scenario 1** seems to be an instance of https://github.com/weaveworks/weave/issues/3133 which should be fixed in the 2.2.0 release.

**Scenario 2**  Try creating VMs with more memory. From the dmesg log ^^ you can see that the kernel is struggling to allocate physical memory for OS processes, so the system might become unresponsive due to this.

[2018-02-13 20:24] rasheedamir commented on #3243
thanks for response @brb

Wondering why does k8s schedule more pods then a node can entertain?

Also we have seen that in some cases that node is removed with this message:

[code]

Does it give any indication?

[2018-02-14 03:49] Cryptophobia commented on #2624
Good question @zetaab

[2018-02-14 13:11] brb commented on #2624
@zetaab Yes, it's possible to implement it. You would need to extend weave-npc ([src](https://github.com/weaveworks/weave/tree/master/npc), [design doc](https://github.com/weaveworks/weave/blob/master/docs/weavenpc-design.md)) to make it manage appropriate iptables rules of the filter table and ipsets. I could guide you with implementation after you have familiarized yourself with the existing des

[2018-02-14 15:10] bjhaid commented on #2624
I stopped working on this, when you mentioned Martynas was working on it.

[2018-02-14 15:35] Cryptophobia commented on #2624
Can we give this feature some priority? I can try to take a look as well if help is needed.

NetworkPolicies are a feature that everyone wants and K8s is moving that way. Flannel supports them by integrating with Canal. Not sure if using Canal is possible with Weave since weave uses weave-npc.

Calico supports them: https://docs.projectcalico.org/v2.0/getting-started/kubernetes/tutorials/advanced-

[2018-02-14 15:56] zetaab commented on #2624
I think quite many enterprise wants egress networkpolicies as well. The common problem in kubernetes is that if you want connect to databases outside kubernetes - you need to open whole cluster towards databases. If we have lets say team1 and team2 using same cluster, we do not want that team2 cannot even connect to team1 database. Egress networkpolicies could help here, and thats why I want these

[2018-02-14 16:30] brb commented on #3243
Not sure. I think it's better to ask Kubernetes community (via Github issue / Slack).

EC2 status checks might fail due to many reasons. Anyway, I would suggest to consult AWS docs.

[2018-02-14 16:30] #3243 closed

[2018-02-14 16:39] brb commented on #2624
@bjhaid I guess there is some misunderstanding, as I've been working on the ingress policy and unfortunately I've never intended to work on the egress part (I'm Martynas, btw;-).

[2018-02-14 17:10] bjhaid commented on #2624
@brb sorry I mistook you for @bboreham my bad

[2018-02-18 08:27] cynepco3hahue commented on #3239
With tcpdump all works fine
[code]

[2018-02-19 11:08] bboreham commented on #2608
Closing: kube-peers [only looked at internal IPs](https://github.com/weaveworks/weave/blame/402fe094f4c8c75f52bdc828f17cd17c456c3541/prog/kube-peers/main.go#L39) at the time this was filed, and currently will use an external only if no internal IP is known.

[2018-02-19 11:08] #2608 closed

[2018-02-19 13:09] bboreham commented on #2603
Fixed in #3055

[2018-02-19 13:13] bboreham commented on #2748
I believe the line in the code is https://github.com/weaveworks/weave/blob/master/proxy/proxy.go#L228

[2018-02-19 13:19] bboreham commented on #2628
I believe the crux of this issue is that while the `weave-npc` program supports our usual command-line flag `--log-level`, it is nontrivial to edit this into the yaml for the DaemonSet.

Our config generator at cloud.weave.works allows you to add environment variables, so perhaps that is the way to go.

[2018-02-19 13:20] bboreham commented on #2011
Closing due long period with no evidence of an issue.

[2018-02-19 13:20] #2011 closed

[2018-02-19 13:23] bboreham commented on #228
I think we have pinned as much as we ever expect to.

[2018-02-19 13:23] #228 closed

[2018-02-19 13:28] bboreham commented on #1129
Some thoughts on how to do the change at https://github.com/weaveworks/weave/issues/1396#issuecomment-141942787

[2018-02-19 13:30] bboreham commented on #1421
Closing: it's been a long time since anyone asked about working with an existing bridge.

[2018-02-19 13:30] #1421 closed

[2018-02-19 13:34] bboreham commented on #1811
We removed all the deprecated options in 2.0

[2018-02-19 13:34] #1811 closed

[2018-02-19 13:37] bboreham commented on #2256
Closing: we don't use `publish-site` any more.

[2018-02-19 13:37] #2256 closed

[2018-02-19 13:39] bboreham commented on #2597
The [Kubernetes addon](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/) page does mention Weave Cloud.

[2018-02-19 13:45] bboreham commented on #2626
I don't think we'd want to resync objects in a typical health-check which will get called every few seconds.

[2018-02-21 11:24] brb commented on #3239
Thanks. I was expecting curl to fail, but it didn't.

Could you share the VM image or point me to Vagrantfile that I could run and debug myself?

[2018-02-21 11:25] brb commented on #2603
Shall we close the issue?

[2018-02-21 11:31] cynepco3hahue commented on #3239
You can check it via GitHub https://github.com/kubevirt/kubevirt/blob/master/Vagrantfile

[2018-02-21 11:45] #2603 closed

[2018-02-21 12:06] dhet opened #3244 "Bad Performance on ARM"
I'm currently messing around with weave net and Raspberry Pis (v2). I noticed that as soon as I install weave and set up the Docker API proxy, Docker starts responding noticably more sluggishly. So I ran a few throughput benchmarks using _iperf3_ to see if the slow response times also translate to networking performance. I ran tests in the following scenarios: (a) plain host-to-host communication,

[2018-02-22 07:57] NathanHaim opened #3245 "Fail to build weave on OSX and using vagrant"
Weave can't be built on OSX or with vagrant. There is some cross-compilation dependences broken. One of your engineer said it could come from the Dockerfile.

You can reproduce it by building on OSX with the following step:
- git clone project
- git submodule update --init --recursive
- make

OR using vagrant:
- git clone project
- git submodule update --init -- recursive
- vagrant up
- vagrant ss

[2018-02-22 08:14] bboreham commented on #3245
I use vagrant on OSX every day, created by `vagrant up` in this repo.

Looks like some dependencies have changed since we last created a build container.

I’m not sure what you are proposing - have two different build containers for with and without cross-CPU builds?

[2018-02-22 16:02] dostoevskoy commented on #3239
Hello,

I've met a similar problem, when I've tried to use a Kubernetes cluster with Weave Net plugin.
I've configured weave network by two ways:
- via yaml file and applying this file to kubernetes using kubeclt apply -f command
- via weave installation like a service according Weave documentation.

In both of cases I 've gotten a network between containers and containers could see each other and

[2018-02-22 16:08] brb commented on #3239
Hi @dostoevskoy,

Thanks for the info.

What is your distro, kernel vsn and weave vsn?

[2018-02-22 16:12] dostoevskoy commented on #3239
Distributive: SLES 12.0
Kernel version: 3.12.61-52.106-default
Weave version: Version: 2.2.0

[2018-02-23 07:36] NathanHaim commented on #3245
Sorry, I was not clear. I was thinking about giving the possibility to build without cross CPU builds by creating a second Dockerfile. But I should search to resolve these dependencies.

You don't have the error because a ``docker build`` is not occurring on your machine since you already have the image ready?
If the dependencies have changed, I have no idea how to properly get them. Do you have s

[2018-02-23 09:33] bboreham commented on #3245
There are already four or five Dockerfiles in this repo. The one failing in your screenshot is the “build container” which collects lots of dependencies and tools so you don’t need them on your host, then we run builds inside it and generate the output containers such as `weaveworks/weave`.

It’s common in the Linux world to find that upstream dependencies have changed, and to spend several hours

[2018-02-26 10:49] dogopupper opened #3246 "Weave down with: '[boltDB] Unable to open /weavedb/weave-netdata.db: timeout'"
## What you expected to happen?

Weave to be working

## What happened?

logs of the weave container consist solely of:
`[boltDB] Unable to open /weavedb/weave-netdata.db: timeout`

## How to reproduce it?

???

## Anything else we need to know?

k8s 1.8.7 on openstack
docker 1.12.6
weave 2.2.0
coreOS stable 1632.2.1

## Versions:

[code]
$ ip route
$ ip -4 -o addr
$ sudo iptables-save
[code]

[2018-02-26 11:10] bboreham commented on #3246
Is this only on one node or on several?

That path should be mapped (by the DaemonSet) from `/var/lib/weave` - could you run `lsof` on the host and see if something else has the file open?

[2018-02-26 11:23] dogopupper commented on #3246
several nodes:
[code]
only the ones with 2/2 work, about 40% of them

It appears to be bound to `weave-kube` , the weave container named `weave-kube` as well:
[code]

lsof - node with healthy weave:
multiple entries of
[code]

lsof -  node with unhealthy weave:
same as above but additional entries of:
[code]

what is weaveutil? seems like the culprit here

[2018-02-26 11:28] bboreham commented on #3246
`weaveutil` is where we put various bits of logic we moved from shell-script to Go.  In every case it should run briefly and then exit.

It does open `weave-netdata.db` to fetch an ID, but again that should be very brief.

Also I would not expect more than one of them at a time; could be an artefact of Kubernetes crash-loop restart?

Since it's written in Go, sending it a SIGQUIT should make it du

[2018-02-26 11:35] dogopupper commented on #3246
kubectl logs -c weave and docker logs <id> both show only the line of 'cannot open weavedb',
How to find the stacktrace?

[2018-02-26 11:38] bboreham commented on #3246
It would be in the log of the container where `weaveutil` was running.  Maybe something else is going on - could you be running another instance of `weaver` (the daemon itself) on that machine?

[2018-02-26 12:29] dogopupper commented on #3246
there doesn't seem to be any weaver daemon running in the nodes...

[2018-02-26 12:33] dogopupper commented on #3246
something that might be interesting:

grepping the `weaver` binary for `bolt` produces this blob of errors:
[code]

doesn't seem like a stacktrace but might be helpful?
this can be seen on the weave containers that fail to start - on the ones that are working it's not present.

[2018-02-26 12:48] bboreham commented on #3246
You're grepping the binary - the control plane for the Weave Network. The binary contains all possible error messages.

You showed `weaver` in the output of `lsof` above.  It would be visible with a `ps -eaf` or similar run on the host.

[2018-02-26 13:03] dogopupper commented on #3246
$ ps -eaf | grep weaver
root      8532     1  6 Feb22 ?        05:39:56 /home/weave/weaver --port=6783 --datapath=datapath --name=46:d9:39:96:93:ef --host-root=/host --http-addr=127.0.0.1:6784 --status-addr=0.0.0.0:6782 --docker-api= --no-dns --db-prefix=/weavedb/weave-net --ipalloc-range=172.31.0.0/17 --nickname=devtoolskubernetes-kubernetes-cr1-4-1519310384 --ipalloc-init consensus=12 --conn-lim

[2018-02-26 13:14] bboreham commented on #3246
The stack trace of interest is in `weaveutil` - it's holding the file open when it ought to exit very quickly.  `weaver` has printed an error message so we know what it thinks.  (Although I would also expect `weaver` to exit after that error).

Next, the trouble with a raw stacktrace from the process is that Go multiplexes different parts of the program ("goroutines") onto the same OS thread (LWP)

[2018-02-26 13:36] dogopupper commented on #3246
there doesn't seem to be a weaveutil running now in either the working or nonworking nodes:

core@devtoolskubernetes-kubernetes-cr2-4-1519307879 ~ $ ps -eaf | grep weave
root      5858  5841  0 Feb22 ?        00:00:00 /home/weave/runsvinit
root      9443  9425  0 Feb22 ?        00:09:24 /usr/bin/weave-npc
root     10954 10935  0 Feb22 ?        00:00:00 /bin/sh /home/weave/launch.sh
root     11015

[2018-02-26 14:18] bboreham commented on #3246
That's a new one on me.

LWPs are pretty much processes that share the same address space.  You can list them with `ps -eLf` for instance, and then `cat /proc/pid/stack` as before.

Could you try rebooting one of the non-working nodes?  If it's a transient thing that ought to shake it loose, and if fails again that would also be interesting.

[2018-02-26 14:24] dogopupper commented on #3246
rebooted the non working nodes, now weave is running in all of them and cluster is back to a healthy state.

If it shows again i'll paste the stacktraces here. Thanks for the help!

[2018-02-27 10:21] brb commented on #3244
Thanks for the report.

First of all, I would note that probably you are performing benchmarks on two very different machines: Raspberry Pi (ARMv7) vs ??? (X86_64). I guess the latter is more powerful than the former. It matters when using the sleeve mode which can be CPU intensive, and thus on a slower machine it can take a significant part of CPU slices from the system making it sluggish. You co

[2018-02-27 11:06] alok87 opened #3247 "Weave NPC Container Crashes and Keeps Restarting"
## What you expected to happen?
I expected weave-npc container to not crash and keep running

## What happened?
Our weave npc container keeps crashing with the error show below. And Kubernetes restarts it.
[code]

## How to reproduce it?
Not sure how to reproduce it.

## Anything else we need to know?
Cloud provider: aws
Kubernetes version: 1.7.6
Weave version: 2.2.0 https://github.com/weaveworks/

[2018-02-27 11:35] bboreham commented on #3247
Is that the whole log?  There should be a line like this:

[code]

[2018-02-27 11:45] alok87 commented on #3247
[code]

[2018-02-27 11:53] bboreham commented on #3247
Yes, I know the log is huge; it's huge because we logged everything we would need to debug complex issues.  And now you have an issue and I can't debug it unless I can see everything I need to see.

In particular, the one ipset from your error message should have been flushed and then destroyed, with each step logged.  But it would be more efficient for you just to upload the whole log.

[2018-02-27 13:31] dogopupper commented on #3246
Happens again in a few nodes:

$ ps -elF | grep weave
_4 S root       324 32700  0  80   0 - 110460 -      9468   6 12:49 ?        00:00:03 /usr/bin/weaveutil set-db-flag /weavedb/weave-net peer-reclaim ok_

 $ sudo cat /proc/324/stack
[<ffffffff890f6d27>] futex_wait_queue_me+0xc7/0x120
[<ffffffff890f7546>] futex_wait+0xf6/0x250
[<ffffffff890f978f>] do_futex+0x10f/0xb10
[<ffffffff890fa211>] SyS_fu

[2018-02-27 13:42] bboreham commented on #3246
That's useful - I had thought it was a different execution of `weaveutil`

I'm not clear what that "the rest" list shows.

To make progress I really need to know how we get two processes on the same machine that are both trying to access `weave-netdata.db` at the same time. What are those processes and where did they come from (are they both in the same container?  If not, who started the differen

[2018-02-27 14:04] dogopupper commented on #3246
that's the rest of ps -elF output.

weave runs as a daemonset, a `kubectl get pods -o wide | grep weave` shows distinct nodes.
what else could be trying to access weavedb at initialization within the container?

from what I understand the process tree is: weaver -> weave-npc -> weaveutil ?
weave-npc seems to operate normally in all pods.

weaveutil also spawns threads, not sure if this helps:
[cod

[2018-02-27 14:11] alok87 commented on #3247
@bboreham here is the log for the `ipset` which failed to create as it existed
$ cat weave-npc.log | grep "weave-IdwzZLfj(%b(2#AY)mt/Me/~X"
[code]

[2018-02-27 14:23] brb commented on #3246
Could you give us Go stack traces of the stuck `weaveutil` process? You can get the traces by:

1. Run `lslocks` to get a PID of a process holding a lock (`flock(2)`) for `weave-netdata.db`. Faster than with `lsof`.
2. Run in the shell `strace -e write -s100000 -fp $PID 2> /tmp/weaveutil-strace`.
3. While ^^ is running, run `kill -SIGQUIT $PID`.
4. Quit the strace process and upload `/tmp/weaveutl

[2018-02-27 14:52] dogopupper commented on #3246
Thanks for the steps, couldn't find how to produce that.

I found that there was a hacky init-container in place that reset the weavedb before starting weave, it was a workaround for a bug that was recently fixed. I've now rebooted the nodes and removed the initcontainer so I don't have a stuck weaveutil until it's hit again - maybe that initcontainer was the problem.

I'll update with the stacktr

[2018-02-28 04:14] alok87 commented on #3247
@bboreham This happened because the weave-npc on namespace deletion is not getting deleted and so when the same name namespace is getting created it crashes.

I was able to reproduce the issue by doing below.

- `kubectl create ns sft`
[code]
$ /usr/bin # ipset list --name --output plain | grep oeX/A4Ab
weave-oeX/A4Ab^wUC[|iq]$IF+zlj$

- `kubectl delete ns sft`
[code]

[2018-02-28 04:43] alok87 commented on #3247
@bboreham The weave-npc crashes because it is trying to create a ipSet which already exists. It already exists because the last deletion did not clear the ipSet. The ipSet mentioned here https://github.com/weaveworks/weave/blob/2ab01b55c968b942ce0b4d01304ccfff055dc78f/npc/namespace.go#L380 is not getting deleted.

I was able to reproduce the issue by doing below.

- `kubectl create ns aks`
[code]

[2018-02-28 10:44] alok87 commented on #3247
@bboreham When namespace is getting terminated and at that time if we try destroying the `ipSet` it fails. But as soon as the namespace gets terminated same command to destroy works.

- Time when the namespace `aks` is in `Terminating` state and we try to delete `ipSet`. It fails
[code]

- Time when the namespace `aks` is `Terminated`  and we try to delete `ipSet` It works
[code]

[2018-02-28 10:48] bboreham commented on #3247
That's great troubleshooting, @alok87 !

Is that `Set cannot be destroyed` message in the weave-npc log?

[2018-02-28 10:55] alok87 commented on #3247
@bboreham I do not see anything in the log.
`$ kubectl logs weave-net-xmc1z -n kube-system -c weave-npc  | grep -i "Set cannot be destroyed"`

[2018-02-28 14:18] bboreham commented on #3247
Do you mean they keep restarting every time you delete a namespace, or they restart again and again without pause?

If the problem is triggered by a particular namespace delete event, why would the pods keep on restarting?

[2018-02-28 14:40] alok87 commented on #3247
@bboreham So we have a case where we create and delete namespace multiple times during the day. Whenever a namespace is deleted alls fine weave-npc does not restart. But whenever we create the namespace again the weave-npc crashes with the error as mentioned above. And it then starts.

[2018-02-28 14:42] bboreham commented on #3247
OK, just wanted to check the crash was associated with a particular event.

[2018-02-28 16:59] bboreham commented on #3222
Fixed by #3237

[2018-02-28 16:59] #3222 closed

[2018-02-28 22:04] mikebryant opened #3249 "weave-net doesn't update the `NetworkUnavailable` node status on GCE"
## What you expected to happen?

For weave-net networking to work on GCE

## What happened?

weave-net runs on a node, but the node has a `NetworkUnavailable` status so no pods are scheduled

## How to reproduce it?

## Anything else we need to know?

GCE, custom

See also:
- https://github.com/kubernetes/kubernetes/issues/44254
- https://github.com/kubernetes/kubernetes/pull/33573
- https://githu

[2018-02-28 22:05] mikebryant commented on #3249
Presumably weave-net or weave-kube should update the node status once weave comes up and is working?

[2018-02-28 22:06] mikebryant commented on #3249
(Also related #2896)

[2018-02-28 22:17] bboreham commented on #3249
Was that the resolved "correct" way to do it?  Is it documented anywhere?
There was a lot of discussion starting from https://github.com/kubernetes/kubernetes/pull/33438 but none of those PRs got merged.

I would think Weave should signal to kubelet which updates the node status. Pretty sure there isn't a way to do that.

[2018-02-28 22:43] mikebryant commented on #3249
I'm looking in particular at comments like https://github.com/kubernetes/kubernetes/pull/33573#issuecomment-251987336

It looks to me like the current behaviour is that the gce controller sets this up and expects any network plugin in use to set it, which is why it doesn't work.

And currently either the network plugin needs to set it, or you disable the gce cloud provider (which then means volume

[2018-02-28 22:49] mikebryant commented on #3249
current code has a special case for gce in `providerRequiresNetworkingConfiguration`

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_network.go#L150-L160

This then gets used here to unconditionally set this to false

https://github.com/kubernetes/kubernetes/blob/b1ef631e5971f649effd51905444c2eeee58e8b1/pkg/kubelet/kubelet_node_status.go#L257

So not sure if it's in the d

[2018-02-28 22:59] mikebryant commented on #3249
In the interest of getting my cluster working, I might hack something together that I can run as a sidecar in the weave-net DaemonSet. It would be useful to validate if that's a useful approach, anyway. (If it does some basic healthchecking on weave-net, might be able to solve #2896 too)

Not sure if this is the correct long-term solution

[2018-03-01 02:48] josiahjohnston commented on #3165
I'm also encountering this issue, and can't even figure out what tainted our AWS instances. Rebuilding on new amazon VMs didn't work for me though, even though I followed my notes exactly, which previously worked.

[2018-03-01 10:27] bboreham commented on #3245
Thanks to @luxas who pointed me at https://github.com/kubernetes/kubernetes/commit/f482b17e99e9f9ac49cf3578f40b157ce9821986#diff-cecd92099afe8834b084bfc9bbc0e980R56

[2018-03-01 16:43] dogopupper commented on #3246
Hit the bug again, got the strace this time ^^

let me know if it's sufficient.

[code]

lslocks didnt have any reference to weaveutil or weavedb:
[code]

[2018-03-01 16:45] mikebryant commented on #3249
Current WIP:
Add to ClusterRole:
[code]

Add another container to DaemonSet:
[code]

Obvioiusly not doing actual healthchecking of weave etc, but testing this now to see if I can get a cluster up and running

[2018-03-01 16:57] dogopupper commented on #3246
or: https://pastebin.com/kpXBa25J

[2018-03-01 21:02] notmaxx opened #3252 "weave doesn't stay on fastdp, switches to sleeve and never comes back"
## What you expected to happen?
Weave stays in `fastdp` mode

## What happened?
Weave switches to `sleeve` mode

## How to reproduce it?
After running some production load for 1-2 weeks most of weave's connection switched to `sleeve`

## Anything else we need to know?
- AWS, us-east-1, 3 subnets in 3 AZs, machines: r4.2xlarge & m4.2xlarge, around 20 nodes total
- some sysctl tuning done (i can pro

[2018-03-02 04:04] notmaxx commented on #1737
Any plans to implement return from `sleeve` to `fastdp`?

I opened ticket that might be related http://github.com/weaveworks/weave/issues/1737

[2018-03-02 12:24] brb commented on #3165
@josiahjohnston Could you provide more info:

- What is exact issue?
- What are the symptoms? Do you see `Received update for IP range I own <..>` when running `./weave --local status connections` as shown above?
- What is your setup (kops vsn, how many kops instance groups)?

[2018-03-02 12:53] brb commented on #3246
Thanks for the strace. I see that the `weaveutil` process is sleeping after an unsuccessful attempt
to acquire the lock: https://github.com/boltdb/bolt/blob/c6ba97b89e0454fec9aa92e1d33a4e2c5fc1f631/bolt_unix.go#L38

From the `lslocks` output it looks that you run everything in rkt containers. Is it correct?

[2018-03-02 13:28] brb commented on #3252
@notmaxx Thanks for the detailed issue.

However, as you have already pointed out, it's a known issue. One possible workaround is to restart the `weaver` process which would reconnect to its peers, so that `fastdp` could be chosen again.

[2018-03-02 13:28] #3252 closed

[2018-03-02 13:29] brb commented on #1737
Sorry, no plans yet. However, PR is more than welcome!

[2018-03-02 15:17] dogopupper commented on #3246
Yes, everything is in rkt, the k8s control plane itself also - it's self-hosted / masterless.

k8s pods run with docker.

Is there any chance docker/containerd might be the culprit here?

[2018-03-02 16:32] brb commented on #3246
My suspicion is that `flock(2)` is not working on your setup.

Does it mean that Docker is running _on top_ of rkt?

Also, is `weaver` running inside a Docker container or a rkt container?

[2018-03-02 16:56] dogopupper commented on #3246
hmm, kubelet runs within rkt, and all pods in docker - weaver is running in docker. hyperkube images also run in docker managed by k8s, which run the rest of the k8s control plane - scheduler etcetera.

on the coreOS VM:
[code]

that's the lslocks output from within the weave docker container - it has locks to rkt kubelet land like
`/var/lib/rkt/pods/run/49125d7a-4595-4598-aa3f-e4fe4224427b/stage1

[2018-03-02 19:23] notmaxx commented on #3252
@brb is it ok I see VXLAN packets drop? any idea how to avoid them or make less disruptive?

[2018-03-02 19:26] notmaxx commented on #1737
@brb regarding, help, do you have any design documents or ideas how it should work correctly? any WIP?

[2018-03-02 22:58] rajatjindal commented on #3246
we are running into same issue as well after updating the our cluster few days back. In our case, only one node is the problem, all other nodes work just fine.

Our setup is:
==========

Kubernetes: 1.8.5
AWS (deployed using kops 1.8.1)

output from strace command:

strace -e write -s100000 -fp 8393
strace: Process 8393 attached with 17 threads
[pid  8608] write(2, "WARN: 2018/03/02 04:30:33.55893

[2018-03-05 08:40] bboreham commented on #3246
@ratinjal please open a new issue and post the full logs.

[2018-03-05 10:03] dhet commented on #3244
Ah, I see. I wasn't aware that the overlay puts so much load on the CPU. I measured CPU utilization as you suggested and and as it turns out the Raspberry Pi hits a CPU-bound wall at around 21 Mbit/s when using encrypted sleeve mode, and at around 50 Mbit/s when using encrypted fast dp.

Thanks!

[2018-03-05 10:30] brb commented on #3252
@notmaxx VXLAN runs over UDP which does not provide any guarantee on delivering, so delivery of VXLAN packets depend on your network reliability.

Out of curiosity, did you check whether the fallback happens between nodes running in different AZs?

[2018-03-05 11:32] brb commented on #1737
Sorry, but AFAIK there is no WIP or a design doc. Also, I haven't thought about it much.

https://github.com/weaveworks/weave/blob/v2.2.0/router/overlay_switch.go is responsible for choosing which overlay (in most cases it is either `sleeve` or `fastdp`) to use between two peers.
Each overlay sends a periodic heartbeat messages to detect any failures in an overlay connection. E.g. when `fastdp` ti

[2018-03-05 11:33] brb commented on #3244
Thanks for the follow-up.

[2018-03-05 11:33] #3244 closed

[2018-03-05 12:54] brb commented on #3246
@dogopupper
1. What overlay fs is used for rkt and Docker containers?
2. When the issue hits again, could you run on the affected node (not from the weave container): `ps -eLf > /tmp/foo && lslocks >> /tmp/foo && lsof >> /tmp/foo` and upload `/tmp/foo`?

[2018-03-05 16:53] dogopupper commented on #3246
docker uses `overlay` (1), rkt is vanilla/unconfigured, coreos site says it defaults to 'overlayfs'.

overlay2 should be better I suppose?

i'll post the outputs when they're available.

[2018-03-06 03:40] notmaxx commented on #3252
@brb:

it was my first idea but surprisingly i found that switch to `sleeve` didn't really depend on cross-AZ traffic. Correlation is a bit different - nodes containing pods handling more traffic than others tend to have higher number of dropped packets and have more connections switched to `sleeve` in general.
Interesting fact to me is VXLAN TX DROP packets is not zero. @bboreham had idea kernel

[2018-03-06 11:53] petergardfjall commented on #3247
We are seeing the exact same issue here. Just wanted to corroborate @alok87's finding.

The following sequence of commands brings down all weave pods:

[code]

The logs from a weave pod while running those commands:
[code]

[2018-03-06 13:39] alok87 commented on #3247
@petergardfjall Yes it is the same issue, the fix PR #3250 is under approval. You can use this image `alok88/weave:del_default_ipset` we have built from the PR  #3250 branch as a temporary fix. It works for us in staging cluster where we were facing the issue and `weave-npc` container has stopped restarting after that.

[2018-03-07 19:17] bricef opened #3254 "Weave net fails to run when a valid address range is specified"
## What you expected to happen?
The `--ip-alloc` option should accept all valid IP address ranges.

## What happened?
When using the ip address `10.118.0.0/12`, which is a valid CIDR range, weave fails with

[code]

[2018-03-07 19:23] rade commented on #3254
No, that's not a valid CIDR range. The error message is correct. "10.118.0.0" has the 15th MSB set, hence "bits after the network prefix (of 12 bits) are not all zero".

[2018-03-07 19:31] #3254 closed

[2018-03-07 20:05] bricef commented on #3254
Huh, I always thought it was ok to specify ranges with host bits set. My bad.

[2018-03-08 12:00] brb commented on #3252
It could be the reason.

A few ideas:

1. Do you have the kernel module `aesni_intel` enabled (fastp crypto uses AES-GCM)?
2. Have you checked with `ethtool -k $IFACE` whether your network driver and card have special capabilities for offloading ipsec (e.g. `esp-hw-offload`)?
2. Have you tried monitoring udp tx queue (e.g. via `/proc/net/udp`) to see whether it becomes full during a peak time? You

[2018-03-08 13:01] #3247 closed

[2018-03-08 13:46] brb commented on #3252
One more thing - maybe you have an output of `dmesg` from any machine which switched to `sleeve` and which vxlan tx drop > 0?

[2018-03-08 14:48] Godley commented on #3246
Issue came back, here's the output from the command you requested on one unhealthy node.
[output.txt](https://github.com/weaveworks/weave/files/1793574/output.txt)

[2018-03-08 14:52] brb commented on #3246
Thanks! Could you run `lsof` from root?

[2018-03-08 15:04] Godley commented on #3246
I'm going to leave this to @dogopupper, he's more up to speed on this than I am.

[2018-03-08 15:12] dogopupper commented on #3246
Got all outputs this time.

from lslocks:
[code]

the locks in docker/overlay and etc/resolv.conf within the rkt hyperkube (kubelet) container are interesting and apparent in all nodes that are malfunctioning and weave gets in a crashloop (error syncing pod, probes failing etc) - logs of weave container have the same symptom as the title.

that whole rkt land path and docker overlay within rkt loo

[2018-03-08 15:44] rajatjindal commented on #3246
In our case it turned out prometheus was consuming all the resources available on that node (potentially because we configured a remote write on prometheus which was down and thus prometheus was queuing up)

Once i disabled remote write, everything is working since.

[2018-03-08 16:30] bboreham commented on #3246
@rajatjindal that's a great insight - we sometimes see Prometheus chewing up all memory on other clusters, but we don't really understand the mechanism since it's supposed to drop data when the queue gets over a certain size.

Did you log an issue with Prometheus?

[2018-03-08 16:43] tylerauerbeck opened #3255 "Migrate CircleCI to V2"
CircleCI is deprecating the V1 config : https://circleci.com/blog/sunsetting-1-0/

We should move to the V2 config prior to the deprecation date.

[2018-03-08 16:49] bboreham commented on #3255
Thanks for the pointer.

I made a start at https://github.com/weaveworks/weave/compare/circle20, but got sidetracked.

[2018-03-08 16:50] dogopupper commented on #3246
resource utilization is very low in this specific cluster - about 2-20% cpu and 5-30% memory. there's an occassional 2-15% i/o wait in the k8s nodes every 30 secs or so.

[2018-03-08 16:54] dogopupper commented on #3246
I'll post some systemd units that might be related, on node configuration:

[code]

[2018-03-08 17:53] rajatjindal commented on #3246
@dogopupper i think another issue here might be that if at some point system was under load and impacted weave, weave might have failed to recover from that state?

[2018-03-08 17:59] mikebryant commented on #3246
[devtoolskubernetes-kubernetes-cr0-1-1519311725.txt](https://github.com/weaveworks/weave/files/1794197/devtoolskubernetes-kubernetes-cr0-1-1519311725.txt)

There's some interesting features here (excerpts from the above log)

A `weaver` process, that's been reparented to init:
[code]

A lock, held by the above `weaver`:
[code]

I wonder how that `weaver` has managed to survive the termination of i

[2018-03-08 22:50] dogopupper commented on #3246
@rajatjindal that's unlikely - there are (aggressive) resource limits everywhere and the cluster doesn't run anything resource intensive.. e.g. the most resource hungry thing running is Weave Scope

[2018-03-12 12:11] bboreham commented on #3245
Fixed by #3253, thanks!

[2018-03-12 12:11] #3245 closed

[2018-03-12 13:53] SpComb commented on #1245
Here's an example of how this behaves... the behavior depends on on the exact layout of the bits in the client/server container addresses: https://gist.github.com/SpComb/c509bd064bc75151e6b41e8bc949d13f

For multiple server addresses in the same subnet as the client, glibc seems to use a longest-prefix match to sort the destination addresses:

* https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=43

[2018-03-12 13:56] SpComb commented on #1245
WTF github, I did not unassign anyone... must be some accidential keyboard hotkey.

Anyways, best workaround I can figure out for this would indeed be to only return a single randomly chosen A record for such round-robin service names... in the case of servers going down, that would rely on the client applications to retry resolving and connect to a different IP (in addition to healtchecks to remo

[2018-03-12 17:50] brb commented on #3247
FYI, the fix has been released in Weave Net 2.2.1: https://github.com/weaveworks/weave/releases/tag/v2.2.1

[2018-03-13 06:28] vivek-jain opened #3256 "Weave container restarting dur to liveliness probe"
## What you expected to happen?

Weave pod container to not get restarted multiple times.

## What happened?
Weave container within the pod is getting restarted due to liveliness probe. Strangely, this is happening only on the nodes with the noderole: "default".

## How to reproduce it?
Not sure.

## Anything else we need to know?
Cloud provider: AWS

## Versions:
[code]

## Logs:
[code]

## Netwo

[2018-03-13 06:43] vivek-jain commented on #3256
[weave.log](https://github.com/weaveworks/weave/files/1805745/weave.log)

Weave logs attached for the container's previous run.

[2018-03-13 07:37] davejrt opened #3257 "Generated yaml from kubectl apply in release has minReadySeconds in the wrong place"
## What you expected to happen?

Weave 2.2.1 to install without error.

## What happened?

When running `kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"` the following error is produced.

error validating data: ValidationError(DaemonSet.spec.template.spec): unknown field "minReadySeconds" in io.k8s.api.core.v1.PodSpec

## How to reproduce i

[2018-03-13 08:40] bboreham commented on #3257
Oops, sorry about that. Have rolled back that change.

[2018-03-13 09:54] bboreham commented on #3256
There is no evidence in the above that it was killed due to liveness probe.  To show that you'd need a bit more from the kubelet log, covering the time when the process died.

From a different log you showed on Slack, the process seemed to be hung.  What I'd like you to do to diagnose this is to get onto the box, find the `weaver` process, and send it a SIGQUIT.  The stack-trace where it is hung w

[2018-03-13 10:14] bboreham opened #3258 ""exchange full" message from CNI plugin"
Seen on [Kubernetes Slack](https://kubernetes.slack.com/archives/C09QYUH5W/p1520882917000492):

[code]

Speculating that maybe there were too many connections on the bridge - default limit is 1024.

[2018-03-13 10:22] vivek-jain commented on #3256
Sure @bboreham please find attached the trace after sending SIGQUIT signal.
[sigquit.log](https://github.com/weaveworks/weave/files/1806470/sigquit.log)

[2018-03-13 10:27] yanhongwang commented on #3016
Hello all,

In my Kubernetes cluster, SlaveIP:80 can be shown by netstat and accessed by browser.
but MasterIP:80 **can't be opened**.

I think portmap plugin have already enabled by slave side.
But, why doesn't on master side?

My environment condition:

Ubuntu: 16.04 LTS
Kubernetes: 1.9.3
Docker-ce: 17.03.2~ce-0~ubuntu-xenial
Weave Net: 2.2.1

I follow the official Kubernetes ingress page.
https

[2018-03-13 10:37] bboreham commented on #3016
@yanhongwang please open a new issue rather than muddling an existing conversation.

However `hostNetwork: true` means that the pod will use the host network, rather than Weave Net (or any other CNI plugin), so this is not a Weave Net issue at all.

[2018-03-13 10:47] davejrt commented on #3257
Just tested successfully, thanks for the quick turnaround @bboreham

[2018-03-13 10:49] bboreham commented on #3257
We rolled back the change; let's keep this open until we push a new version that works.

[2018-03-13 11:03] yanhongwang commented on #3016
@bboreham

Thanks.
Sorry for muddling.

Hong

[2018-03-15 13:36] brb commented on #3246
@mikebryant Great findings! Any idea how the weaver process got frozen (maybe there are some entries in journald or dmesg logs)?

[2018-03-15 15:59] carlosedp opened #3259 "Update from 2.2.0 to 2.2.1 leaves Weave pods in CrashLoopBackOff"
## What you expected to happen?

Have Weave Net pods updated

## What happened?
I fetched the newest manifest to update from 2.2.0 to 2.2.1 using:
`kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"`

After this, the Weave pods in the cluster restarted and went to CrashLoopBackOff. The logs asked for a Weave reset.

I did a `weave reset` in al